//============================================
// サイト幅でセンタリング
//============================================
@mixin center{
	width: $baseWidth;
	margin: 0 auto;
	// @include sp{
	// 	width: auto;
	// }
}
//============================================
// Limit min width 
//============================================
@mixin containerWidth{
	width: $containerWidth;
	margin: 0 auto;
	// @include sp{
	// 	width: auto;
	// }
}


//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

//============================================
// breakpoint
//============================================
@mixin sp {
 	@media screen and (max-width: #{$breakpoint1}) {
    @content;
 	}
}

