//baseWidth
$baseWidth:1080px;

// Breakpoint
$breakpoint1:767px;
$breakpoint2:480px;

// Common Colors
$color-green:#00634b;
$color-green2:#004534;

$color-gray:#cccccc;

$color-text:#333333;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;

//containerWidth
$containerWidth: 940px; 

