
		<div class="bg-footer">
            </div>
            <div class="fGroup">
                <div class="c-wraper" class="fGroup-inner">
    
                    <div class="fGroup-logo f-left">
                        <img src="assets/img/ft-logo.jpg" alt="Logo">
                        <div class="fGroup-logo-text">
                            <p>総和建設は、東京都・神奈川県を中心に型枠工事を展開する建設会社です。</p>
                        </div>
                    </div>
    
                    <div class="fGroup-contact f-left">
                        <p>〒243-0211 神奈川県厚木市三田3282-2</p>
                        <img src="assets/img/ft-tel.jpg" alt="046-280-6667">
                        <p>FAX：046-241-8123</p>
                        <p>受付時間／8：00～18：00　定休日／日・祝</p>
                    </div>
    
                    <div class="fGroup-email f-right">
                        <table class="table-fGroup-email">
                            <tr>
                                <td class="col-1">ホーム</td>
                                <td class="col-2">会社案内</td>
                                <td class="col-3">施工事例</td>
                            </tr>
                            <tr>
                                <td class="color">新着情報・お知らせ</td>
                                <td>業務内容</td>
                                <td>求人案内</td>
                            </tr>
                        </table>
                        <div class="footer-button">
                            <a href="#" class="contact">メールでのお問い合わせはこちら</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="copyright">
                <div class="c-wraper">
                    <p>©SOUWAKENSETSU ALL RIGHTS RESERVED.</p>
                </div>
            </div>