@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*------------------------------------------------------------
header
------------------------------------------------------------*/
/* PC
------------------------------------------------------------*/
.c-headPC {
  border-bottom: 1px solid #CCC;
}

.c-headPC__inner {
  height: 80px;
  width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-headPC ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.c-headPC li {
  margin-left: 20px;
}

.c-headPC li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #333333;
}

/* 
------------------------------------------------------------*/
.c-gnavi ul {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 1px solid #cccccc;
}

.c-gnavi li {
  width: 25%;
  border-right: 1px solid #cccccc;
}

.c-gnavi a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  height: 40px;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333333;
}

/* SP
------------------------------------------------------------*/
/*------------------------------------------------------------
footer
------------------------------------------------------------*/
footer {
  width: 100%;
  height: 514px;
  overflow: hidden;
}

footer .ft-image {
  width: 1080px;
  margin: 0 auto;
}

/* Sitemap
------------------------------------------------------------*/
.c-footSitemap {
  border-top: 1px solid #CCC;
  background: #000;
  padding: 45px 0;
}

.c-footSitemap__inner {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-footSitemap p {
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.c-footSitemap ul {
  font-size: 12px;
}

.c-footSitemap li {
  margin-top: 6px;
}

.c-footSitemap a {
  text-decoration: none;
  color: #fff;
}

/* Copyright
------------------------------------------------------------*/
/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
body {
  line-height: 1.6;
  background-image: url("../img/bg_page.jpg");
}

/*
------------------------------------------------------------*/
.l-content {
  width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*
------------------------------------------------------------*/
.l-main {
  width: 800px;
  margin-top: 50px;
}

/*
------------------------------------------------------------*/
.l-side {
  width: 220px;
  margin-top: 50px;
}

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
benner
------------------------------------------------------------*/
.c-banner1 {
  height: 610px;
  min-width: 940px;
}

.c-banner1 .bg {
  background: url(../img/index/bg.jpg);
  display: block;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.c-banner1 .bg-inner {
  width: 940px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
title
------------------------------------------------------------*/
.c-title1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.c-title1 .text-p {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.c-title1 .text-p::after, .c-title1 .text-p::before {
  content: '';
  border-bottom: 2px solid #cccccc;
  top: 45%;
  position: absolute;
  height: 5px;
  width: 9999px;
}

.c-title1 .text-p::before {
  right: 100%;
  margin-right: 15px;
}

.c-title1 .text-p::after {
  left: 100%;
  margin-left: 15px;
}

.c-title1 .text-p--1 {
  font-size: 30px;
}

.c-title1 .text-p--2 {
  font-size: 22px;
}

.c-title1 .text-c {
  font-size: 18px;
}

/*------------------------------------------------------------
image
------------------------------------------------------------*/
.c-imageList1 {
  width: 940px;
  margin: 0 auto;
}

.c-imageList1 .imageList1-row {
  margin-bottom: 20px;
  display: inline-block;
}

.c-imageList1 .imageList1-row:last-child {
  margin-bottom: 0px;
}

.c-imageList1 .wraper {
  background-color: #00634b;
  float: left;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 5px;
  width: 220px;
}

.c-imageList1 .wraper:last-child {
  *zoom: 1;
  margin-right: 0px;
}

.c-imageList1 .wraper:last-child:after {
  display: block;
  content: "";
  clear: both;
}

.c-imageList1 .wraper .thumnail {
  height: 120px;
}

.c-imageList1 .wraper .title {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding-top: 20px;
}

.c-imageList1 .wraper .button {
  width: 130px;
  height: 35px;
  font-size: 12px;
  margin: 0 auto 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #004534;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-imageList1 .wraper .button a {
  color: #fff;
  text-decoration: none;
}

.c-imageList1 .wraper .button a:hover {
  color: #fff;
}

.c-imageList1 .wraper .guide .comment {
  width: 170px;
  margin: 20px auto 0px;
  position: relative;
  color: #fff;
}

.c-imageList1 .wraper .guide .comment::before {
  content: 'インターネット限定';
  font-size: 14px;
  position: absolute;
  top: 4px;
  left: 22px;
}

.c-imageList1 .wraper .guide .detail {
  width: 170px;
  text-align: center;
  margin: 0 auto;
}

.c-imageList1 .wraper .guide .detail span {
  font-size: 24px;
  color: #fff;
}

.c-imageList1 .wraper .guide .detail span:last-child {
  font-size: 18px;
}

.c-imageList1 .wraper .guide .button_inner {
  width: 180px;
  height: 45px;
  font-size: 12px;
  margin: 0 auto 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fab445;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-imageList1 .wraper .guide .button_inner a {
  color: #000;
  text-decoration: none;
}

.c-imageList1 .wraper--last {
  background-color: black;
}

.p-index1 {
  margin-top: 40px;
}

.p-index2 {
  width: 940px;
  margin: 0 auto;
  margin-top: 60px;
}

.p-index3 {
  margin-top: 40px;
}

.p-index4 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.p-index5 {
  background-color: rgba(156, 131, 91, 0.1);
  padding-top: 70px;
}

.index-ads {
  width: 940px;
  margin: 0 auto;
}

.index-ads .ads-1,
.index-ads .ads-2 {
  display: inline-block;
  position: relative;
}

.index-ads .ads-2 {
  float: right;
  *zoom: 1;
}

.index-ads .ads-2:after {
  display: block;
  content: "";
  clear: both;
}

.index-ads .ads-2::after {
  content: '';
  background-image: url("../img/index/btn-ads-2.png");
  width: 130px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  left: 70px;
}

.index-ads .ads-1::after {
  content: '';
  background-image: url("../img/index/btn-ads-1.png");
  width: 130px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.group-info {
  display: table;
  width: 940px;
  margin: 0 auto;
}

.group-info img {
  width: 100%;
}

.group-info .col-1,
.group-info .col-2 {
  width: 460px;
}

.group-info .col-1 {
  float: left;
}

.group-info .col-2 {
  float: right;
  *zoom: 1;
}

.group-info .col-2:after {
  display: block;
  content: "";
  clear: both;
}

.group-info .gallery img {
  width: 100%;
}

.group-info .gallery .item {
  color: #fff;
  background-color: #00634b;
  float: left;
  border-radius: 5px;
  margin-bottom: 20px;
}

.group-info .gallery .item--c {
  float: right;
  *zoom: 1;
  margin-right: 0px;
}

.group-info .gallery .item--c:after {
  display: block;
  content: "";
  clear: both;
}

.group-info .gallery .item .gallery-image {
  width: 220px;
  height: 145px;
  position: relative;
}

.group-info .gallery .item .gallery-image .text {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fab445;
  height: 25px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group-info .gallery .item .title {
  height: 85px;
  line-height: 20px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group-info .group-icon {
  display: inline-block;
}

.group-info .group-icon .icon-1 {
  float: left;
}

.group-info .group-icon .icon-2 {
  float: right;
  margin-left: 12px;
  border: 1px solid #ccc;
  /* border-radius: 7px; */
  background-color: #fafafa;
  height: 110px;
  overflow: hidden;
  *zoom: 1;
}

.group-info .group-icon .icon-2:after {
  display: block;
  content: "";
  clear: both;
}

.group-info .social {
  margin-top: 20px;
  display: inline-block;
}

.group-info .social .twitter, .group-info .social .youtube {
  margin-top: 20px;
}

.group-info .social .twitter {
  float: left;
}

.group-info .social .youtube {
  float: right;
  *zoom: 1;
}

.group-info .social .youtube:after {
  display: block;
  content: "";
  clear: both;
}

.google-map {
  width: 940px;
  margin: 0 auto;
  margin-top: 60px;
  height: 300px;
}

.google-map .google-map-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
