@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: Osaka,  游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1200px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
}

body:before {
  content: "";
  display: block;
  height: 7px;
  background: #4e4e4e;
  width: 100%;
}

@media screen and (max-width: 736px) {
  body:before {
    height: 11px;
  }
}

#container {
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
  text-align: left;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  padding: 5px 10px 10px;
  background-color: #fff;
  margin: 0 auto;
  width: 1200px;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

@media screen and (max-width: 736px) {
  #header {
    padding: 0;
  }
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  height: 125px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 736px) {
  body {
    width: 100%;
    min-width: 100%;
    text-align: unset;
  }
  #container {
    width: 100%;
  }
  #header {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
  }
  #header h1 {
    margin: 0 150px 5px 0;
    font-size: 1.1rem;
    font-weight: normal;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
	「Utility」
------------------------------------------------------------*/
.u-f12 {
  font-size: 1.2rem;
}

@media screen and (max-width: 736px) {
  .u-f12 {
    font-size: 0.9rem;
    line-height: 1.6465rem;
  }
}

.u-f30 {
  font-size: 3rem;
}

@media screen and (max-width: 736px) {
  .u-f30 {
    font-size: 2.05rem;
    line-height: 1.6465rem;
  }
}

.u-f20 {
  font-size: 2rem;
}

@media screen and (max-width: 736px) {
  .u-f20 {
    font-size: 1.4rem;
    line-height: 1.6465rem;
  }
}

.mb50 {
  margin-bottom: 50px;
}

.u-w1100 {
  width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 736px) {
  .u-w1100 {
    width: 100%;
  }
}

.u-mb-1 {
  margin-bottom: 50px;
}

@media screen and (max-width: 736px) {
  .u-mb-1 {
    margin-bottom: 35px;
  }
}

.u-mb-2 {
  margin-bottom: 93px;
}

@media screen and (max-width: 736px) {
  .u-mb-2 {
    margin-bottom: 76px;
  }
}

.u-mb-3 {
  margin-bottom: 80px;
}

@media screen and (max-width: 736px) {
  .u-mb-3 {
    margin-bottom: 41px;
  }
}

.u-mb-product {
  margin-bottom: 40px;
}

.u-ptb45 {
  padding: 95px 0px 0px 0px;
}

@media screen and (max-width: 736px) {
  .u-ptb45 {
    padding: 40px 0px 0px 0px;
  }
}

.u-mb-c-list-1 {
  margin-bottom: 92px;
}

.u-mb-c-list-2 {
  margin-bottom: 72px;
}

@media screen and (max-width: 736px) {
  .u-pcontent {
    padding: 0px 25px;
  }
}

@media screen and (max-width: 736px) {
  .u-pcontent--chil {
    padding: 0px 15px;
  }
}

@media screen and (max-width: 736px) {
  .u-magin-auto {
    margin: 0 auto;
  }
}
