/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
#back-top {
  position: absolute;
  z-index: -999;
}

#header .image-header {
  margin-top: 10px;
}

@media screen and (max-width: 736px) {
  #header .image-header {
    margin-top: 0px;
  }
}

#header .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
  margin-bottom: 5px;
}

#header .nav_menu .item {
  border-left: 1px solid #000;
}

#header .nav_menu .item--last {
  border-right: 1px solid #000;
}

@media screen and (min-width: 736px) {
  #container .banner-paragraph {
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.8rem;
    padding: 38px 0px 0px 6px;
  }
}

.c-collection .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.c-collection .content .image {
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.c-collection .content .image .m-image {
  display: none;
}

.c-collection .content .m-dot {
  display: none;
}

.c-collection .content .info .info-start {
  height: 400px;
}

.c-collection .content .info .info-start .info-start-collection {
  padding: 6px;
}

.c-collection .content .info .info-start .info-paragraph {
  font-size: 1.6rem;
  letter-spacing: -0.06rem;
  padding: 35px 0px 0px 15px;
  line-height: 2.4rem;
}

.c-collection .content .info .info-start .info-start-select {
  padding: 36px 0px 0px 17px;
}

.c-collection .content .info .info-start .title-collection {
  padding: 17px 0px 0px 11px;
}

.c-collection .content .info .info-start .m-info-paragraph {
  display: none;
}

.c-collection .content .info .info-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.c-collection .content .info .info-end .info-end-code {
  font-size: 1.4rem;
  margin-left: 16px;
}

.c-collection .content .info .info-end .info-end-valu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-collection .content .info .info-end .info-end-price {
  margin-left: 21px;
  margin-bottom: 13px;
}

.c-collection .content .info .info-end .btn {
  margin-left: 17px;
  margin-bottom: 4px;
}

.c-collection .content .info .info-end .btn .btn-online-shop {
  padding-left: 3px;
}

@media screen and (min-width: 736px) {
  .c-collection .content .info .info-end .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flex-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-direction-row .info {
  padding-left: 50px;
}

.flex-direction-row .info .info-end .info-end-code {
  margin-bottom: 1px;
}

.flex-direction-row .info .info-end .info-end-valu {
  padding-top: 7px;
  margin-left: 16px;
  margin-bottom: 0px;
}

.flex-direction-row .info .info-end--line-height .info-end-valu {
  line-height: 5.4rem;
}

.flex-direction-row .image .slides-btn {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flex-direction-row .image .slides-btn button {
  width: 70px;
}

.flex-direction-row .dot {
  -webkit-transform: translate(227px, 17px);
          transform: translate(227px, 17px);
  width: 100px;
}

.flex-direction-order .info {
  -webkit-transform: translate(-11px, -3px);
          transform: translate(-11px, -3px);
}

.flex-direction-order .info .info-end .info-end-valu {
  margin-left: 11px;
  margin-bottom: 0px;
}

.flex-direction-order .info .info-end .info-end-code {
  margin-bottom: 5px;
}

.flex-direction-order .image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.flex-direction-order .image .slides-btn {
  position: absolute;
  width: 90%;
  height: 100%;
}

.flex-direction-order .dot {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transform: translate(809px, 2px);
          transform: translate(809px, 2px);
  width: 100px;
}

.product-info {
  background: #eef2f5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.product-info .wrap .product-info-text {
  float: left;
  font-size: 1.6rem;
  height: 100%;
}

.product-info .wrap .product-info-text .product-info-text-title {
  text-align: center;
  padding: 21px 44px 41px 0px;
}

.product-info .wrap .product-info-text .product-info-text-paregraph {
  text-align: justify;
  line-height: 3.3rem;
}

.product-info .wrap .product-info-text .product-info-text-btn {
  padding: 35px 55px 0px 0px;
  text-align: center;
}

.product-info .wrap .product-info-image {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-info .wrap .product-info-image .product-image-col-1 {
  height: 100%;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 14px;
}

.product-info .wrap .product-info-image .product-image-col-1 img {
  height: 33.33%;
  margin: 5px 0px 5px 0px;
}

.product-info .wrap .product-info-image .product-image-col-2 {
  height: 100%;
  margin: 4px 6px 0px 0px;
}

.product-info .wrap .m-btn {
  display: none;
}

.c-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-list .content {
  border-radius: 15px;
  height: 110px;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c3ccd2;
}

.c-list .content .content-center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-Top: 10px;
}

.c-list .content .content-left {
  padding-left: 55px;
}

.c-list .content .content-right {
  padding-right: 30px;
  padding-top: 3px;
}

.c-list .content .content-mobile {
  display: none;
}

.c-list .content--color-1 {
  background: #dee5ea !important;
}

.footer-content {
  margin: 0 auto;
  width: 1200px;
}

.atrans {
  -webkit-transform: translate(0px, -5px);
          transform: translate(0px, -5px);
}

.bg-ft {
  text-align: left;
  padding-top: 13px;
}

.slides-btn .slides-btn-left {
  position: absolute;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #fff0;
}

.slides-btn .slides-btn-right {
  position: absolute;
  right: 0;
  width: 70px;
  height: 100%;
  background-color: #fff0;
}

.web {
  display: block;
}

.mod {
  display: none;
}

@media screen and (max-width: 736px) {
  .web {
    display: none !important;
  }
  .mod {
    display: block !important;
  }
  .nav_menu {
    display: none !important;
  }
  .image-header {
    margin-top: 0px;
    width: 100%;
    float: left;
  }
  .image-header img {
    content: url("../img/m-header.jpg");
    width: 100%;
  }
  .banner img {
    display: none;
  }
  .banner .bg-background {
    height: auto;
    content: url("../img/m-main-image.jpg");
    width: 100%;
  }
  .banner .banner-paragraph {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
  }
  .banner .banner-paragraph .banner-paragraph-f {
    word-break: keep-all;
  }
  .banner .banner-paragraph .banner-paragraph-f--c {
    word-wrap: break-word;
  }
  .c-collection {
    width: 100%;
  }
  .c-collection .content {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-collection .content .image {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px auto 8px auto;
  }
  .c-collection .content .image .pc-image {
    display: none;
  }
  .c-collection .content .image .m-image {
    display: block;
  }
  .c-collection .content .image img {
    width: 100%;
  }
  .c-collection .content .image .slides-btn {
    width: 100%;
  }
  .c-collection .content .image .slides-btn button {
    width: 14%;
  }
  .c-collection .content .image .slides-btn button img {
    width: 18px;
  }
  .c-collection .content .m-dot {
    width: 36px;
    height: 6px;
    margin: 0 auto;
    display: block;
  }
  .c-collection .content .m-dot img {
    width: 100%;
  }
  .c-collection .content .info {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .c-collection .content .info .info-start {
    height: 100%;
  }
  .c-collection .content .info .info-start .info-start-collection {
    padding: 29px 0px 0px 0px;
    width: 100%;
    max-width: 144px;
    max-height: 24.5px;
  }
  .c-collection .content .info .info-start .info-start-collection--1 img {
    content: url("../img/m-collection-1.jpg");
    width: 100%;
  }
  .c-collection .content .info .info-start .info-start-collection--2 img {
    content: url("../img/m-collection-2.jpg");
    width: 100%;
  }
  .c-collection .content .info .info-start .info-start-collection--3 img {
    content: url("../img/m-collection-3.jpg");
    width: 100%;
  }
  .c-collection .content .info .info-start .title-collection {
    padding: 12px 0px 0px 0px;
    width: 100%;
  }
  .c-collection .content .info .info-start .title-collection--1 {
    max-width: 169.5px;
    max-height: 82.5px;
  }
  .c-collection .content .info .info-start .title-collection--1 img {
    content: url("../img/m-title-collection-1.png");
    width: 100%;
  }
  .c-collection .content .info .info-start .title-collection--2 {
    max-width: 267px;
    max-height: 84px;
  }
  .c-collection .content .info .info-start .title-collection--2 img {
    content: url("../img/m-title-collection-2.png");
    width: 100%;
  }
  .c-collection .content .info .info-start .title-collection--3 {
    max-width: 192px;
    max-height: 83.5px;
  }
  .c-collection .content .info .info-start .title-collection--3 img {
    content: url("../img/m-title-collection-3.png");
    width: 100%;
  }
  .c-collection .content .info .info-start .info-paragraph {
    display: none;
  }
  .c-collection .content .info .info-start .m-info-paragraph {
    padding: 26px 0px 0px 0px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    display: block;
  }
  .c-collection .content .info .info-start .m-info-paragraph--center {
    text-align: center;
  }
  .c-collection .content .info .info-start .m-info-paragraph--left {
    text-align: left;
  }
  .c-collection .content .info .info-start .info-start-select {
    padding: 10px 0px 0px 0px;
  }
  .c-collection .content .info .info-start .info-start-select img {
    content: url("../img/m-select-collection-1.jpg");
    width: 100%;
  }
  .c-collection .content .info .info-end {
    height: 100%;
    margin-top: 17px;
  }
  .c-collection .content .info .info-end .info-end-code {
    margin-left: 0px;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .c-collection .content .info .info-end .info-end-valu {
    margin-left: 0px;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .c-collection .content .info .info-end .info-end-valu div {
    width: 100%;
    max-width: 46.5px;
    max-height: 24.5;
  }
  .c-collection .content .info .info-end .info-end-valu div img {
    content: url("../img/m-topvalu.jpg");
    width: 100%;
  }
  .c-collection .content .info .info-end .info-end-valu span {
    padding: 5px 0px 0px 7px;
  }
  .c-collection .content .info .info-end .info-end-price {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
  }
  .c-collection .content .info .info-end .btn {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .c-collection .content .info .info-end .btn img {
    width: 100%;
  }
  .c-collection .content .info .info-end .btn .btn-wrap {
    width: 100%;
    padding: 1% 0% 1% 0%;
  }
  .c-collection .content .info .info-end .btn .btn-wrap a {
    padding-left: 0;
  }
  .c-collection .content .info .info-end .btn .btn-shop-list-img {
    content: url("../img/m-shop-list.jpg");
    width: 100%;
  }
  .c-collection .content .info .info-end .btn .btn-online-shop-img {
    content: url("../img/m-online-shop.jpg");
    width: 100%;
  }
  .c-collection .content .info .info-end--last {
    margin-top: 3px !important;
  }
  .c-collection .dot {
    display: none;
  }
  .flex-direction-order .content .image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
  }
  .flex-direction-order .content .info {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .product-info {
    height: 100%;
    margin: 0 auto;
  }
  .product-info .wrap {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-info .wrap .product-info-text {
    width: 100%;
  }
  .product-info .wrap .product-info-text .product-info-text-title {
    max-width: 125.5px;
    max-height: 33px;
    width: 100%;
    padding: 16px 3px 27px 0px;
  }
  .product-info .wrap .product-info-text .product-info-text-title img {
    width: 100%;
  }
  .product-info .wrap .product-info-text .product-info-text-paregraph {
    font-size: 1rem;
    line-height: 2rem;
    display: table;
  }
  .product-info .wrap .product-info-text .product-info-text-btn {
    display: none;
    width: 100%;
    padding: 0;
  }
  .product-info .wrap .product-info-text .product-info-text-btn img {
    width: 100%;
  }
  .product-info .wrap .product-info-image {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px 0px 9px 0px;
  }
  .product-info .wrap .product-info-image .product-image-col-1 {
    margin-right: 2%;
    width: 56%;
    height: 100%;
  }
  .product-info .wrap .product-info-image .product-image-col-1 img {
    width: 100%;
    height: 100%;
  }
  .product-info .wrap .product-info-image .product-image-col-1 .wrap {
    margin-bottom: 4px;
  }
  .product-info .wrap .product-info-image .product-image-col-1 .wrap .sp-3 {
    padding: 7px 0px 7px 0px;
  }
  .product-info .wrap .product-info-image .product-image-col-2 {
    margin: 4px 0px 0px 0px;
    width: 44%;
    height: 100%;
  }
  .product-info .wrap .product-info-image .product-image-col-2 img {
    width: 100%;
  }
  .product-info .wrap .m-product-info-image {
    width: 100%;
    height: 100%;
    padding-top: 14px;
  }
  .product-info .wrap .m-product-info-image img {
    width: 100%;
    height: 100%;
  }
  .product-info .wrap .m-btn {
    display: block;
    padding: 19px 3px 25px 0px;
  }
  .product-info .wrap .m-btn img {
    width: 100%;
  }
  .c-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
    margin-bottom: 62px;
  }
  .c-list .content {
    width: 100%;
    border-radius: 5px;
    height: 84px;
  }
  .c-list .content .content-left {
    display: none;
  }
  .c-list .content .content-center {
    display: none;
  }
  .c-list .content .content-right {
    display: none;
  }
  .c-list .content .content-mobile {
    display: block;
    width: 304px;
    margin: 5px auto 0px auto;
  }
  .c-list .content .content-mobile img {
    width: 100%;
  }
  .c-list .content--color-2 {
    background-color: #c3ccd2;
  }
  .footer-content {
    margin: 0 auto;
    width: 100%;
    padding-top: 7px;
  }
  .footer-content .bg-ft {
    padding-top: 0px;
  }
  .footer-content img {
    content: url("../img/m-footer.jpg");
    width: 100%;
  }
  #back-top {
    position: fixed !important;
    bottom: 290px;
    right: 9px;
    width: 50px;
    height: 50px;
    z-index: 999 !important;
  }
  #back-top img {
    width: 100%;
  }
}
