@charset "UTF-8";
//
//  mixin,extendで使用する
//  using mixin and extend
//
// 文字サイズ
// font size
@mixin fs($fontSize, $baseFontSize:10) {
    font-size: #{$fontSize / $baseFontSize}rem;
}

//tracking to rem
@mixin aletter-spacing($letterspacing) {
    letter-spacing: $letterspacing/1000;
}

// example:
// @include fs(15);
// @include fs(20, 13);
// ※第二引数のサイズをベースとして20pxになるよう計算された値が出力される
//%にしたい場合は、
//@mixin fs($fontSize, $baseFontSize:10){
//font-size: percentage($fontSize / $baseFontSize);
//}
//に変更
@mixin alh($lineHeight, $baseFontSize:10) {
    line-height: #{$lineHeight / $baseFontSize}rem;
}

// clearfix（float解除）
%cf {
    @if $support-ie6 or $support-ie7 {
        *zoom: 1;
    }
    &:after {
        display: block;
        clear: both;
        content: "";
    }
}

// example:
// @extend %cf;
// clearfix（float解除）
@mixin cf {
    @if $support-ie6 or $support-ie7 {
        *zoom: 1;
    }
    &:after {
        display: block;
        clear: both;
        content: "";
    }
}

// example:
// @extend cf;