@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/*------------------------------------------------------------
	「Utility」
------------------------------------------------------------*/

.u-f12{
	@include fs(12);
	@media screen and (max-width: 736px){
		@include fs(18/2);
		@include alh(32.93/2);
	}
}
.u-f30{
	@include fs(30);
	@media screen and (max-width: 736px){
		@include fs(41/2);
		@include alh(32.93/2);
	}
}
.u-f20{
	@include fs(20);
	@media screen and (max-width: 736px){
		@include fs(28/2);
		@include alh(32.93/2);
	}
}
.mb50{
	margin-bottom: 50px;
	@media screen and (max-width: 736px){
		
		
	}
}

//set width of content = 1100px
.u-w1100{

	    width: 1100px;
	    margin: 0 auto;
	    @media screen and (max-width: 736px){
	    	width: 100%;
	    }
}

//set margin botton container
.u-mb-1{
	margin-bottom: 50px;
	@media screen and (max-width: 736px){
		margin-bottom: 35px;
	}
}
.u-mb-2{
	margin-bottom: 93px;
	@media screen and (max-width: 736px){
		margin-bottom: 76px;
	}
}


.u-mb-3{
	margin-bottom: 80px;
	
	@media screen and (max-width: 736px){
		margin-bottom: 41px;
	}
}
//set margin botton container

.u-mb-product{
	margin-bottom: 40px;
}

.u-ptb45{
	padding: 95px 0px 0px 0px;
	@media screen and (max-width: 736px){
		padding: 40px 0px 0px 0px;
	}

}
 .u-mb-c-list-1{
	margin-bottom: 92px;
	@media screen and (max-width: 736px){
		
	}
 }
 .u-mb-c-list-2{
	 margin-bottom: 72px;
	 @media screen and (max-width: 736px){
		
	}
 }

 .u-pcontent{
	 @media screen and (max-width: 736px){
		padding: 0px 25px;
	}
 }
 .u-pcontent--chil{
	 @media screen and (max-width: 736px){
		padding: 0px 15px;
	}
 }
 .u-magin-auto{
	 @media screen and (max-width: 736px){
		margin: 0 auto;
	}
 }





