@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
#back-top{position: absolute;
    z-index: -999;}

#header {
    .image-header {
        margin-top: 10px;
        @media screen and (max-width: 736px) {
            margin-top: 0px;
        }
    }
    .nav_menu {
        display: flex; //padding-bottom: 11px;
        margin-top: 21px;
        margin-bottom: 5px;
        .item {
            border-left: 1px solid #000;
            &--last {
                border-right: 1px solid #000;
            }
        }
    }
} 

#container {
    @media screen and (min-width: 736px) {
        .banner-paragraph {
            @include fs(16);
            text-align: center;
            line-height: 2.8rem;
            padding: 38px 0px 0px 6px;
        } // .m-banner-paragraph {
        // 	display: none;
        // }
    }
}

.c-collection {
    //Content
    .content {
        display: flex;
        height: 600px;
        .image {
            width: 520px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .m-image {
                display: none;
            }
        }
        .m-dot {
            display: none;
        }
        .info {
            .info-start {
                height: 400px;
                .info-start-collection {
                    padding: 6px;
                }
                .info-paragraph {
                    @include fs(16);
                    letter-spacing: -0.06rem;
                    padding: 35px 0px 0px 15px;
                    line-height: 2.4rem; // padding-top: 30px;
                    // padding-bottom: 30px;
                }
                .info-start-select {
                    padding: 36px 0px 0px 17px;
                }
                .title-collection {
                    padding: 17px 0px 0px 11px;
                }
                .m-info-paragraph {
                    display: none;
                }
            }
            .info-end {
                display: flex;
                height: 200px;
                flex-direction: column;
                justify-content: flex-end;
                .info-end-code {
                    @include fs(14);
                    margin-left: 16px;
                }
                .info-end-valu {
                    display: flex;
                    align-items: center;
                }
                .info-end-price {
                    margin-left: 21px;
                    margin-bottom: 13px;
                }
                .btn {
                    margin-left: 17px;
                    margin-bottom: 4px;
                    .btn-online-shop {
                        padding-left: 3px;
                    }
                }
                @media screen and (min-width: 736px) {
                    .btn {
                        display: flex;
                    }
                }
            }
        }
    } //End content
}

.flex-direction-row {
    flex-direction: row;
    .info {
        padding-left: 50px;
        .info-start {}
        .info-end {
            .info-end-code {
                margin-bottom: 1px;
            }
            .info-end-valu {
                padding-top: 7px;
                margin-left: 16px;
                margin-bottom: 0px;
            }
            &--line-height {
                .info-end-valu {
                    line-height: 5.4rem;
                }
            }
        }
    }
    .image {
        .slides-btn {
            position: absolute;
            width: 100%;
            height: 100%;
            button{
                width: 70px;
            }
        }
    }
    .dot {
        transform: translate(227px, 17px);
        width: 100px;
    }
}

.flex-direction-order {
    .info {
        transform: translate(-11px, -3px);
        .info-end {
            .info-end-valu {
                margin-left: 11px;
                margin-bottom: 0px;
            }
            .info-end-code {
                margin-bottom: 5px;
            }
        }
    }
    .image {
        order: 1;
        flex: 1;
        justify-content: flex-end !important;
        .slides-btn {
            position: absolute;
            width: 90%;
            height: 100%;
        }
    }
    .dot {
        margin-top: 10px;
        margin-bottom: 10px;
        transform: translate(809px, 2px);
        width: 100px;
    }
}

.product-info {
    background: #eef2f5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    .wrap {
        //height: 365px;
        .product-info-text {
            float: left;
            @include fs(16);
            height: 100%;
            .product-info-text-title {
                text-align: center;
                padding: 21px 44px 41px 0px;
            }
            .product-info-text-paregraph {
                text-align: justify;
                line-height: 3.3rem;
            }
            .product-info-text-btn {
                padding: 35px 55px 0px 0px;
                text-align: center;
            }
        }
        .product-info-image {
            float: left;
            display: flex;
            width: 500px;
            justify-content: flex-end;
            .product-image-col-1 {
                height: 100%;
                width: 270px;
                display: flex;
                flex-direction: column;
                margin-right: 14px;
                img {
                    height: 33.33%;
                    margin: 5px 0px 5px 0px;
                }
            }
            .product-image-col-2 {
                height: 100%;
                margin: 4px 6px 0px 0px;
            }
        }
        .m-btn {
            display: none;
        }
    }
}

.c-list {
    display: flex;
    justify-content: center;
    .content {
        border-radius: 15px;
        height: 110px;
        width: 1000px;
        display: flex;
        align-items: center;
        background: #c3ccd2;
        .content-center {
            flex: 1;
            text-align: center;
            padding-Top: 10px;
            img {}
        }
        .content-left {
            padding-left: 55px;
            img {}
        }
        .content-right {
            padding-right: 30px;
            padding-top: 3px;
            img {}
        }
        .content-mobile {
            display: none;
        }
        &--color-1 {
            background: #dee5ea !important;
        }
    }
}

.footer-content {
    margin: 0 auto;
    width: 1200px;
}

.atrans {
    transform: translate(0px, -5px);
}

.bg-ft {
    text-align: left;
    padding-top: 13px;
}

.slides-btn {
    .slides-btn-left {
        position: absolute;
        left: 0;
        width:70px;
        height: 100%;
        background-color: #fff0; 
    }
    .slides-btn-right {
        position: absolute;
        right: 0;
        width: 70px;
        height: 100%;
        background-color: #fff0; // &:hover{
        //     background: linear-gradient(to left, #ffffff30 , #ffffff00);
        // }
    }
}

.web{
    display: block;
}
.mod{
    display: none;
}


@media screen and (max-width: 736px) {
.web{
    display: none !important;
}
.mod{
    display: block !important;
}

// .sp-image-man-1{
//     content: "assets/img/m-men-1.jpg";
// }
    //Nav menu
    .nav_menu {
        display: none !important;
    }
    .image-header {
        margin-top: 0px;
        // max-width: 295px;
        // max-height: 53px;
        width: 100%;
        float: left;
        img {
            content: url("../img/m-header.jpg");
            width: 100%;
        }
    }

    .banner {
        img {
            display: none;
        }
        .bg-background {
            height: auto;
            content: url("../img/m-main-image.jpg");
                width: 100%;
        }
        .banner-paragraph {
            @include fs(12);
            @include alh(18);
            text-align: center;
            width: 100%;
            //max-width: 325px;
            margin: 0 auto;
            padding-top: 5%;
            .banner-paragraph-f {
                word-break: keep-all;
                &--c {
                    word-wrap: break-word;
                }
            }
        }
    } //l-main 
    //c-collection
    .c-collection {
        width: 100%;
        .content {
            height: 100%;
            // width: 100%;
            flex-direction: column;
            //margin: 0% auto 1% auto;
            .image {
                width: 100%;
                // max-width: 325px;
                // max-height: 375.5px;
                flex-direction: column;
                margin: 0px auto 8px auto;
                .pc-image {
                    display: none;
                }
                .m-image {
                    display: block;
                }
                img {
                    width: 100%;
                }
                .slides-btn {
                    width: 100%;
                    button {
                        width: 14%;
                        img {
                            width: 18px; 
                        }
                    }
                }
            }
            .m-dot {
                width: 36px;
                height: 6px;
                margin: 0 auto;
                display: block;
                img {
                    width: 100%;
                }
            }
            .info {
                padding: 0;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                //max-width: 325px;
                .info-start {
                    height: 100%;
                    .info-start-collection {
                        padding: 29px 0px 0px 0px;
                        width: 100%;
                        max-width: 144px;
                        max-height: 24.5px;
                        &--1 {
                            img {
                                content: url("../img/m-collection-1.jpg");
                                width: 100%;
                            }
                        }
                        &--2 {
                            img {
                                content: url("../img/m-collection-2.jpg");
                                width: 100%;
                            }
                        }
                        &--3 {
                            img {
                                content: url("../img/m-collection-3.jpg");
                                width: 100%;
                            }
                        }
                    }
                    .title-collection {
                        padding: 12px 0px 0px 0px;
                        width: 100%;
                        &--1 {
                            max-width: 169.5px;
                            max-height: 82.5px;
                            img {
                                content: url("../img/m-title-collection-1.png");
                                width: 100%;
                            }
                        }
                        &--2 {
                            max-width: 267px;
                            max-height: 84px;
                            img {
                                content: url("../img/m-title-collection-2.png");
                                width: 100%;
                            }
                        }
                        &--3 {
                            max-width: 192px;
                            max-height: 83.5px;
                            img {
                                content: url("../img/m-title-collection-3.png");
                                width: 100%;
                            }
                        }
                    }
                    .info-paragraph {
                        display: none;
                    }
                    .m-info-paragraph {
                        padding: 26px 0px 0px 0px;
                        @include fs(24/2);
                        @include alh(36/2);
                        display: block;
                        &--center {
                            text-align: center;
                        }
                        &--left {
                            text-align: left;
                        }
                    }
                    .info-start-select {
                        padding: 10px 0px 0px 0px;
                        // width: 100%;
                        // max-width: 326px;
                        // max-height: 36.5px;
                        img {
                            content: url("../img/m-select-collection-1.jpg");
                            width: 100%;
                        }
                    }
                }
                .info-end {
                    height: 100%;
                    margin-top: 17px;
                    .info-end-code {
                        margin-left: 0px;
                        @include fs(20/2);
                        @include alh(24/2);
                    }
                    .info-end-valu {
                        margin-left: 0px;
                        @include fs(30/2);
                        @include alh(36/2);
                        div {
                            width: 100%;
                            max-width: 46.5px;
                            max-height: 24.5;
                            img {
                                content: url("../img/m-topvalu.jpg");
                                width: 100%;
                            }
                        }
                        span {
                            padding: 5px 0px 0px 7px;
                        }
                    }
                    .info-end-price {
                        margin-left: 0px;
                        margin-bottom: 0px;
                        padding-top: 15px;
                    }
                    .btn {
                        margin-left: 0px;
                        margin-bottom: 0px;
                        padding-top: 9px;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        img {
                            width: 100%;
                        }
                        .btn-wrap {
                            width: 100%;
                            // max-width: 325px;
                            // max-height: 37px;
                            // width: 325px;
                            padding: 1% 0% 1% 0%;
                            a {
                                padding-left: 0;
                            }
                        }
                        .btn-shop-list-img {
                            content: url("../img/m-shop-list.jpg");
                            width: 100%;
                        }
                        .btn-online-shop-img {
                            content: url("../img/m-online-shop.jpg");
                            width: 100%;
                        }
                    }
                    &--last {
                        margin-top: 3px !important;
                    }
                }
            }
        }
        .dot {
            display: none;
        }
    }
    .flex-direction-order {
        
        .content {
            .image {
                order: 0;
                flex: 1;
                justify-content: flex-end !important;
            }
            .info {
                transform: translate(0px, 0px);
            }
        }
    } //product info
    .product-info {
        height: 100%;
        margin: 0 auto;
        .wrap {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .product-info-text {
                width: 100%;
                .product-info-text-title {
                    max-width: 125.5px;
                    max-height: 33px;
                    width: 100%;
                    padding: 16px 3px 27px 0px;
                    img{
                        width: 100%;
                    }
                }
                .product-info-text-paregraph {
                    @include fs(20/2);
                    @include alh(40/2);
                    display: table;
                }
                .product-info-text-btn {
                    display: none;
                    width: 100%;
                    padding: 0;
                    img {
                        width: 100%;
                    }
                }
            }

            .product-info-image {
                width: 100%;
                justify-content: flex-start;
                padding: 20px 0px 9px 0px; 
                .product-image-col-1 {
                    margin-right: 2%;
                    width: 56%;
                    height: 100%;
                    
                    img {
                        
                        width: 100%;
                        height: 100%;
                    }
                    .wrap {
                        
                        margin-bottom: 4px; 
                       
                        .sp-3 {
                            padding: 7px 0px 7px 0px;
                        } 
                    }
                }
                .product-image-col-2 {
                    margin: 4px 0px 0px 0px;
                    width: 44%;
                    height: 100%;
                    
                    img {
                        width: 100%;
                    } 
                }
            }
            .m-product-info-image{
                width: 100%;
                height: 100%;
                padding-top: 14px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .m-btn {
                display: block;
                padding: 19px 3px 25px 0px;
                img {
                    width: 100%;
                }
            }
        }
    } //Component list
    .c-list {
        width: 100%;
        // max-width: 325px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 27px;
        margin-bottom: 62px;
        .content {
            width: 100%;
            border-radius: 5px;
            height: 84px;
            .content-left {
                display: none;
            }
            .content-center {
                display: none;
            }
            .content-right {
                display: none;
            }
            .content-mobile {
                display: block;
                width: 304px;
                //height: 67px;
                // margin-left: auto;
                // margin-right: 6px;
                margin: 5px auto 0px auto;

                img {
                    width: 100%;
                }
            }
            &--color-2 {
                background-color: #c3ccd2;
            }
        }
    }
     //Footer
    .footer-content {
        margin: 0 auto;
        width: 100%;
        //height: 325px;
        padding-top:7px;
        .bg-ft {
            padding-top: 0px;
        }
        img {
            content: url("../img/m-footer.jpg");
            width: 100%;
        }
    }

    #back-top{
        position: fixed !important;
        bottom: 290px;
        right: 9px;
        width: 50px;
        height: 50px;
        z-index: 999 !important;
        img{
            width: 100%;
        }
    }
  
}
