@charset "UTF-8";
/*
	set left, right, top, bottom with %
*/
/*
	set margin with %
*/
/*
	set padding with %
*/
@media screen and (max-width: 768px) {
  /*#region general*/
  body {
    background-image: url("../img/sp/bg_p.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  #container {
    overflow: hidden;
  }
  .hide-colection {
    display: none !important;
  }
  .hide-table {
    padding: 0px !important;
    height: 0px !important;
    display: none !important;
  }
  img {
    width: 100%;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                           Shincorp MV 
    
    --------------------------------------------------------*/
  /*#region MV*/
  .shincorp-mv .wrap-shincorp-block {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .shincorp-mv .shincorp-block-1 {
    width: 100%;
  }
  .shincorp-mv .shincorp-block-1 .block-1-img {
    width: 100%;
  }
  .shincorp-mv .shincorp-block-2 {
    height: 64.51613%;
  }
  .shincorp-mv .shincorp-block-2 .wrap-img {
    width: 87.5%;
    margin: 65% auto 0px auto;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                          Shincorp Campaign
    
    --------------------------------------------------------*/
  /* #region  Shincorp Campaign*/
  .shincorp-campaign {
    margin-top: -6.76379%;
  }
  .shincorp-campaign .alert-campaign {
    width: 100%;
  }
  .shincorp-campaign .shincorp-reservation {
    position: relative;
  }
  .shincorp-campaign .shincorp-reservation .reservation-btn {
    position: absolute;
    bottom: 8.6%;
    width: 100%;
    left: 6.25%;
  }
  .shincorp-campaign .shincorp-reservation .reservation-btn .wrap-img {
    width: 87.5%;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                            Price list
    
    --------------------------------------------------------*/
  /*#region Pricelist*/
  .shincorp-ffe {
    width: 100%;
  }
  .shincorp-ffe .icon-ffe {
    width: 59.21875%;
    padding-top: 15.78947%;
    padding-bottom: 9.21053%;
    margin: 0 auto;
  }
  .shincorp-ffe .btn-period-limited {
    padding-bottom: 5.26316%;
  }
  .shincorp-ffe .btn-period-limited .wrap-img {
    width: 100%;
  }
  .shincorp-ffe .group-btn-ffe {
    width: 90.625%;
    margin-left: auto;
    margin-right: auto;
  }
  .shincorp-ffe .btn-experience-lesson,
  .shincorp-ffe .btn-free-practice {
    width: 48.27586%;
  }
  .shincorp-ffe .group-price {
    width: 90.625%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10.9375%;
  }
  .shincorp-ffe .price {
    width: 29.84375%;
  }
  .shincorp-ffe .price-experience {
    float: left;
    margin-top: 10px;
    margin-left: 6.89655%;
  }
  .shincorp-ffe .price-free {
    float: right;
    margin-top: 10px;
    margin-right: 6.89655%;
  }
  .shincorp-ffe .btn-experience-lesson {
    float: left;
  }
  .shincorp-ffe .btn-free-practice {
    float: right;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                            Regular fee
    
    --------------------------------------------------------*/
  /*#region Regular fee*/
  .shincorp-regular-fee {
    -webkit-transition: height 1s;
    transition: height 1s;
    position: relative;
    padding-bottom: 24px;
  }
  .shincorp-regular-fee .table-row {
    position: relative;
  }
  .shincorp-regular-fee .icon-row {
    position: absolute;
    width: 6.25%;
    height: 2px;
    top: 50%;
    right: 10%;
  }
  .shincorp-regular-fee .icon-row-add {
    position: absolute;
    width: 6.25%;
    top: 35%;
    right: 10%;
  }
  .shincorp-regular-fee .fee-table-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .shincorp-regular-fee .table-fee {
    font-size: 1.2rem;
    width: 90.625%;
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
    overflow: hidden;
  }
  .shincorp-regular-fee .table-fee td {
    border: 1px solid #c8c8c8;
    height: 45px;
  }
  .shincorp-regular-fee .table-fee .fee-colume-1 {
    width: 44.82759%;
    padding-left: 11.53846%;
  }
  .shincorp-regular-fee .table-fee .fee-colume-2 {
    width: 55.17241%;
    padding-left: 9.375%;
  }
  .shincorp-regular-fee .table-fee strike {
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  .shincorp-regular-fee .table-fee strike::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid red;
    height: 45%;
    height: calc(50% - 1px);
    width: 100%;
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  .shincorp-regular-fee .table-fee .color-text {
    color: #ff1e5b;
  }
  .shincorp-regular-fee .bnt-lesson,
  .shincorp-regular-fee .btn-discount {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.9901%;
    margin-bottom: 6.60066%;
  }
  .shincorp-regular-fee .hour,
  .shincorp-regular-fee .free-practice {
    width: 78.125%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.30033%;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                            reservation height=717
    
    --------------------------------------------------------*/
  /*#region reservation*/
  .shincorp-reservation {
    padding-top: 4.1841%;
  }
  .shincorp-reservation .reservation-background {
    position: relative;
  }
  .shincorp-reservation .reservation-background .group-btn-reservation {
    position: absolute;
    bottom: 25.48077%;
    right: 5.9375%;
    width: 87.5%;
  }
  .shincorp-reservation .reservation-background .group-btn-reservation .reservation-phone {
    margin-top: 4.54545%;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                            instructor height=781
    
    --------------------------------------------------------*/
  /*#region instructor*/
  .shincorp-instructor {
    padding-top: 12.8041%;
  }
  .shincorp-instructor .wrap-img {
    width: 87.5%;
    margin: 0 auto;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                            shop height=715
    
    --------------------------------------------------------*/
  /*#region shop*/
  .shincorp-shop {
    padding-top: 19.58042%;
  }
  .shincorp-shop .shincorp-shop-title {
    margin: 0 auto;
    width: 89.53125%;
  }
  .shincorp-shop .shop-imageList {
    margin: 0 auto;
    width: 89.53125%;
    margin-top: 6.99301%;
  }
  .shincorp-shop .imageList-cell {
    width: 47.46946%;
    padding-top: 1.76056%;
    padding-right: 1.76056%;
    padding-bottom: 1.76056%;
    padding-left: 1.76056%;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                            Access map
                            shincorp-access-map=887
    
    --------------------------------------------------------*/
  /*#region shop*/
  .shincorp-access-map .access-map-title {
    font-size: 5.6rem;
    text-align: center;
    padding-top: 11.27396%;
    padding-bottom: 5.63698%;
  }
  .shincorp-access-map .access-map-google {
    width: 87.5%;
    margin: 0 auto;
  }
  .shincorp-access-map .google-map {
    width: 100%;
    height: 240px;
  }
  .shincorp-access-map .access-map-info {
    width: 87.5%;
    margin: 0 auto;
    padding-bottom: 15.78354%;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                            Footer map
                            ft-infomation=260
                            ft-arrows = 409
    --------------------------------------------------------*/
  /*#region shop*/
  .ft-infomation {
    background-color: #eeeeee;
    text-align: center;
    padding-top: 10.38462%;
    padding-bottom: 18.07692%;
  }
  .ft-infomation .i-title {
    font-size: 7rem;
  }
  .i-notice {
    font-size: 3.2rem;
  }
  .i-content {
    font-size: 2.4rem;
  }
  .ft-arrows {
    background-color: #33c49d;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
  }
  .ft-arrows .ft-arrows-logo {
    width: 75%;
    margin: 0 auto;
    padding-top: 9.77995%;
    padding-bottom: 7.33496%;
  }
  .ft-arrows .ft-arrows-text {
    width: 85.9375%;
    margin: 0 auto;
    padding-bottom: 14.66993%;
  }
  .ft-copyright {
    background-color: #3c3c3c;
    color: #fff;
    font-size: 1rem;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*#endregion*/
}

@media screen and (min-width: 768px) {
  img {
    width: 100%;
  }
  /*--------------------------------------------------------

                           Shincorp MV 
    
    --------------------------------------------------------*/
  /*#region shincorp mv*/
  .shincorp-mv {
    height: 800px;
    position: relative;
    overflow: hidden;
  }
  .shincorp-mv .background {
    height: 100%;
    background-image: url("../img/pc/bg.jpg");
    background-position: center;
    background-size: cover;
  }
  .shincorp-mv .background img {
    display: none;
  }
  .shincorp-mv .wrap-shincorp-block-2 {
    position: absolute;
    top: -85px;
    left: -70px;
  }
  .shincorp-mv .wrap-shincorp-block-3 {
    width: 930px;
    height: 350px;
    position: absolute;
    bottom: 222px;
    left: 863px;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                           Shincorp Campaign 
    
    --------------------------------------------------------*/
  /*#region Shincorp Campaign */
  .shincorp-campaign-pc {
    height: 800px;
    position: relative;
    background-image: url("../img/sp/bg_p.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .shincorp-campaign-pc .alert-campaign {
    width: 586px;
    height: 920px;
    position: absolute;
    top: -200px;
    left: 0;
  }
  .shincorp-campaign-pc .menu-campaign {
    font-size: 18px;
    text-align: right;
    background-color: #fff;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shincorp-campaign-pc .menu-campaign .content-menu .item {
    position: relative;
    display: inline;
    padding-right: 60px;
    font-weight: 500;
  }
  .shincorp-campaign-pc .menu-campaign .content-menu .item a {
    color: #000;
    text-decoration: none;
  }
  .shincorp-campaign-pc .menu-campaign .content-menu .item a:link {
    color: #000;
  }
  .shincorp-campaign-pc .menu-campaign .content-menu .item a:visited {
    color: #000;
  }
  .shincorp-campaign-pc .menu-campaign .content-menu .item::before {
    content: "";
    display: block;
    background: url(../img/pc/icon-menu.png);
    width: 15px;
    height: 9px;
    position: absolute;
    left: -25px;
    top: 7px;
  }
  .shincorp-campaign-pc .shincorp-reservation {
    position: relative;
    z-index: 2;
    margin-top: 60px;
  }
  .shincorp-campaign-pc .shincorp-reservation .reservation-btn {
    margin-top: 25px;
    width: 474px;
    height: 77px;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                           Shincorp FFE 
    
    --------------------------------------------------------*/
  /*#region Shincorp FFE */
  .shincorp-ffe-pc .ffe-title {
    width: 380px;
    margin: 0 auto;
    padding-top: 124px;
  }
  .shincorp-ffe-pc .period-limited {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
    background-color: #10222b;
    color: #fff;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shincorp-ffe-pc .period-limited-chil {
    padding-bottom: 40px;
  }
  .shincorp-ffe-pc .period-limited-chil .period-limited-table {
    border-collapse: collapse;
  }
  .shincorp-ffe-pc .period-limited-chil .period-limited-table td {
    width: 50%;
  }
  .shincorp-ffe-pc .period-limited-chil .period-limited-table tr {
    height: 120px;
    border: 1px solid #c8c8c8;
  }
  .shincorp-ffe-pc .period-limited-chil .period-limited-table .btn-experience {
    width: 192px;
    position: relative;
    display: inline-block;
    margin-left: 189px;
  }
  .shincorp-ffe-pc .period-limited-chil .period-limited-table .btn-experience::before {
    content: "体験レッスン";
    display: block;
    font-size: 21px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 24px;
  }
  .shincorp-ffe-pc .period-limited-chil .period-limited-table .btn-free-practice {
    width: 192px;
    position: relative;
    display: inline-block;
    margin-left: 42px;
  }
  .shincorp-ffe-pc .period-limited-chil .period-limited-table .btn-free-practice::before {
    content: "フリー練習";
    display: block;
    font-size: 21px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 24px;
  }
  .shincorp-ffe-pc .period-limited-chil .period-limited-table .price {
    width: 292px;
    display: inline-block;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                           Shincorp Regular fee
    
    --------------------------------------------------------*/
  /*#region Shincorp Regular fee*/
  .shincorp-regular-fee-pc {
    padding-bottom: 130px;
  }
  .shincorp-regular-fee-pc .regular-title {
    font-size: 20px;
    font-weight: 500;
    background-color: #10222b;
    color: #fff;
    height: 50px;
  }
  .shincorp-regular-fee-pc .regular-title h2 {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  .shincorp-regular-fee-pc .regular-table {
    text-align: center;
    font-size: 15px;
    border-collapse: collapse;
  }
  .shincorp-regular-fee-pc .regular-table td {
    border: 1px solid #c8c8c8;
  }
  .shincorp-regular-fee-pc .regular-table .header {
    background: #dddddd;
  }
  .shincorp-regular-fee-pc .regular-table tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  .shincorp-regular-fee-pc .regular-table .content-row td:nth-child(2) {
    border-left: 0px !important;
  }
  .shincorp-regular-fee-pc .regular-table .col-1 {
    text-align: left;
    font-weight: bold;
    line-height: 24px;
  }
  .shincorp-regular-fee-pc .regular-table .col-2,
  .shincorp-regular-fee-pc .regular-table .col-3,
  .shincorp-regular-fee-pc .regular-table .col-4,
  .shincorp-regular-fee-pc .regular-table .col-5 {
    width: 280px;
    height: 50px;
    font-weight: bold;
  }
  .shincorp-regular-fee-pc .regular-table .col-2--pink,
  .shincorp-regular-fee-pc .regular-table .col-3--pink,
  .shincorp-regular-fee-pc .regular-table .col-4--pink,
  .shincorp-regular-fee-pc .regular-table .col-5--pink {
    color: #ff1e5b;
  }
  .shincorp-regular-fee-pc .regular-table .tab {
    color: #3c3c3c;
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .shincorp-regular-fee-pc .regular-table .text {
    width: 228px;
    display: table-cell;
    padding-left: 35px;
    vertical-align: middle;
  }
  .shincorp-regular-fee-pc .regular-table strike {
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  .shincorp-regular-fee-pc .regular-table strike::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid red;
    height: 45%;
    height: calc(50% - 1px);
    width: 100%;
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  .shincorp-regular-fee-pc .regular-table .color-text {
    color: #ff1e5b;
  }
  .shincorp-regular-fee-pc .regular-button {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shincorp-regular-fee-pc .regular-button .text {
    font-size: 15px;
    font-weight: bold;
    padding-right: 30px;
    padding-left: 10px;
  }
  .shincorp-regular-fee-pc .regular-button .button {
    display: inline-block;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                           Shincorp reservation
    
    --------------------------------------------------------*/
  /*#region reservation*/
  .shincorp-reservation-pc {
    position: relative;
    height: 745px;
  }
  .shincorp-reservation-pc .reservation-text {
    width: 769px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding-top: 170px;
  }
  .shincorp-reservation-pc .reservation-btn {
    position: relative;
    z-index: 3;
    display: table;
    margin: 0 auto;
  }
  .shincorp-reservation-pc .reservation-here,
  .shincorp-reservation-pc .reservation-phone {
    display: inline-block;
    width: 420px;
    text-align: center;
    padding: 20px;
  }
  .shincorp-reservation-pc .reservation-phone::after {
    content: '';
    background-image: url(../img/pc/time.png);
    width: 277px;
    height: 50px;
    display: block;
    margin: 15px auto 0 auto;
    background-repeat: no-repeat;
    padding-top: 15px;
  }
  .shincorp-reservation-pc .reservation-bg {
    position: absolute;
    top: 0;
    z-index: 0;
    background-color: #fff;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                           Shincorp INSTRUCTOR
    
    --------------------------------------------------------*/
  /*#region INSTRUCTOR*/
  .shincorp-instructor-pc .instructor-title {
    position: relative;
    width: 735px;
    margin: 0 auto;
  }
  .shincorp-instructor-pc .instructor-content {
    padding: 30px;
    width: 936px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #c8c8c8;
    margin-top: 50px;
  }
  .shincorp-instructor-pc .instructor-content .i-content-img {
    width: 272px;
    display: table-cell;
    margin-right: 30px;
  }
  .shincorp-instructor-pc .instructor-content .i-content-info {
    display: table-cell;
  }
  .shincorp-instructor-pc .instructor-content .i-content-info .info-name {
    font-size: 18px;
    margin-top: 10px;
  }
  .shincorp-instructor-pc .instructor-content .i-content-info .info-ex {
    font-size: 15px;
    margin-top: 20px;
  }
  .shincorp-instructor-pc .instructor-content .i-content-info .info-detail {
    width: 636px;
    margin-top: 20px;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                           Shincorp shop
    
    --------------------------------------------------------*/
  /*#region shop*/
  .shincorp-shop-pc .shincorp-shop-title {
    width: 609px;
    margin: 0 auto;
  }
  .shincorp-shop-pc .shop-imageList {
    padding: 50px 0 130px 0;
  }
  .shincorp-shop-pc .shop-imageList .thumnail {
    display: inline-block;
    width: 270px;
    padding-right: 19px;
  }
  .shincorp-shop-pc .shop-imageList .thumnail--last {
    padding-right: 0px;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                           Shincorp access map
    
    --------------------------------------------------------*/
  /*#region  access-map*/
  .shincorp-access-map-pc {
    padding-bottom: 120px;
  }
  .shincorp-access-map-pc .access-map-google {
    float: left;
  }
  .shincorp-access-map-pc .access-map-google .access-map-title {
    font-size: 56px;
  }
  .shincorp-access-map-pc .access-map-google .google-map {
    width: 1100px;
    height: 480px;
  }
  .shincorp-access-map-pc .access-map-info {
    float: right;
    padding-top: 11px;
  }
  /*#endregion*/
  /*--------------------------------------------------------

                            Footer map
                            ft-infomation=260
                            ft-arrows = 409
    --------------------------------------------------------*/
  /*#region shop*/
  .ft-infomation {
    background-color: #eeeeee;
    text-align: center;
    padding: 80px 0px 75px 0px;
  }
  .ft-infomation .i-title {
    font-size: 64px;
  }
  .i-notice {
    font-size: 32px;
  }
  .i-content {
    font-size: 15px;
  }
  .ft-arrows {
    background-color: #33c49d;
    color: #fff;
    text-align: center;
  }
  .ft-arrows .ft-arrows-logo {
    width: 490px;
    margin: 0 auto;
    padding: 44px 0px 48px 0px;
  }
  .ft-arrows .ft-arrows-text {
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .ft-copyright {
    background-color: #3c3c3c;
    height: 40px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*#endregion*/
}

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
#event_ {
  display: none;
}
