
/*------------------------------------------------------------
benner
------------------------------------------------------------*/

.c-banner1 {
    
    height: 610px;
    //@include containerWidth;
    min-width: $containerWidth;
    .bg {
        background: url(../img/index/bg.jpg);
        display: block;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    .bg-inner {
        @include containerWidth;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*
------------------------------------------------------------*/