/*------------------------------------------------------------
title
------------------------------------------------------------*/

.c-title1 {
    display: flex;
    // @include containerWidth;
    width: 100%;
    overflow: hidden;
    .text-p {
        position: relative; //width: 100%;
        
        
        text-align: center;
        margin: 0 auto;

        &::after,
        &::before {
            content: '';
            border-bottom: 2px solid $color-gray;
            top: 45%;
            position: absolute;
            height: 5px;
            width:9999px;
            &--1{
                
            }

        }
        &::before {
            right: 100%;
            margin-right: 15px;
        }
        &::after {
            left: 100%;
            margin-left: 15px;
        }


        &--1{
            font-size: 30px;
        }
        &--2{
            font-size: 22px;
        }
    }
    .text-c {
        font-size: 18px;
    }
}

