/*------------------------------------------------------------
image
------------------------------------------------------------*/

.c-imageList1 {
    @include containerWidth; // .imageList1-row {
    //     &:last-child{
    //         @include clear;
    //     }
    // }

    .imageList1-row{
        margin-bottom: 20px;
        display: inline-block;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    .wraper {
        background-color: $color-green;
        float: left;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 5px;
        width: 220px;
        &:last-child {
            @include clear;
            margin-right: 0px;
        }
        .thumnail {
            height: 120px;
           
        }
        .title {
            text-align: center;
            color: #fff;
            font-size: 20px;
            padding-top: 20px;
        }
        .button {
            width: 130px;
            height: 35px;
            font-size: 12px;
            margin: 0 auto 15px;
            display: flex;
            justify-content: center;
            background: $color-green2;
            border-radius: 5px;
            align-items: center;
            a{
                color: #fff;
                text-decoration: none;
                &:hover{
                    color: #fff;
                }
            }
            
        }
        .guide{
            .comment{
                width: 170px;
                margin: 20px auto 0px;
                position: relative;
                color: #fff;
                &::before{
                    content: 'インターネット限定';
                    font-size: 14px;
                    position: absolute;
                    top: 4px;
                    left: 22px;
                }
            }
            .detail{
                width: 170px;
                text-align: center;
                margin: 0 auto;
                span{
                    font-size: 24px;
                    color: #fff;
                    &:last-child{
                        font-size: 18px;
                    }
                }
            }
            .button_inner{
                width: 180px;
                height: 45px;
                font-size: 12px;
                margin: 0 auto 15px;
                display: flex;
                justify-content: center;
                background: #fab445;
                border-radius: 5px;
                align-items: center;
                a{
                    color: #000;
                    text-decoration: none;
                }
            }
        }
        &--last{
            background-color: black;
        }
    }
    
   
}