@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

.afleft {
  float: left;
}

.afright {
  float: right;
}

.color-blue {
  background-color: #009fbb;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1100px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
}

#container {
  margin: 0 auto;
  width: 1100px;
  background-color: #fff;
  text-align: left;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*
	wraper = 1100px
*/
.c-wraper {
  width: 1085px;
  margin: 0 auto;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.f-left {
  float: left;
}

.f-right {
  float: right;
}

.m-left {
  margin-left: 220px;
}

.p-space1-1 {
  margin-top: 1px;
}

.p-space1-2 {
  margin-top: 2px;
}

.p-space1-3 {
  margin-top: 3px;
}

.p-space1-4 {
  margin-top: 4px;
}

.p-space1-5 {
  margin-top: 5px;
}

.p-space1-6 {
  margin-top: 6px;
}

.p-space1-7 {
  margin-top: 7px;
}

.p-space1-8 {
  margin-top: 8px;
}

.p-space1-9 {
  margin-top: 9px;
}

.p-space1-10 {
  margin-top: 10px;
}

.p-space1-11 {
  margin-top: 11px;
}

.p-space1-12 {
  margin-top: 12px;
}

.p-space1-13 {
  margin-top: 13px;
}

.p-space1-14 {
  margin-top: 14px;
}

.p-space1-15 {
  margin-top: 15px;
}

.p-space1-16 {
  margin-top: 16px;
}

.p-space1-17 {
  margin-top: 17px;
}

.p-space1-18 {
  margin-top: 18px;
}

.p-space1-19 {
  margin-top: 19px;
}

.p-space1-20 {
  margin-top: 20px;
}

.p-space1-21 {
  margin-top: 21px;
}

.p-space1-22 {
  margin-top: 22px;
}

.p-space1-23 {
  margin-top: 23px;
}

.p-space1-24 {
  margin-top: 24px;
}

.p-space1-25 {
  margin-top: 25px;
}

.p-space1-26 {
  margin-top: 26px;
}

.p-space1-27 {
  margin-top: 27px;
}

.p-space1-28 {
  margin-top: 28px;
}

.p-space1-29 {
  margin-top: 29px;
}

.p-space1-30 {
  margin-top: 30px;
}

.p-space1-31 {
  margin-top: 31px;
}

.p-space1-32 {
  margin-top: 32px;
}

.p-space1-33 {
  margin-top: 33px;
}

.p-space1-34 {
  margin-top: 34px;
}

.p-space1-35 {
  margin-top: 35px;
}

.p-space1-36 {
  margin-top: 36px;
}

.p-space1-37 {
  margin-top: 37px;
}

.p-space1-38 {
  margin-top: 38px;
}

.p-space1-39 {
  margin-top: 39px;
}

.p-space1-40 {
  margin-top: 40px;
}

.p-space1-41 {
  margin-top: 41px;
}

.p-space1-42 {
  margin-top: 42px;
}

.p-space1-43 {
  margin-top: 43px;
}

.p-space1-44 {
  margin-top: 44px;
}

.p-space1-45 {
  margin-top: 45px;
}

.p-space1-46 {
  margin-top: 46px;
}

.p-space1-47 {
  margin-top: 47px;
}

.p-space1-48 {
  margin-top: 48px;
}

.p-space1-49 {
  margin-top: 49px;
}

.p-space1-50 {
  margin-top: 50px;
}

.p-space1-51 {
  margin-top: 51px;
}

.p-space1-52 {
  margin-top: 52px;
}

.p-space1-53 {
  margin-top: 53px;
}

.p-space1-54 {
  margin-top: 54px;
}

.p-space1-55 {
  margin-top: 55px;
}

.p-space1-56 {
  margin-top: 56px;
}

.p-space1-57 {
  margin-top: 57px;
}

.p-space1-58 {
  margin-top: 58px;
}

.p-space1-59 {
  margin-top: 59px;
}

.p-space1-60 {
  margin-top: 60px;
}

.p-space1-61 {
  margin-top: 61px;
}

.p-space1-62 {
  margin-top: 62px;
}

.p-space1-63 {
  margin-top: 63px;
}

.p-space1-64 {
  margin-top: 64px;
}

.p-space1-65 {
  margin-top: 65px;
}

.p-space1-66 {
  margin-top: 66px;
}

.p-space1-67 {
  margin-top: 67px;
}

.p-space1-68 {
  margin-top: 68px;
}

.p-space1-69 {
  margin-top: 69px;
}

.p-space1-70 {
  margin-top: 70px;
}

.p-space1-71 {
  margin-top: 71px;
}

.p-space1-72 {
  margin-top: 72px;
}

.p-space1-73 {
  margin-top: 73px;
}

.p-space1-74 {
  margin-top: 74px;
}

.p-space1-75 {
  margin-top: 75px;
}

.p-space1-76 {
  margin-top: 76px;
}

.p-space1-77 {
  margin-top: 77px;
}

.p-space1-78 {
  margin-top: 78px;
}

.p-space1-79 {
  margin-top: 79px;
}

.p-space1-80 {
  margin-top: 80px;
}

.p-space1-81 {
  margin-top: 81px;
}

.p-space1-82 {
  margin-top: 82px;
}

.p-space1-83 {
  margin-top: 83px;
}

.p-space1-84 {
  margin-top: 84px;
}

.p-space1-85 {
  margin-top: 85px;
}

.p-space1-86 {
  margin-top: 86px;
}

.p-space1-87 {
  margin-top: 87px;
}

.p-space1-88 {
  margin-top: 88px;
}

.p-space1-89 {
  margin-top: 89px;
}

.p-space1-90 {
  margin-top: 90px;
}

.p-space1-91 {
  margin-top: 91px;
}

.p-space1-92 {
  margin-top: 92px;
}

.p-space1-93 {
  margin-top: 93px;
}

.p-space1-94 {
  margin-top: 94px;
}

.p-space1-95 {
  margin-top: 95px;
}

.p-space1-96 {
  margin-top: 96px;
}

.p-space1-97 {
  margin-top: 97px;
}

.p-space1-98 {
  margin-top: 98px;
}

.p-space1-99 {
  margin-top: 99px;
}

.p-space1-100 {
  margin-top: 100px;
}

.p-space1-101 {
  margin-top: 101px;
}

.p-space1-102 {
  margin-top: 102px;
}

.p-space1-103 {
  margin-top: 103px;
}

.p-space1-104 {
  margin-top: 104px;
}

.p-space1-105 {
  margin-top: 105px;
}

.p-space1-106 {
  margin-top: 106px;
}

.p-space1-107 {
  margin-top: 107px;
}

.p-space1-108 {
  margin-top: 108px;
}

.p-space1-109 {
  margin-top: 109px;
}

.p-space1-110 {
  margin-top: 110px;
}

.p-space1-111 {
  margin-top: 111px;
}

.p-space1-112 {
  margin-top: 112px;
}

.p-space1-113 {
  margin-top: 113px;
}

.p-space1-114 {
  margin-top: 114px;
}

.p-space1-115 {
  margin-top: 115px;
}

.p-space1-116 {
  margin-top: 116px;
}

.p-space1-117 {
  margin-top: 117px;
}

.p-space1-118 {
  margin-top: 118px;
}

.p-space1-119 {
  margin-top: 119px;
}

.p-space1-120 {
  margin-top: 120px;
}

.p-space1-121 {
  margin-top: 121px;
}

.p-space1-122 {
  margin-top: 122px;
}

.p-space1-123 {
  margin-top: 123px;
}

.p-space1-124 {
  margin-top: 124px;
}

.p-space1-125 {
  margin-top: 125px;
}

.p-space1-126 {
  margin-top: 126px;
}

.p-space1-127 {
  margin-top: 127px;
}

.p-space1-128 {
  margin-top: 128px;
}

.p-space1-129 {
  margin-top: 129px;
}

.p-space1-130 {
  margin-top: 130px;
}

.p-space1-131 {
  margin-top: 131px;
}

.p-space1-132 {
  margin-top: 132px;
}

.p-space1-133 {
  margin-top: 133px;
}

.p-space1-134 {
  margin-top: 134px;
}

.p-space1-135 {
  margin-top: 135px;
}

.p-space1-136 {
  margin-top: 136px;
}

.p-space1-137 {
  margin-top: 137px;
}

.p-space1-138 {
  margin-top: 138px;
}

.p-space1-139 {
  margin-top: 139px;
}

.p-space1-140 {
  margin-top: 140px;
}

.p-space1-141 {
  margin-top: 141px;
}

.p-space1-142 {
  margin-top: 142px;
}

.p-space1-143 {
  margin-top: 143px;
}

.p-space1-144 {
  margin-top: 144px;
}

.p-space1-145 {
  margin-top: 145px;
}

.p-space1-146 {
  margin-top: 146px;
}

.p-space1-147 {
  margin-top: 147px;
}

.p-space1-148 {
  margin-top: 148px;
}

.p-space1-149 {
  margin-top: 149px;
}

.p-space1-150 {
  margin-top: 150px;
}

.p-space1-151 {
  margin-top: 151px;
}

.p-space1-152 {
  margin-top: 152px;
}

.p-space1-153 {
  margin-top: 153px;
}

.p-space1-154 {
  margin-top: 154px;
}

.p-space1-155 {
  margin-top: 155px;
}

.p-space1-156 {
  margin-top: 156px;
}

.p-space1-157 {
  margin-top: 157px;
}

.p-space1-158 {
  margin-top: 158px;
}

.p-space1-159 {
  margin-top: 159px;
}

.p-space1-160 {
  margin-top: 160px;
}

.p-space1-161 {
  margin-top: 161px;
}

.p-space1-162 {
  margin-top: 162px;
}

.p-space1-163 {
  margin-top: 163px;
}

.p-space1-164 {
  margin-top: 164px;
}

.p-space1-165 {
  margin-top: 165px;
}

.p-space1-166 {
  margin-top: 166px;
}

.p-space1-167 {
  margin-top: 167px;
}

.p-space1-168 {
  margin-top: 168px;
}

.p-space1-169 {
  margin-top: 169px;
}

.p-space1-170 {
  margin-top: 170px;
}

.p-space1-171 {
  margin-top: 171px;
}

.p-space1-172 {
  margin-top: 172px;
}

.p-space1-173 {
  margin-top: 173px;
}

.p-space1-174 {
  margin-top: 174px;
}

.p-space1-175 {
  margin-top: 175px;
}

.p-space1-176 {
  margin-top: 176px;
}

.p-space1-177 {
  margin-top: 177px;
}

.p-space1-178 {
  margin-top: 178px;
}

.p-space1-179 {
  margin-top: 179px;
}

.p-space1-180 {
  margin-top: 180px;
}

.p-space1-181 {
  margin-top: 181px;
}

.p-space1-182 {
  margin-top: 182px;
}

.p-space1-183 {
  margin-top: 183px;
}

.p-space1-184 {
  margin-top: 184px;
}

.p-space1-185 {
  margin-top: 185px;
}

.p-space1-186 {
  margin-top: 186px;
}

.p-space1-187 {
  margin-top: 187px;
}

.p-space1-188 {
  margin-top: 188px;
}

.p-space1-189 {
  margin-top: 189px;
}

.p-space1-190 {
  margin-top: 190px;
}

.p-space1-191 {
  margin-top: 191px;
}

.p-space1-192 {
  margin-top: 192px;
}

.p-space1-193 {
  margin-top: 193px;
}

.p-space1-194 {
  margin-top: 194px;
}

.p-space1-195 {
  margin-top: 195px;
}

.p-space1-196 {
  margin-top: 196px;
}

.p-space1-197 {
  margin-top: 197px;
}

.p-space1-198 {
  margin-top: 198px;
}

.p-space1-199 {
  margin-top: 199px;
}

.p-space1-200 {
  margin-top: 200px;
}

.p-space2-1 {
  margin-bottom: 1px;
}

.p-space2-2 {
  margin-bottom: 2px;
}

.p-space2-3 {
  margin-bottom: 3px;
}

.p-space2-4 {
  margin-bottom: 4px;
}

.p-space2-5 {
  margin-bottom: 5px;
}

.p-space2-6 {
  margin-bottom: 6px;
}

.p-space2-7 {
  margin-bottom: 7px;
}

.p-space2-8 {
  margin-bottom: 8px;
}

.p-space2-9 {
  margin-bottom: 9px;
}

.p-space2-10 {
  margin-bottom: 10px;
}

.p-space2-11 {
  margin-bottom: 11px;
}

.p-space2-12 {
  margin-bottom: 12px;
}

.p-space2-13 {
  margin-bottom: 13px;
}

.p-space2-14 {
  margin-bottom: 14px;
}

.p-space2-15 {
  margin-bottom: 15px;
}

.p-space2-16 {
  margin-bottom: 16px;
}

.p-space2-17 {
  margin-bottom: 17px;
}

.p-space2-18 {
  margin-bottom: 18px;
}

.p-space2-19 {
  margin-bottom: 19px;
}

.p-space2-20 {
  margin-bottom: 20px;
}

.p-space2-21 {
  margin-bottom: 21px;
}

.p-space2-22 {
  margin-bottom: 22px;
}

.p-space2-23 {
  margin-bottom: 23px;
}

.p-space2-24 {
  margin-bottom: 24px;
}

.p-space2-25 {
  margin-bottom: 25px;
}

.p-space2-26 {
  margin-bottom: 26px;
}

.p-space2-27 {
  margin-bottom: 27px;
}

.p-space2-28 {
  margin-bottom: 28px;
}

.p-space2-29 {
  margin-bottom: 29px;
}

.p-space2-30 {
  margin-bottom: 30px;
}

.p-space2-31 {
  margin-bottom: 31px;
}

.p-space2-32 {
  margin-bottom: 32px;
}

.p-space2-33 {
  margin-bottom: 33px;
}

.p-space2-34 {
  margin-bottom: 34px;
}

.p-space2-35 {
  margin-bottom: 35px;
}

.p-space2-36 {
  margin-bottom: 36px;
}

.p-space2-37 {
  margin-bottom: 37px;
}

.p-space2-38 {
  margin-bottom: 38px;
}

.p-space2-39 {
  margin-bottom: 39px;
}

.p-space2-40 {
  margin-bottom: 40px;
}

.p-space2-41 {
  margin-bottom: 41px;
}

.p-space2-42 {
  margin-bottom: 42px;
}

.p-space2-43 {
  margin-bottom: 43px;
}

.p-space2-44 {
  margin-bottom: 44px;
}

.p-space2-45 {
  margin-bottom: 45px;
}

.p-space2-46 {
  margin-bottom: 46px;
}

.p-space2-47 {
  margin-bottom: 47px;
}

.p-space2-48 {
  margin-bottom: 48px;
}

.p-space2-49 {
  margin-bottom: 49px;
}

.p-space2-50 {
  margin-bottom: 50px;
}

.p-space2-51 {
  margin-bottom: 51px;
}

.p-space2-52 {
  margin-bottom: 52px;
}

.p-space2-53 {
  margin-bottom: 53px;
}

.p-space2-54 {
  margin-bottom: 54px;
}

.p-space2-55 {
  margin-bottom: 55px;
}

.p-space2-56 {
  margin-bottom: 56px;
}

.p-space2-57 {
  margin-bottom: 57px;
}

.p-space2-58 {
  margin-bottom: 58px;
}

.p-space2-59 {
  margin-bottom: 59px;
}

.p-space2-60 {
  margin-bottom: 60px;
}

.p-space2-61 {
  margin-bottom: 61px;
}

.p-space2-62 {
  margin-bottom: 62px;
}

.p-space2-63 {
  margin-bottom: 63px;
}

.p-space2-64 {
  margin-bottom: 64px;
}

.p-space2-65 {
  margin-bottom: 65px;
}

.p-space2-66 {
  margin-bottom: 66px;
}

.p-space2-67 {
  margin-bottom: 67px;
}

.p-space2-68 {
  margin-bottom: 68px;
}

.p-space2-69 {
  margin-bottom: 69px;
}

.p-space2-70 {
  margin-bottom: 70px;
}

.p-space2-71 {
  margin-bottom: 71px;
}

.p-space2-72 {
  margin-bottom: 72px;
}

.p-space2-73 {
  margin-bottom: 73px;
}

.p-space2-74 {
  margin-bottom: 74px;
}

.p-space2-75 {
  margin-bottom: 75px;
}

.p-space2-76 {
  margin-bottom: 76px;
}

.p-space2-77 {
  margin-bottom: 77px;
}

.p-space2-78 {
  margin-bottom: 78px;
}

.p-space2-79 {
  margin-bottom: 79px;
}

.p-space2-80 {
  margin-bottom: 80px;
}

.p-space2-81 {
  margin-bottom: 81px;
}

.p-space2-82 {
  margin-bottom: 82px;
}

.p-space2-83 {
  margin-bottom: 83px;
}

.p-space2-84 {
  margin-bottom: 84px;
}

.p-space2-85 {
  margin-bottom: 85px;
}

.p-space2-86 {
  margin-bottom: 86px;
}

.p-space2-87 {
  margin-bottom: 87px;
}

.p-space2-88 {
  margin-bottom: 88px;
}

.p-space2-89 {
  margin-bottom: 89px;
}

.p-space2-90 {
  margin-bottom: 90px;
}

.p-space2-91 {
  margin-bottom: 91px;
}

.p-space2-92 {
  margin-bottom: 92px;
}

.p-space2-93 {
  margin-bottom: 93px;
}

.p-space2-94 {
  margin-bottom: 94px;
}

.p-space2-95 {
  margin-bottom: 95px;
}

.p-space2-96 {
  margin-bottom: 96px;
}

.p-space2-97 {
  margin-bottom: 97px;
}

.p-space2-98 {
  margin-bottom: 98px;
}

.p-space2-99 {
  margin-bottom: 99px;
}

.p-space2-100 {
  margin-bottom: 100px;
}

.p-space2-101 {
  margin-bottom: 101px;
}

.p-space2-102 {
  margin-bottom: 102px;
}

.p-space2-103 {
  margin-bottom: 103px;
}

.p-space2-104 {
  margin-bottom: 104px;
}

.p-space2-105 {
  margin-bottom: 105px;
}

.p-space2-106 {
  margin-bottom: 106px;
}

.p-space2-107 {
  margin-bottom: 107px;
}

.p-space2-108 {
  margin-bottom: 108px;
}

.p-space2-109 {
  margin-bottom: 109px;
}

.p-space2-110 {
  margin-bottom: 110px;
}

.p-space2-111 {
  margin-bottom: 111px;
}

.p-space2-112 {
  margin-bottom: 112px;
}

.p-space2-113 {
  margin-bottom: 113px;
}

.p-space2-114 {
  margin-bottom: 114px;
}

.p-space2-115 {
  margin-bottom: 115px;
}

.p-space2-116 {
  margin-bottom: 116px;
}

.p-space2-117 {
  margin-bottom: 117px;
}

.p-space2-118 {
  margin-bottom: 118px;
}

.p-space2-119 {
  margin-bottom: 119px;
}

.p-space2-120 {
  margin-bottom: 120px;
}

.p-space2-121 {
  margin-bottom: 121px;
}

.p-space2-122 {
  margin-bottom: 122px;
}

.p-space2-123 {
  margin-bottom: 123px;
}

.p-space2-124 {
  margin-bottom: 124px;
}

.p-space2-125 {
  margin-bottom: 125px;
}

.p-space2-126 {
  margin-bottom: 126px;
}

.p-space2-127 {
  margin-bottom: 127px;
}

.p-space2-128 {
  margin-bottom: 128px;
}

.p-space2-129 {
  margin-bottom: 129px;
}

.p-space2-130 {
  margin-bottom: 130px;
}

.p-space2-131 {
  margin-bottom: 131px;
}

.p-space2-132 {
  margin-bottom: 132px;
}

.p-space2-133 {
  margin-bottom: 133px;
}

.p-space2-134 {
  margin-bottom: 134px;
}

.p-space2-135 {
  margin-bottom: 135px;
}

.p-space2-136 {
  margin-bottom: 136px;
}

.p-space2-137 {
  margin-bottom: 137px;
}

.p-space2-138 {
  margin-bottom: 138px;
}

.p-space2-139 {
  margin-bottom: 139px;
}

.p-space2-140 {
  margin-bottom: 140px;
}

.p-space2-141 {
  margin-bottom: 141px;
}

.p-space2-142 {
  margin-bottom: 142px;
}

.p-space2-143 {
  margin-bottom: 143px;
}

.p-space2-144 {
  margin-bottom: 144px;
}

.p-space2-145 {
  margin-bottom: 145px;
}

.p-space2-146 {
  margin-bottom: 146px;
}

.p-space2-147 {
  margin-bottom: 147px;
}

.p-space2-148 {
  margin-bottom: 148px;
}

.p-space2-149 {
  margin-bottom: 149px;
}

.p-space2-150 {
  margin-bottom: 150px;
}

.p-space2-151 {
  margin-bottom: 151px;
}

.p-space2-152 {
  margin-bottom: 152px;
}

.p-space2-153 {
  margin-bottom: 153px;
}

.p-space2-154 {
  margin-bottom: 154px;
}

.p-space2-155 {
  margin-bottom: 155px;
}

.p-space2-156 {
  margin-bottom: 156px;
}

.p-space2-157 {
  margin-bottom: 157px;
}

.p-space2-158 {
  margin-bottom: 158px;
}

.p-space2-159 {
  margin-bottom: 159px;
}

.p-space2-160 {
  margin-bottom: 160px;
}

.p-space2-161 {
  margin-bottom: 161px;
}

.p-space2-162 {
  margin-bottom: 162px;
}

.p-space2-163 {
  margin-bottom: 163px;
}

.p-space2-164 {
  margin-bottom: 164px;
}

.p-space2-165 {
  margin-bottom: 165px;
}

.p-space2-166 {
  margin-bottom: 166px;
}

.p-space2-167 {
  margin-bottom: 167px;
}

.p-space2-168 {
  margin-bottom: 168px;
}

.p-space2-169 {
  margin-bottom: 169px;
}

.p-space2-170 {
  margin-bottom: 170px;
}

.p-space2-171 {
  margin-bottom: 171px;
}

.p-space2-172 {
  margin-bottom: 172px;
}

.p-space2-173 {
  margin-bottom: 173px;
}

.p-space2-174 {
  margin-bottom: 174px;
}

.p-space2-175 {
  margin-bottom: 175px;
}

.p-space2-176 {
  margin-bottom: 176px;
}

.p-space2-177 {
  margin-bottom: 177px;
}

.p-space2-178 {
  margin-bottom: 178px;
}

.p-space2-179 {
  margin-bottom: 179px;
}

.p-space2-180 {
  margin-bottom: 180px;
}

.p-space2-181 {
  margin-bottom: 181px;
}

.p-space2-182 {
  margin-bottom: 182px;
}

.p-space2-183 {
  margin-bottom: 183px;
}

.p-space2-184 {
  margin-bottom: 184px;
}

.p-space2-185 {
  margin-bottom: 185px;
}

.p-space2-186 {
  margin-bottom: 186px;
}

.p-space2-187 {
  margin-bottom: 187px;
}

.p-space2-188 {
  margin-bottom: 188px;
}

.p-space2-189 {
  margin-bottom: 189px;
}

.p-space2-190 {
  margin-bottom: 190px;
}

.p-space2-191 {
  margin-bottom: 191px;
}

.p-space2-192 {
  margin-bottom: 192px;
}

.p-space2-193 {
  margin-bottom: 193px;
}

.p-space2-194 {
  margin-bottom: 194px;
}

.p-space2-195 {
  margin-bottom: 195px;
}

.p-space2-196 {
  margin-bottom: 196px;
}

.p-space2-197 {
  margin-bottom: 197px;
}

.p-space2-198 {
  margin-bottom: 198px;
}

.p-space2-199 {
  margin-bottom: 199px;
}

.p-space2-200 {
  margin-bottom: 200px;
}

.p-space3-1 {
  margin-left: 1px;
}

.p-space3-2 {
  margin-left: 2px;
}

.p-space3-3 {
  margin-left: 3px;
}

.p-space3-4 {
  margin-left: 4px;
}

.p-space3-5 {
  margin-left: 5px;
}

.p-space3-6 {
  margin-left: 6px;
}

.p-space3-7 {
  margin-left: 7px;
}

.p-space3-8 {
  margin-left: 8px;
}

.p-space3-9 {
  margin-left: 9px;
}

.p-space3-10 {
  margin-left: 10px;
}

.p-space3-11 {
  margin-left: 11px;
}

.p-space3-12 {
  margin-left: 12px;
}

.p-space3-13 {
  margin-left: 13px;
}

.p-space3-14 {
  margin-left: 14px;
}

.p-space3-15 {
  margin-left: 15px;
}

.p-space3-16 {
  margin-left: 16px;
}

.p-space3-17 {
  margin-left: 17px;
}

.p-space3-18 {
  margin-left: 18px;
}

.p-space3-19 {
  margin-left: 19px;
}

.p-space3-20 {
  margin-left: 20px;
}

.p-space3-21 {
  margin-left: 21px;
}

.p-space3-22 {
  margin-left: 22px;
}

.p-space3-23 {
  margin-left: 23px;
}

.p-space3-24 {
  margin-left: 24px;
}

.p-space3-25 {
  margin-left: 25px;
}

.p-space3-26 {
  margin-left: 26px;
}

.p-space3-27 {
  margin-left: 27px;
}

.p-space3-28 {
  margin-left: 28px;
}

.p-space3-29 {
  margin-left: 29px;
}

.p-space3-30 {
  margin-left: 30px;
}

.p-space3-31 {
  margin-left: 31px;
}

.p-space3-32 {
  margin-left: 32px;
}

.p-space3-33 {
  margin-left: 33px;
}

.p-space3-34 {
  margin-left: 34px;
}

.p-space3-35 {
  margin-left: 35px;
}

.p-space3-36 {
  margin-left: 36px;
}

.p-space3-37 {
  margin-left: 37px;
}

.p-space3-38 {
  margin-left: 38px;
}

.p-space3-39 {
  margin-left: 39px;
}

.p-space3-40 {
  margin-left: 40px;
}

.p-space3-41 {
  margin-left: 41px;
}

.p-space3-42 {
  margin-left: 42px;
}

.p-space3-43 {
  margin-left: 43px;
}

.p-space3-44 {
  margin-left: 44px;
}

.p-space3-45 {
  margin-left: 45px;
}

.p-space3-46 {
  margin-left: 46px;
}

.p-space3-47 {
  margin-left: 47px;
}

.p-space3-48 {
  margin-left: 48px;
}

.p-space3-49 {
  margin-left: 49px;
}

.p-space3-50 {
  margin-left: 50px;
}

.p-space3-51 {
  margin-left: 51px;
}

.p-space3-52 {
  margin-left: 52px;
}

.p-space3-53 {
  margin-left: 53px;
}

.p-space3-54 {
  margin-left: 54px;
}

.p-space3-55 {
  margin-left: 55px;
}

.p-space3-56 {
  margin-left: 56px;
}

.p-space3-57 {
  margin-left: 57px;
}

.p-space3-58 {
  margin-left: 58px;
}

.p-space3-59 {
  margin-left: 59px;
}

.p-space3-60 {
  margin-left: 60px;
}

.p-space3-61 {
  margin-left: 61px;
}

.p-space3-62 {
  margin-left: 62px;
}

.p-space3-63 {
  margin-left: 63px;
}

.p-space3-64 {
  margin-left: 64px;
}

.p-space3-65 {
  margin-left: 65px;
}

.p-space3-66 {
  margin-left: 66px;
}

.p-space3-67 {
  margin-left: 67px;
}

.p-space3-68 {
  margin-left: 68px;
}

.p-space3-69 {
  margin-left: 69px;
}

.p-space3-70 {
  margin-left: 70px;
}

.p-space3-71 {
  margin-left: 71px;
}

.p-space3-72 {
  margin-left: 72px;
}

.p-space3-73 {
  margin-left: 73px;
}

.p-space3-74 {
  margin-left: 74px;
}

.p-space3-75 {
  margin-left: 75px;
}

.p-space3-76 {
  margin-left: 76px;
}

.p-space3-77 {
  margin-left: 77px;
}

.p-space3-78 {
  margin-left: 78px;
}

.p-space3-79 {
  margin-left: 79px;
}

.p-space3-80 {
  margin-left: 80px;
}

.p-space3-81 {
  margin-left: 81px;
}

.p-space3-82 {
  margin-left: 82px;
}

.p-space3-83 {
  margin-left: 83px;
}

.p-space3-84 {
  margin-left: 84px;
}

.p-space3-85 {
  margin-left: 85px;
}

.p-space3-86 {
  margin-left: 86px;
}

.p-space3-87 {
  margin-left: 87px;
}

.p-space3-88 {
  margin-left: 88px;
}

.p-space3-89 {
  margin-left: 89px;
}

.p-space3-90 {
  margin-left: 90px;
}

.p-space3-91 {
  margin-left: 91px;
}

.p-space3-92 {
  margin-left: 92px;
}

.p-space3-93 {
  margin-left: 93px;
}

.p-space3-94 {
  margin-left: 94px;
}

.p-space3-95 {
  margin-left: 95px;
}

.p-space3-96 {
  margin-left: 96px;
}

.p-space3-97 {
  margin-left: 97px;
}

.p-space3-98 {
  margin-left: 98px;
}

.p-space3-99 {
  margin-left: 99px;
}

.p-space3-100 {
  margin-left: 100px;
}

.p-space3-101 {
  margin-left: 101px;
}

.p-space3-102 {
  margin-left: 102px;
}

.p-space3-103 {
  margin-left: 103px;
}

.p-space3-104 {
  margin-left: 104px;
}

.p-space3-105 {
  margin-left: 105px;
}

.p-space3-106 {
  margin-left: 106px;
}

.p-space3-107 {
  margin-left: 107px;
}

.p-space3-108 {
  margin-left: 108px;
}

.p-space3-109 {
  margin-left: 109px;
}

.p-space3-110 {
  margin-left: 110px;
}

.p-space3-111 {
  margin-left: 111px;
}

.p-space3-112 {
  margin-left: 112px;
}

.p-space3-113 {
  margin-left: 113px;
}

.p-space3-114 {
  margin-left: 114px;
}

.p-space3-115 {
  margin-left: 115px;
}

.p-space3-116 {
  margin-left: 116px;
}

.p-space3-117 {
  margin-left: 117px;
}

.p-space3-118 {
  margin-left: 118px;
}

.p-space3-119 {
  margin-left: 119px;
}

.p-space3-120 {
  margin-left: 120px;
}

.p-space3-121 {
  margin-left: 121px;
}

.p-space3-122 {
  margin-left: 122px;
}

.p-space3-123 {
  margin-left: 123px;
}

.p-space3-124 {
  margin-left: 124px;
}

.p-space3-125 {
  margin-left: 125px;
}

.p-space3-126 {
  margin-left: 126px;
}

.p-space3-127 {
  margin-left: 127px;
}

.p-space3-128 {
  margin-left: 128px;
}

.p-space3-129 {
  margin-left: 129px;
}

.p-space3-130 {
  margin-left: 130px;
}

.p-space3-131 {
  margin-left: 131px;
}

.p-space3-132 {
  margin-left: 132px;
}

.p-space3-133 {
  margin-left: 133px;
}

.p-space3-134 {
  margin-left: 134px;
}

.p-space3-135 {
  margin-left: 135px;
}

.p-space3-136 {
  margin-left: 136px;
}

.p-space3-137 {
  margin-left: 137px;
}

.p-space3-138 {
  margin-left: 138px;
}

.p-space3-139 {
  margin-left: 139px;
}

.p-space3-140 {
  margin-left: 140px;
}

.p-space3-141 {
  margin-left: 141px;
}

.p-space3-142 {
  margin-left: 142px;
}

.p-space3-143 {
  margin-left: 143px;
}

.p-space3-144 {
  margin-left: 144px;
}

.p-space3-145 {
  margin-left: 145px;
}

.p-space3-146 {
  margin-left: 146px;
}

.p-space3-147 {
  margin-left: 147px;
}

.p-space3-148 {
  margin-left: 148px;
}

.p-space3-149 {
  margin-left: 149px;
}

.p-space3-150 {
  margin-left: 150px;
}

.p-space3-151 {
  margin-left: 151px;
}

.p-space3-152 {
  margin-left: 152px;
}

.p-space3-153 {
  margin-left: 153px;
}

.p-space3-154 {
  margin-left: 154px;
}

.p-space3-155 {
  margin-left: 155px;
}

.p-space3-156 {
  margin-left: 156px;
}

.p-space3-157 {
  margin-left: 157px;
}

.p-space3-158 {
  margin-left: 158px;
}

.p-space3-159 {
  margin-left: 159px;
}

.p-space3-160 {
  margin-left: 160px;
}

.p-space3-161 {
  margin-left: 161px;
}

.p-space3-162 {
  margin-left: 162px;
}

.p-space3-163 {
  margin-left: 163px;
}

.p-space3-164 {
  margin-left: 164px;
}

.p-space3-165 {
  margin-left: 165px;
}

.p-space3-166 {
  margin-left: 166px;
}

.p-space3-167 {
  margin-left: 167px;
}

.p-space3-168 {
  margin-left: 168px;
}

.p-space3-169 {
  margin-left: 169px;
}

.p-space3-170 {
  margin-left: 170px;
}

.p-space3-171 {
  margin-left: 171px;
}

.p-space3-172 {
  margin-left: 172px;
}

.p-space3-173 {
  margin-left: 173px;
}

.p-space3-174 {
  margin-left: 174px;
}

.p-space3-175 {
  margin-left: 175px;
}

.p-space3-176 {
  margin-left: 176px;
}

.p-space3-177 {
  margin-left: 177px;
}

.p-space3-178 {
  margin-left: 178px;
}

.p-space3-179 {
  margin-left: 179px;
}

.p-space3-180 {
  margin-left: 180px;
}

.p-space3-181 {
  margin-left: 181px;
}

.p-space3-182 {
  margin-left: 182px;
}

.p-space3-183 {
  margin-left: 183px;
}

.p-space3-184 {
  margin-left: 184px;
}

.p-space3-185 {
  margin-left: 185px;
}

.p-space3-186 {
  margin-left: 186px;
}

.p-space3-187 {
  margin-left: 187px;
}

.p-space3-188 {
  margin-left: 188px;
}

.p-space3-189 {
  margin-left: 189px;
}

.p-space3-190 {
  margin-left: 190px;
}

.p-space3-191 {
  margin-left: 191px;
}

.p-space3-192 {
  margin-left: 192px;
}

.p-space3-193 {
  margin-left: 193px;
}

.p-space3-194 {
  margin-left: 194px;
}

.p-space3-195 {
  margin-left: 195px;
}

.p-space3-196 {
  margin-left: 196px;
}

.p-space3-197 {
  margin-left: 197px;
}

.p-space3-198 {
  margin-left: 198px;
}

.p-space3-199 {
  margin-left: 199px;
}

.p-space3-200 {
  margin-left: 200px;
}

.p-space4-1 {
  margin-right: 1px;
}

.p-space4-2 {
  margin-right: 2px;
}

.p-space4-3 {
  margin-right: 3px;
}

.p-space4-4 {
  margin-right: 4px;
}

.p-space4-5 {
  margin-right: 5px;
}

.p-space4-6 {
  margin-right: 6px;
}

.p-space4-7 {
  margin-right: 7px;
}

.p-space4-8 {
  margin-right: 8px;
}

.p-space4-9 {
  margin-right: 9px;
}

.p-space4-10 {
  margin-right: 10px;
}

.p-space4-11 {
  margin-right: 11px;
}

.p-space4-12 {
  margin-right: 12px;
}

.p-space4-13 {
  margin-right: 13px;
}

.p-space4-14 {
  margin-right: 14px;
}

.p-space4-15 {
  margin-right: 15px;
}

.p-space4-16 {
  margin-right: 16px;
}

.p-space4-17 {
  margin-right: 17px;
}

.p-space4-18 {
  margin-right: 18px;
}

.p-space4-19 {
  margin-right: 19px;
}

.p-space4-20 {
  margin-right: 20px;
}

.p-space4-21 {
  margin-right: 21px;
}

.p-space4-22 {
  margin-right: 22px;
}

.p-space4-23 {
  margin-right: 23px;
}

.p-space4-24 {
  margin-right: 24px;
}

.p-space4-25 {
  margin-right: 25px;
}

.p-space4-26 {
  margin-right: 26px;
}

.p-space4-27 {
  margin-right: 27px;
}

.p-space4-28 {
  margin-right: 28px;
}

.p-space4-29 {
  margin-right: 29px;
}

.p-space4-30 {
  margin-right: 30px;
}

.p-space4-31 {
  margin-right: 31px;
}

.p-space4-32 {
  margin-right: 32px;
}

.p-space4-33 {
  margin-right: 33px;
}

.p-space4-34 {
  margin-right: 34px;
}

.p-space4-35 {
  margin-right: 35px;
}

.p-space4-36 {
  margin-right: 36px;
}

.p-space4-37 {
  margin-right: 37px;
}

.p-space4-38 {
  margin-right: 38px;
}

.p-space4-39 {
  margin-right: 39px;
}

.p-space4-40 {
  margin-right: 40px;
}

.p-space4-41 {
  margin-right: 41px;
}

.p-space4-42 {
  margin-right: 42px;
}

.p-space4-43 {
  margin-right: 43px;
}

.p-space4-44 {
  margin-right: 44px;
}

.p-space4-45 {
  margin-right: 45px;
}

.p-space4-46 {
  margin-right: 46px;
}

.p-space4-47 {
  margin-right: 47px;
}

.p-space4-48 {
  margin-right: 48px;
}

.p-space4-49 {
  margin-right: 49px;
}

.p-space4-50 {
  margin-right: 50px;
}

.p-space4-51 {
  margin-right: 51px;
}

.p-space4-52 {
  margin-right: 52px;
}

.p-space4-53 {
  margin-right: 53px;
}

.p-space4-54 {
  margin-right: 54px;
}

.p-space4-55 {
  margin-right: 55px;
}

.p-space4-56 {
  margin-right: 56px;
}

.p-space4-57 {
  margin-right: 57px;
}

.p-space4-58 {
  margin-right: 58px;
}

.p-space4-59 {
  margin-right: 59px;
}

.p-space4-60 {
  margin-right: 60px;
}

.p-space4-61 {
  margin-right: 61px;
}

.p-space4-62 {
  margin-right: 62px;
}

.p-space4-63 {
  margin-right: 63px;
}

.p-space4-64 {
  margin-right: 64px;
}

.p-space4-65 {
  margin-right: 65px;
}

.p-space4-66 {
  margin-right: 66px;
}

.p-space4-67 {
  margin-right: 67px;
}

.p-space4-68 {
  margin-right: 68px;
}

.p-space4-69 {
  margin-right: 69px;
}

.p-space4-70 {
  margin-right: 70px;
}

.p-space4-71 {
  margin-right: 71px;
}

.p-space4-72 {
  margin-right: 72px;
}

.p-space4-73 {
  margin-right: 73px;
}

.p-space4-74 {
  margin-right: 74px;
}

.p-space4-75 {
  margin-right: 75px;
}

.p-space4-76 {
  margin-right: 76px;
}

.p-space4-77 {
  margin-right: 77px;
}

.p-space4-78 {
  margin-right: 78px;
}

.p-space4-79 {
  margin-right: 79px;
}

.p-space4-80 {
  margin-right: 80px;
}

.p-space4-81 {
  margin-right: 81px;
}

.p-space4-82 {
  margin-right: 82px;
}

.p-space4-83 {
  margin-right: 83px;
}

.p-space4-84 {
  margin-right: 84px;
}

.p-space4-85 {
  margin-right: 85px;
}

.p-space4-86 {
  margin-right: 86px;
}

.p-space4-87 {
  margin-right: 87px;
}

.p-space4-88 {
  margin-right: 88px;
}

.p-space4-89 {
  margin-right: 89px;
}

.p-space4-90 {
  margin-right: 90px;
}

.p-space4-91 {
  margin-right: 91px;
}

.p-space4-92 {
  margin-right: 92px;
}

.p-space4-93 {
  margin-right: 93px;
}

.p-space4-94 {
  margin-right: 94px;
}

.p-space4-95 {
  margin-right: 95px;
}

.p-space4-96 {
  margin-right: 96px;
}

.p-space4-97 {
  margin-right: 97px;
}

.p-space4-98 {
  margin-right: 98px;
}

.p-space4-99 {
  margin-right: 99px;
}

.p-space4-100 {
  margin-right: 100px;
}

.p-space4-101 {
  margin-right: 101px;
}

.p-space4-102 {
  margin-right: 102px;
}

.p-space4-103 {
  margin-right: 103px;
}

.p-space4-104 {
  margin-right: 104px;
}

.p-space4-105 {
  margin-right: 105px;
}

.p-space4-106 {
  margin-right: 106px;
}

.p-space4-107 {
  margin-right: 107px;
}

.p-space4-108 {
  margin-right: 108px;
}

.p-space4-109 {
  margin-right: 109px;
}

.p-space4-110 {
  margin-right: 110px;
}

.p-space4-111 {
  margin-right: 111px;
}

.p-space4-112 {
  margin-right: 112px;
}

.p-space4-113 {
  margin-right: 113px;
}

.p-space4-114 {
  margin-right: 114px;
}

.p-space4-115 {
  margin-right: 115px;
}

.p-space4-116 {
  margin-right: 116px;
}

.p-space4-117 {
  margin-right: 117px;
}

.p-space4-118 {
  margin-right: 118px;
}

.p-space4-119 {
  margin-right: 119px;
}

.p-space4-120 {
  margin-right: 120px;
}

.p-space4-121 {
  margin-right: 121px;
}

.p-space4-122 {
  margin-right: 122px;
}

.p-space4-123 {
  margin-right: 123px;
}

.p-space4-124 {
  margin-right: 124px;
}

.p-space4-125 {
  margin-right: 125px;
}

.p-space4-126 {
  margin-right: 126px;
}

.p-space4-127 {
  margin-right: 127px;
}

.p-space4-128 {
  margin-right: 128px;
}

.p-space4-129 {
  margin-right: 129px;
}

.p-space4-130 {
  margin-right: 130px;
}

.p-space4-131 {
  margin-right: 131px;
}

.p-space4-132 {
  margin-right: 132px;
}

.p-space4-133 {
  margin-right: 133px;
}

.p-space4-134 {
  margin-right: 134px;
}

.p-space4-135 {
  margin-right: 135px;
}

.p-space4-136 {
  margin-right: 136px;
}

.p-space4-137 {
  margin-right: 137px;
}

.p-space4-138 {
  margin-right: 138px;
}

.p-space4-139 {
  margin-right: 139px;
}

.p-space4-140 {
  margin-right: 140px;
}

.p-space4-141 {
  margin-right: 141px;
}

.p-space4-142 {
  margin-right: 142px;
}

.p-space4-143 {
  margin-right: 143px;
}

.p-space4-144 {
  margin-right: 144px;
}

.p-space4-145 {
  margin-right: 145px;
}

.p-space4-146 {
  margin-right: 146px;
}

.p-space4-147 {
  margin-right: 147px;
}

.p-space4-148 {
  margin-right: 148px;
}

.p-space4-149 {
  margin-right: 149px;
}

.p-space4-150 {
  margin-right: 150px;
}

.p-space4-151 {
  margin-right: 151px;
}

.p-space4-152 {
  margin-right: 152px;
}

.p-space4-153 {
  margin-right: 153px;
}

.p-space4-154 {
  margin-right: 154px;
}

.p-space4-155 {
  margin-right: 155px;
}

.p-space4-156 {
  margin-right: 156px;
}

.p-space4-157 {
  margin-right: 157px;
}

.p-space4-158 {
  margin-right: 158px;
}

.p-space4-159 {
  margin-right: 159px;
}

.p-space4-160 {
  margin-right: 160px;
}

.p-space4-161 {
  margin-right: 161px;
}

.p-space4-162 {
  margin-right: 162px;
}

.p-space4-163 {
  margin-right: 163px;
}

.p-space4-164 {
  margin-right: 164px;
}

.p-space4-165 {
  margin-right: 165px;
}

.p-space4-166 {
  margin-right: 166px;
}

.p-space4-167 {
  margin-right: 167px;
}

.p-space4-168 {
  margin-right: 168px;
}

.p-space4-169 {
  margin-right: 169px;
}

.p-space4-170 {
  margin-right: 170px;
}

.p-space4-171 {
  margin-right: 171px;
}

.p-space4-172 {
  margin-right: 172px;
}

.p-space4-173 {
  margin-right: 173px;
}

.p-space4-174 {
  margin-right: 174px;
}

.p-space4-175 {
  margin-right: 175px;
}

.p-space4-176 {
  margin-right: 176px;
}

.p-space4-177 {
  margin-right: 177px;
}

.p-space4-178 {
  margin-right: 178px;
}

.p-space4-179 {
  margin-right: 179px;
}

.p-space4-180 {
  margin-right: 180px;
}

.p-space4-181 {
  margin-right: 181px;
}

.p-space4-182 {
  margin-right: 182px;
}

.p-space4-183 {
  margin-right: 183px;
}

.p-space4-184 {
  margin-right: 184px;
}

.p-space4-185 {
  margin-right: 185px;
}

.p-space4-186 {
  margin-right: 186px;
}

.p-space4-187 {
  margin-right: 187px;
}

.p-space4-188 {
  margin-right: 188px;
}

.p-space4-189 {
  margin-right: 189px;
}

.p-space4-190 {
  margin-right: 190px;
}

.p-space4-191 {
  margin-right: 191px;
}

.p-space4-192 {
  margin-right: 192px;
}

.p-space4-193 {
  margin-right: 193px;
}

.p-space4-194 {
  margin-right: 194px;
}

.p-space4-195 {
  margin-right: 195px;
}

.p-space4-196 {
  margin-right: 196px;
}

.p-space4-197 {
  margin-right: 197px;
}

.p-space4-198 {
  margin-right: 198px;
}

.p-space4-199 {
  margin-right: 199px;
}

.p-space4-200 {
  margin-right: 200px;
}

.bg-color--gray {
  background: #f5f5f5;
}

.bg-color--white {
  background: white;
}

.visual {
  position: relative;
}

.visual .bg {
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/*-----------------------------------------------------------------------------------------
    Start page index.html
-----------------------------------------------------------------------------------------*/
#container-index .visual {
  height: 876px;
}

#container-index .visual .bg {
  background-image: url("/assets/img/index/bg.jpg");
  display: block !important;
}

#container-index .visual .bg .bg-text {
  position: absolute;
  top: 207px !important;
  right: 216px !important;
}

#container-index .container .block-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e7f5ff;
  height: 200px;
}

#container-index .container .block-news #wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-index .container .block-news .content {
  float: left;
}

#container-index .container .block-news .content .bnt-news {
  position: relative;
  z-index: 2;
  background-color: #015294;
  border: 2px solid #015294;
  color: #fff;
  line-height: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 17px;
  width: 175px;
  height: 45px;
  border-radius: 5px;
  background-image: url("/assets/img/index/icon-1.png");
  background-size: 75px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

#container-index .container .block-news .content .bnt-news:hover {
  background-image: url("/assets/img/index/icon-2.png");
  background-size: 75px 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-color: #015294;
  color: #015294;
}

#container-index .container .block-news .content .article {
  font-size: 13px;
  text-align: left;
  padding-top: 38px;
  padding-left: 69px;
}

#container-index .container .block-news .content .article .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 35px 0px;
}

#container-index .container .block-news .content .article .item-title {
  padding-left: 61px;
}

#container-index .container .c-information {
  overflow: hidden;
}

#container-index .container .c-information .content {
  text-align: left;
  width: 1520px;
}

#container-index .container .c-information .content .content-info .info-article {
  font-size: 14px;
  width: 471px;
  padding-top: 21px;
}

#container-index .container .c-information .content .content-info .info-article h3 {
  line-height: 20px;
}

#container-index .container .c-information .content .content-info .info-button {
  position: absolute;
  bottom: 0;
}

#container-index .container .c-information .content .content-info .button-detail {
  position: relative;
  z-index: 2;
  background-color: #0291aa;
  border: 2px solid #0291aa;
  color: #fff;
  line-height: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 17px;
  width: 470px;
  height: 50px;
  border-radius: 5px;
  background-image: url("/assets/img/index/btn-detail.png");
  background-size: 195px 15px;
  background-repeat: no-repeat;
  background-position: center;
}

#container-index .container .c-information .content .content-info .button-detail:hover {
  background-image: url("/assets/img/index/btn-detail-h.png");
  background-size: 195px 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-color: #0291aa;
  color: #0291aa;
}

#container-index .container .c-information .content .content-info--left .content-info-inner {
  padding-right: 70px;
  height: 353px;
  position: relative;
}

#container-index .container .c-information .content .content-info--right .content-info-inner {
  padding-left: 70px;
  height: 353px;
  position: relative;
}

#container-index .container .information-1 {
  padding: 50px 0px 80px 0px;
}

#container-index .container .information-2 {
  padding: 80px 0px 80px 0px;
}

#container-index .container .information-3 {
  padding: 80px 0px 80px 0px;
}

/*-----------------------------------------------------------------------------------------
    End page index.html
-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------
    Start page news.html
-----------------------------------------------------------------------------------------*/
#container-news {
  /* Modal Content */
  /* The Close Button */
}

#container-news .visual {
  height: 400px;
  width: 100%;
}

#container-news .visual .bg {
  background-image: url("/assets/img/news/bg.jpg");
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-news .visual .bg .bg-text {
  margin-top: 125px;
}

#container-news .c-news {
  text-align: left;
  height: 415px;
}

#container-news .c-news .blocl-title .b-title {
  font-size: 20px;
  color: #025995;
}

#container-news .c-news .blocl-title .b-title::after {
  content: '';
  border-bottom: 1px solid #025995;
  width: 100%;
  display: block;
}

#container-news .c-news .blocl-title .b-date {
  font-size: 14px;
  line-height: 20px;
  color: #009fbb;
}

#container-news .c-news .blocl-title .b-date .wraper {
  height: 50px;
  padding: 10px 0 0 0;
}

#container-news .c-news .blocl-title .b-date .wraper .date-text {
  padding: 0px 0 0 13px;
}

#container-news .c-news .block-content .content-text {
  width: 600px;
  float: left;
  font-size: 14px;
}

#container-news .c-news .block-content .content-text--noImg {
  width: 100% !important;
}

#container-news .c-news .block-content .content-text p {
  line-height: 20px;
  margin-bottom: 20px;
}

#container-news .c-news .block-content .content-photo {
  width: 430px;
  height: 300px;
  float: right;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

#container-news .c-news .block-content .content-photo:hover {
  -webkit-box-shadow: 0 15px 35px #777;
  box-shadow: 0 15px 35px #777;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#container-news .c-news .block-content .content-photo .wraper-img {
  width: 430px;
  height: 300px;
  overflow: hidden;
  float: right;
}

#container-news .c-news--gray {
  background: #f7f7f7;
}

#container-news .c-news--white {
  background: #fff;
}

#container-news .c-news--1 {
  padding: 117px 0px 35px 0px;
}

#container-news .c-news--2 {
  padding: 57px 0px 35px 0px;
}

#container-news .c-news--3 {
  padding: 57px 0px 48px 0px;
}

#container-news .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000d9;
}

#container-news .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  height: auto;
  width: 400px;
}

#container-news .mySlides {
  height: 100%;
}

#container-news .close {
  color: white;
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 50px;
  font-weight: bold;
}

#container-news .close:hover,
#container-news .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/*-----------------------------------------------------------------------------------------
    End page news.html
-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------
    Start page company.html
-----------------------------------------------------------------------------------------*/
#container-company .visual {
  height: 400px;
  width: 100%;
}

#container-company .visual .bg {
  background-image: url("/assets/img/company/bg.jpg");
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-company .visual .bg .bg-text {
  margin-top: 125px;
}

#container-company .c-company {
  text-align: left;
  padding: 80px 0px 80px 0px;
}

#container-company .c-company--white {
  background-color: #fff;
}

#container-company .c-company--gray {
  background-color: #f7f7f7;
}

#container-company .greeting .greeting-title {
  margin-bottom: 28px;
}

#container-company .greeting .greeting-article {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 52px;
}

#container-company .greeting .greeting-article .wraper-article .article {
  padding-bottom: 19px;
}

#container-company .greeting .greeting-article .wraper-article .article--last {
  padding-bottom: 0px;
}

#container-company .greeting .greeting-signatures {
  text-align: right;
  margin-bottom: 35px;
}

#container-company .greeting .greeting-image {
  width: 100%;
  height: 218px;
}

#container-company .greeting .greeting-image img {
  height: 100%;
}

#container-company .profile .profile-title {
  margin-bottom: 35px;
  margin-top: -5px;
}

#container-company .profile .profile-table {
  font-size: 14px;
  line-height: 60px;
}

#container-company .profile .profile-table .table-info {
  width: 100%;
  border-collapse: collapse;
}

#container-company .profile .profile-table .table-info td {
  padding: 25px 0px 25px 0px;
}

#container-company .profile .profile-table .table-info .col-1 {
  width: 180px;
  border-bottom: 1px solid #d4d4d4;
  background-color: #e7f5ff;
  padding-left: 40px;
}

#container-company .profile .profile-table .table-info .col-1--first {
  border-top: 1px solid #d4d4d4;
}

#container-company .profile .profile-table .table-info .col-2 {
  border-bottom: 1px solid #d4d4d4;
  background-color: #fff;
  padding-left: 40px;
}

#container-company .profile .profile-table .table-info .col-2--first {
  border-top: 1px solid #d4d4d4;
}

#container-company .staff-introduction {
  font-size: 14px;
}

#container-company .staff-introduction .staff-title {
  margin-bottom: 28px;
}

#container-company .staff-introduction .staff-gallery {
  height: 455px;
}

#container-company .staff-introduction .item {
  float: left;
  padding-right: 28px;
}

#container-company .staff-introduction .item .item-photo {
  width: 239px;
  height: 167px;
  padding: 4px;
  border: 1px solid #aaa8a9;
  -webkit-transition: .5s;
  transition: .5s;
}

#container-company .staff-introduction .item .item-photo:hover {
  -webkit-box-shadow: 0 15px 35px #777;
  box-shadow: 0 15px 35px #777;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#container-company .staff-introduction .item .item-title {
  text-align: center;
}

#container-company .staff-introduction .item--last {
  padding-right: 0px;
  padding-bottom: 50px;
}

#container-company .access-map .map-title {
  margin-bottom: 35px;
}

#container-company .access-map .map-content {
  width: 1085px;
  height: 460px;
  border: 1px solid #d4d4d4;
}

/*-----------------------------------------------------------------------------------------
    End page company.html
-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------
    Start page company.html
-----------------------------------------------------------------------------------------*/
#container-business .visual {
  height: 400px;
  width: 100%;
}

#container-business .visual .bg {
  background-image: url("/assets/img/business/bg.jpg");
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-business .visual .bg .bg-text {
  margin-top: 125px;
}

#container-business .block-1 {
  width: 100%;
  vertical-align: text-top;
}

#container-business .block-2 {
  width: 100%;
  text-align: right;
}

#container-business .block-2 .wraper-img {
  width: 430px;
  height: 300px;
  overflow: hidden;
  float: right;
  margin-right: 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

#container-business .block-2 .wraper-img:hover {
  -webkit-box-shadow: 0 15px 35px #777;
  box-shadow: 0 15px 35px #777;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#container-business .business-content {
  text-align: left;
  table-layout: fixed;
  width: 100%;
}

#container-business .business-content .business-title {
  margin-bottom: 20px;
}

#container-business .business-content .business-title .icon {
  font-size: 28px;
  color: #009fbb;
}

#container-business .business-content .business-title .title {
  font-size: 20px;
  color: #025995;
}

#container-business .business-content .business-article {
  font-size: 14px;
  line-height: 20px;
}

#container-business .business-content .business-article .text {
  padding-bottom: 25px;
}

#container-business .business-content .business-article .text--last {
  padding-bottom: 0px;
}

#container-business .business-wraper {
  padding: 25px;
  border: 1px solid #009fbb;
}

/*-----------------------------------------------------------------------------------------
    End page company.html
-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------
    Start page case.html
-----------------------------------------------------------------------------------------*/
#container-case .visual {
  height: 400px;
  width: 100%;
}

#container-case .visual .bg {
  background-image: url("/assets/img/case/bg.jpg");
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-case .visual .bg .bg-text {
  margin-top: 125px;
}

#container-case .container {
  min-height: 1000px;
}

#container-case .group-button .info-button .button-detail {
  position: relative;
  z-index: 2;
  background-color: #0291aa;
  border: 2px solid #0291aa;
  color: #fff;
  line-height: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 17px;
  width: 260px;
  height: 50px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

#container-case .group-button .info-button .button-detail:hover {
  background-color: #016f82;
  border: 2px solid #016f82;
}

#container-case .group-button .info-button .detail-1 {
  background-image: url("/assets/img/case/btn_1.png");
}

#container-case .group-button .info-button .detail-2 {
  background-image: url("/assets/img/case/btn_2.png");
}

#container-case .group-button .info-button .detail-3 {
  background-image: url("/assets/img/case/btn_3.png");
}

#container-case .group-button .info-button .detail-1-click {
  background-image: url("/assets/img/case/btn_1_h.png");
}

#container-case .group-button .info-button .detail-2-click {
  background-image: url("/assets/img/case/btn_2_h.png");
}

#container-case .group-button .info-button .detail-3-click {
  background-image: url("/assets/img/case/btn_3_h.png");
}

#container-case .group-button .info-button .button-detail-click {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #0291aa;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 260px;
  height: 50px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

#container-case .group-button .group-button-text {
  font-size: 23px;
  color: #025995;
}

#container-case .group-button .group-button-text::after {
  content: '';
  border-bottom: 1px solid #015294;
  display: block;
}

#container-case .c-case {
  text-align: left;
}

#container-case .c-case .case-title {
  font-size: 20px;
  background-color: #e1f0fa;
  color: #025995;
  padding: 13px 0px 13px 20px;
  margin-bottom: 30px;
}

#container-case .c-case .case-table {
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
}

#container-case .c-case .case-table-col-img {
  width: 430px;
  height: 350px;
}

#container-case .c-case .case-table-col-img .case-table-photo {
  width: 430px;
  height: 300px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

#container-case .c-case .case-table-col-img .case-table-photo:hover {
  -webkit-box-shadow: 6px 8px 15px 0px #777;
  box-shadow: 6px 8px 15px 0px #777;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#container-case .c-case .case-table-col-1 {
  vertical-align: top;
}

#container-case .c-case .case-table-col-2 {
  vertical-align: top;
  height: 100%;
}

#container-case .c-case .case-table-col-2 .table-information {
  font-size: 13px;
  margin-left: 50px;
  border-collapse: collapse;
  width: 100%;
}

#container-case .c-case .case-table-col-2 .table-information tr {
  height: 50px;
}

#container-case .c-case .case-table-col-2 .table-information .information-col-1 {
  border-bottom: 1px solid #d8d7d7;
  width: 160px;
}

#container-case .c-case .case-table-col-2 .table-information .information-col-1 p {
  padding-left: 20px;
}

#container-case .c-case .case-table-col-2 .table-information .information-col-1--first {
  border-top: 1px solid #d8d7d7;
}

#container-case .c-case .case-table-col-2 .table-information .information-col-2 {
  border-bottom: 1px solid #d8d7d7;
}

#container-case .c-case .case-table-col-2 .table-information .information-col-2--first {
  border-top: 1px solid #d8d7d7;
}

/*-----------------------------------------------------------------------------------------
    End page case.html
-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------
    Start page recruit.html
-----------------------------------------------------------------------------------------*/
#container-recruit .visual {
  height: 400px;
  width: 100%;
}

#container-recruit .visual .bg {
  background-image: url("/assets/img/recruit/bg.jpg");
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-recruit .visual .bg .bg-text {
  margin-top: 125px;
}

#container-recruit .container {
  min-height: 1000px;
}

#container-recruit .c-article {
  text-align: left;
  font-size: 14px;
}

#container-recruit .c-article .wrap, #container-recruit .c-article .article-img {
  display: table-cell;
}

#container-recruit .c-article .wrap {
  width: 670px;
  vertical-align: top;
}

#container-recruit .c-article .article-img {
  text-align: right;
  width: 415px;
}

#container-recruit .c-article .article-img .wrap-img {
  margin-top: 20px;
  margin-right: 0;
  margin-left: auto;
  width: 355px;
  height: 240px;
}

#container-recruit .c-gfa {
  text-align: left;
  font-size: 14px;
  line-height: 60px;
  background-color: #f7f7f7;
}

#container-recruit .c-gfa .gfa-title {
  padding-top: 75px;
  margin-bottom: 27px;
}

#container-recruit .c-gfa .gfa-content {
  padding-bottom: 80px;
}

#container-recruit .c-gfa .table-info {
  width: 100%;
  border-collapse: collapse;
}

#container-recruit .c-gfa .table-info td {
  padding: 25px 0px 25px 0px;
}

#container-recruit .c-gfa .table-info .col-1 {
  width: 218px;
  border-bottom: 1px solid #d4d4d4;
  background-color: #e7f5ff;
  padding-left: 60px;
}

#container-recruit .c-gfa .table-info .col-1--first {
  border-top: 1px solid #d4d4d4;
}

#container-recruit .c-gfa .table-info .col-2 {
  border-bottom: 1px solid #d4d4d4;
  background-color: #fff;
  padding-left: 40px;
}

#container-recruit .c-gfa .table-info .col-2--first {
  border-top: 1px solid #d4d4d4;
}

#container-recruit .c-banner .banner-content {
  position: relative;
}

#container-recruit .c-banner .banner-button {
  position: absolute;
  bottom: 33px;
  left: 46px;
  bottom: 40px;
  left: 40px;
}

#container-recruit .button-detail {
  position: relative;
  z-index: 2;
  background-color: #0291aa;
  border: 2px solid #0291aa;
  color: #fff;
  line-height: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 17px;
  width: 470px;
  height: 50px;
  border-radius: 5px;
  background-image: url("/assets/img/recruit/icon_mail.png");
  background-repeat: no-repeat;
  background-position: center;
}

#container-recruit .button-detail:hover {
  background-image: url("/assets/img/recruit/icon_mail_h.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-color: #0291aa;
  color: #0291aa;
}

/*-----------------------------------------------------------------------------------------
    End page recruit.html
-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------
    Start page contact.html
-----------------------------------------------------------------------------------------*/
#container-contact .visual {
  height: 400px;
  width: 100%;
}

#container-contact .visual .bg {
  background-image: url("/assets/img/contact/bg.jpg");
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-contact .visual .bg .bg-text {
  margin-top: 125px;
}

#container-contact .container {
  min-height: 1000px;
}

#container-contact .contact-us {
  text-align: left;
  font-size: 14px;
}

#container-contact .contact-us .contact-us-title {
  margin-bottom: 25px;
}

#container-contact .contact-form {
  text-align: left;
  font-size: 14px;
}

#container-contact .contactForm {
  background-color: #f7f7f7;
  padding: 80px 0 80px 0;
}

#container-contact .contactForm .contact-form-title {
  margin-bottom: 45px;
}

#container-contact .contactForm .contact-table {
  table-layout: fixed;
  width: 100%;
}

#container-contact .contactForm .contact-table .label {
  width: 160px;
  color: #0361a7;
}

#container-contact .contactForm .contact-table .label-state {
  width: 75px;
}

#container-contact .contactForm .contact-table .input_form {
  width: 100%;
}

#container-contact .contactForm .contact-table .input_form .wrap {
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-contact .contactForm .contact-table .content-label {
  width: 28px;
  padding: 5px;
  text-align: center;
  color: #fff;
}

#container-contact .contactForm .contact-table .content-label--green {
  background-color: #0362a8;
}

#container-contact .contactForm .contact-table .content-label--gray {
  background-color: #8c8b8b;
}

#container-contact .submit-form {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 125px;
  padding-left: 40px;
}

#container-contact .submit-form .btn-submit-form {
  background-color: #0291aa;
  border: 2px solid #0291aa;
  color: #fff;
  line-height: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 310px;
  height: 50px;
  border-radius: 4px;
  background-image: url("/assets/img/index/btn-detail.png");
  background-repeat: no-repeat;
  background-position: center;
}

#container-contact .submit-form .btn-submit-form:hover {
  background-color: #00798e;
  border-color: #00798e;
}

#container-contact input[type=text],
#container-contact select {
  padding: 9px 18px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 53px;
}

#container-contact textarea {
  padding: 9px 18px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 150px;
  resize: none;
}

#container-contact .c-w-100-p {
  width: 100%;
}

#container-contact .c-w-130 {
  width: 130px;
}

#container-contact .c-w-180 {
  width: 180px;
}

/*-----------------------------------------------------------------------------------------
    End page contact.html
-----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
header .headerInner {
  height: 120px;
  height: 120px;
  position: fixed;
  background: #fff;
  z-index: 999;
  width: 100%;
}

header .contact {
  background: #015294;
}

header .content {
  height: 47px;
}

header .content .header-text {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2.1rem;
  margin-top: 19px;
}

header .content .tel {
  padding-right: 21px;
}

header .content .header-button {
  padding-top: 3px;
}

header .content .contact {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.542rem;
  background: #009fbb;
  display: inline-block;
  padding: 4px 32px 0px 4px;
  border-radius: 5px;
  width: 155px;
  position: relative;
  text-decoration: none;
  margin-top: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .5s;
  transition: .5s;
}

header .content .contact::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../img/icon_mail.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  right: 24px;
  top: 7px;
}

header .content .contact:hover {
  background-color: #03ccef;
  -webkit-transition: .5s;
  transition: .5s;
}

header .nav {
  width: 100%;
}

header .nav .nav-logo {
  float: left;
  margin-top: 6px;
}

header .nav .nav-logo img {
  width: 297px;
  height: 62px;
}

header .nav .nav-menu {
  margin-top: 22px;
  display: inline-block;
  float: right;
}

header .nav .nav-menu .item {
  display: inline-block;
  height: 30px;
  border-left: 1px solid;
  opacity: .7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .nav .nav-menu .item--l {
  border-right: 1px solid;
}

header .nav .nav-menu .item img {
  width: 100%;
}

header .nav .nav-menu .item .item-chil {
  display: table;
  height: 35px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

header .nav .nav-menu .item .item-chil::after {
  content: "";
  display: block;
  width: 0%;
}

header .nav .nav-menu .item .item-chil:hover {
  border-bottom: 4px solid #009fbb;
}

header .nav .nav-menu .item:hover {
  opacity: 1;
}

header .menu_active {
  opacity: 1 !important;
}

header .menu_active .item-chil {
  border-bottom: 4px solid #009fbb;
}

footer .bg-footer {
  height: 108px;
  width: 100%;
  background-image: url(/assets/img/index/footer-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .fGroup {
  height: 170px;
  background: #003c7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .fGroup .fGroup-inner {
  height: 90px;
  position: relative;
}

footer .fGroup .fGroup-logo {
  width: 408px;
  height: 100%;
  margin-right: 17px;
}

footer .fGroup .fGroup-logo .fGroup-logo-text {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #fff;
}

footer .fGroup .fGroup-contact {
  width: 320px;
  height: 100%;
  border-left: 1px solid #809ebf;
  text-align: left;
  padding-left: 26px;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

footer .fGroup .fGroup-email {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 330px;
  height: 100%;
  text-align: left;
  color: #fff;
}

footer .fGroup .fGroup-email .table-fGroup-email {
  height: 40px;
  font-size: 12px;
  margin-bottom: 6px;
}

footer .fGroup .fGroup-email .table-fGroup-email .color {
  color: #3b75b5;
}

footer .fGroup .fGroup-email .col-1 {
  width: 170px;
}

footer .fGroup .fGroup-email .col-2 {
  width: 100px;
}

footer .fGroup .fGroup-email .footer-button .contact {
  background: white;
  height: 45px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  padding-right: 20px;
  color: #003b6b;
}

footer .fGroup .fGroup-email .footer-button .contact:link {
  color: #003b6b;
}

footer .fGroup .fGroup-email .footer-button .contact:visited {
  color: #003b6b;
}

footer .fGroup .fGroup-email .footer-button .contact:active {
  color: #003b6b;
}

footer .fGroup .fGroup-email .footer-button .contact::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url("/assets/img/icon_mail_ft.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  right: 40px;
  top: 10px;
}

footer .fGroup .fGroup-email .footer-button .contact:hover {
  background: #6cace0;
}

footer .copyright {
  height: 50px;
  background: #002f64;
  text-align: left;
  font-size: 12px;
  line-height: 30px;
  color: #608fbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
