.p-index1 {
    margin-top: 40px;
}

//-------------------------------------------------------
.p-index2 {
    @include containerWidth;
    margin-top: 60px;
    .wraper {}
}

//-------------------------------------------------------
.p-index3 {
    margin-top: 40px;
}

//-------------------------------------------------------
.p-index4 {
    margin-top: 40px;
    margin-bottom: 60px;
}

//-------------------------------------------------------
.p-index5{
    background-color: rgba(156, 131, 91, 0.1);
    padding-top: 70px;
}
//-------------------------------------------------------
.index-ads {
    @include containerWidth;
    .ads-1,
    .ads-2 {
        display: inline-block;
        position: relative;
    }
    .ads-2 {
        float: right;
        @include clear;
        &::after {
            content: '';
            background-image: url('../img/index/btn-ads-2.png');
            width: 130px;
            height: 30px;
            position: absolute;
            bottom: 20px;
            left: 70px;
        }
    }
    .ads-1 {
        &::after {
            content: '';
            background-image: url('../img/index/btn-ads-1.png');
            width: 130px;
            height: 30px;
            position: absolute;
            bottom: 10px;
            right: 30px;
        }
    }
}

//-------------------------------------------------------
.group-info {
    display: table;
    img {
        width: 100%;
    }
    @include containerWidth;
    .col-1,
    .col-2 {
        width: 460px;
    }
    .col-1 {
        float: left;
    }
    .col-2 {
        float: right;
        @include clear;
    }
    .gallery {
        img {
            width: 100%;
        }
        .item {
            color: #fff;
            background-color: $color-green;
            float: left;
            border-radius: 5px;
            margin-bottom: 20px;
            &--c {
                float: right;
                @include clear;
                margin-right: 0px;
            } // &:last-child {
            //     @include clear;
            //     margin-right: 0px;
            // }
            // overflow: hidden;
            .gallery-image {
                width: 220px;
                height: 145px;
                position: relative;
                .text {
                    font-size: 12px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #fab445;
                    height: 25px;
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .title {
                //padding: 30px 0px 30px 0px;
                height: 85px;
                line-height: 20px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .group-icon {
        display: inline-block;
        .icon-1 {
            float: left;
        }
        .icon-2 {
            float: right;
            margin-left: 12px;
            border: 1px solid #ccc;
            /* border-radius: 7px; */
            background-color: #fafafa;
            height: 110px;
            overflow: hidden;
            @include clear;
        }
    }
    .social {
        margin-top: 20px;
        display: inline-block;
        .twitter, .youtube{
            margin-top: 20px;
        }
        .twitter {
            float: left;
        }
        .youtube {
            float: right;
            @include clear;
        }
    }
}

.google-map{
    @include containerWidth;
    margin-top: 60px;
    height: 300px;
    .google-map-content{
        width: 100%;
       height: 100%;
        overflow: hidden;
    }
}

//-------------------------------------------------------