$color-line-top: #0f5c9b;
$primary-background: #fff;
$primary-border: #dddddd;
$ft_background: 360px;
@mixin main_contents($color, $height) {
    position: relative;
    background: $color;
    height: $height;
    min-width: 950px;
}

// font size
@mixin fs($fontSize, $baseFontSize:10) {
    font-size: #{$fontSize / $baseFontSize}rem;
}

// line height
@mixin alh($lineHeight, $baseFontSize:10) {
    line-height: #{$lineHeight / $baseFontSize}rem;
}

@mixin main_contents_mobile($color) {
    position: unset;
    background: $color; //height: $height;
    min-width: 100%;
}

@mixin position_abs {
    text-align: center;
    position: absolute;
}

%main_width {
    width: 950px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        width: 100%; //margin: 0px 20px 0px 20px;
        margin: 0 auto;
    }
}

%div_center {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}

.clear {
    clear: both;
}
.web{
    display: block;
}
.mob{
    display: none;
}


/*Show menu when invisible checkbox is checked*/

input[type=checkbox]:checked~.content_menu #menu {
    display: block;
}

.image_button_menu {
    content: url("../img/bt_menu.png");
    width: 100%;
    display: block;
}

.image_button_menu_a {
    //content: url("../img/bt_menu_a.png");
    width: 100%;
    display: block;
}

input[type=checkbox] {
    display: none;
    -webkit-appearance: none;
}

//Show menu when invisible checkbox is checked
body {
    border-top: 2px solid #0f5c9b;
    margin: 0;
    padding: 0;
    font-family: Meiryo, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background: $primary-background;
    .img-responsive {
        display: block;
        height: auto;
    }
    .header {
        background: $color-line-top;
        height: 4px;
        margin-bottom: 13px;
        display: none;
    }
    header {
        .navbar-header {
            @extend %main_width; //height: 80px;
            //margin-bottom: 15px;
            .hd_styleLeft {
                margin-bottom: 20px;
                height: 70px;
                padding-top: 19px;
                padding-left: 8px;
                .logo-itnetwork {
                    float: left;
                }
                .contact {
                    float: right;
                    cursor: pointer;
                    display: flex;
                    margin-top: 19px;
                    margin-right: 30px;
                    .number_phone {
                        a {
                            text-decoration: none;
                            p {
                                margin: 0;
                            }
                            .text {
                                margin-top: 4px;
                                font-size: 0.63rem;
                                color: black;
                            }
                        }
                    }
                    .number_phone {
                        transform: translate(18px, 0px);
                    }
                    .email {
                        background: #ffed4d;
                        padding: 13px 21px 0px 23px;
                        margin-left: 5px;
                        transform: translate(30px, -4px);
                        a {
                            text-decoration: none;
                            font-size: 0.875rem;
                            color: #fd7e00;
                        }
                        &:hover {
                            // background: #fff283;
                            // color: #fea54d;
                            cursor: pointer;
                            filter: brightness(125%);
                        }
                    }
                }
            }
        }
        .nav_menu {
            color: white;
            display: flex;
            flex-direction: row;
            padding: 9px 0px 0px 0px;
            .item {
                text-align: center;
                padding: 0px 0px 0px 0px;
                height: 57px;
                border-bottom: 4px solid;
                &:hover {
                    border-bottom: 4px solid $primary-border;
                }
                .item-chil {
                    border-left: 1px solid $primary-border;
                    height: 40px;
                }
            }
            .item-last {
                flex-basis: 100%;
                padding: 0px 2px 0px 0px; // border-right: 1px solid $primary-border;
                .item-chil {
                    border-right: 1px solid $primary-border;
                    height: 40px;
                }
            }
        }
        /*Hide checkbox*/
        /*Style 'show menu' label button and hide it by default*/
        .show-menu {
            text-align: center;
            display: none;
            img {
                width: 40px;
            }
        }
        .content_menu {
            /*Strip the ul of padding and list styling*/
            width: 100%;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                position: absolute;
                height: 500px;
                background: $color-line-top;
                width: 100%;
                li {
                    .begin {
                        display: block;
                        min-width: 140px;
                        height: 50px; //text-align: center;
                        line-height: 25px;
                        color: white;
                        font-size: 0.9375rem;
                        text-decoration: none;
                        position: relative;
                        display: flex;
                        align-items: center;
                        .menu-a {
                            width: 5%;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0px;
                            left: 0%;
                            width: 100%;
                            border-top: 1px solid #fff;
                            border-top-style: dotted;
                        }
                    }
                    .end {
                        p {
                            margin: 0;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0px;
                            left: 0%;
                            width: 100%;
                            border-bottom: 1px solid #fff;
                            border-bottom-style: dotted;
                            height: 55px;
                        }
                    }
                    .menu-top {
                        margin-top: 5%;
                    }
                }
            }
        }
    }
    main {
        // .web {
        //         height: 420px;
        //         background-image: url("../img/Mainimage.png");
        //         background-repeat: no-repeat;
        //         background-position: center;
        //         background-size: cover; 
            
        // }
        // .mainimage_mobile {
        //     display: none;
        // }
        .mainimage{
            .web{
                height: 420px;
                background-image: url("../img/Mainimage.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover; 
            }
        }
        .contents {
            .news {
                @include main_contents(white,
                320px);
                .rows {
                    @extend %main_width;
                    @extend %div_center;
                    border: 1px solid $primary-border;
                    background: white;
                    height: 161px;
                    transform: translate(0, -51%);
                    .items {
                        .items_inner {
                            color: black;
                            display: flex;
                            flex-direction: row;
                            position: absolute;
                            left: 59px;
                            top: 85px;
                            transform: translate(0, -50%);
                            ul {
                                margin-top: 3px;
                                padding-left: 39px;
                                line-height: 1.9;
                                li {
                                    font-size: 1rem;
                                    font-family: Meiryo;
                                    list-style-image: none;
                                    list-style-type: none;
                                    .date {
                                        color: #0e5b9a;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .news_mobile {
                display: none;
            }
            .construction {
                @include main_contents(#eeeeee,
                570px);
                .rows {
                    @extend %main_width;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translate(0, -58%);
                    height: 395px;
                    display: flex;
                    flex-direction: column;
                    .readTextArea {
                        text-align: center;
                    }
                    .textarea {
                        text-align: center;
                        line-height: .4rem;
                        margin-top: 24px;
                        margin-left: 12px;
                        color: #555555; //font-family: Meiryo;
                        font-size: 1rem;
                    }
                    .icons {
                        // text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 100px;
                        .item {
                            width: 220px; 
                        }
                    }
                    .Apartment {
                        padding: 0px 110px 0px 105px;
                    }
                }
            }
            .security {
                min-width: 950px;
                background: white;
                .rows {
                    @extend %main_width;
                    background: white;
                    height: 404px;
                    display: flex;
                    flex-direction: row;
                    .items {
                        width: 492px;
                        height: 387px;
                    }
                    .icons {
                        position: relative;
                        .human {
                            position: absolute;
                            z-index: 1;
                            top: 17px;
                            right: 40px;
                        }
                        .alsok-icon {
                            width: 138px;
                            height: 161px;
                            .icon {
                                position: absolute;
                                z-index: 2;
                                bottom: 58px;
                                right: 27px;
                            }
                        }
                    }
                    .paragraph {
                        .content {
                            margin-top: 76px;
                            margin-left: 37px;
                            .ALSOK {
                                img {
                                    width: 68%;
                                }
                            }
                            .text {
                                line-height: 0.3;
                                padding-top: 6.5px;
                                font-size: 1rem;
                                color: #5c5c5c;
                            }
                            .button {
                                margin-top: 64px;
                                .sp{
                                    display: none;
                                }
                                .pc{
                                    display: block;
                                }
                                img {
                                    width: 80%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .ft_style {
            @include main_contents(#fff,
            $ft_background);
            background: $color-line-top;
            .rows {
                .wraper{
                    position: relative;
                    z-index: 2;
                }
                @extend %main_width;
                .background {
                    background-image: url(../img/ft_background.png);
                    width: 950px;
                    height: $ft_background;
                    background-size: 100% 100%;
                    opacity: .3;
                }
                .object {
                    @include position_abs;
                    transform: translate(-49%, -50%);
                    top: 96px;
                    left: 50%;
                    
                }
                .paragraph {
                    @include position_abs;
                    transform: translate(-49%, -50%);
                    top: 183px;
                    left: 50%;
                    line-height: .6;
                    font-family: "Meiryo", Yu Gothic, Yu Gothic, 'Hiragino Kaku Gothic Pro', Osaka, 'MS P Gothic', 'MS PGothic', sans-serif;
                    font-size: 1rem;
                    .white_t {
                        color: white;
                    }
                    .yellow_t {
                        color: #ffff4c;
                    }
                }
                .contact {
                    display: flex; //@include position_abs;
                    text-align: center;
                    position: absolute;
                    transform: translate(-53%, -50%);
                    top: 277px;
                    left: 50%;
                    .ft_number {
                        transform: translate(7%, 0%);
                        p {
                            margin: 0;
                            img {
                                //width: 92%;
                            }
                        }
                        .white_t {
                            font-size: .7rem;
                            color: white;
                        }
                    }
                    .ft_letter {
                        background: #ffed4d;
                        width: 297px; //padding: 0px 10px 0px 10px;
                        //margin-left: 20px;
                        transform: translate(27%, 0%);
                        a {
                            color: #fd7e00;
                            text-decoration: none;
                            p {
                                //margin: 16px 0px 10px 0;
                                margin: 15px;
                                font-size: .9rem;
                                span {
                                    //font-family: Meiryo, Yu Gothic, Yu Gothic, 'Hiragino Kaku Gothic Pro',  Osaka, 'MS P Gothic', 'MS PGothic', sans-serif;
                                }
                            }
                            &:hover {
                                // background: #fff283;
                                // color: #fea54d;
                                cursor: pointer;
                                filter: brightness(125%);
                            }
                        }
                    }
                }
            }
        }
        .ft_menu {
            @include main_contents(#cccccc,
            120px); //font-family: Meiryo, Yu Gothic, Yu Gothic, 'Hiragino Kaku Gothic Pro',  Osaka, 'MS P Gothic', 'MS PGothic', sans-serif;
            .rows {
                @extend %main_width;
                @extend %div_center;
                transform: translate(0, -53%);
                $color_text: #222222;
                $font_size: .79rem;
                font-weight: bold;
                opacity: .7;
                .f_row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .item {
                        width: auto;
                        text-align: center;
                        padding: 0px 25px 0px 25px;
                        border-left: 1px solid $color_text;
                        a {
                            color: $color_text;
                            font-size: $font_size;
                            text-decoration: none;
                        }
                    }
                    .item-last {
                        border-right: 1px solid $color_text;
                    }
                }
                .s_row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .item {
                        width: auto;
                        text-align: center;
                        margin-top: 5px;
                        padding: 0px 25px 0px 25px;
                        border-left: 1px solid $color_text;
                        a {
                            color: $color_text;
                            font-size: $font_size;
                            text-decoration: none;
                        }
                    }
                    .item-last {
                        border-right: 1px solid $color_text;
                    }
                }
            }
        }
        .fi_it {
            @include main_contents(white,
            50px);
            .rows {
                @extend %main_width;
                .it_net {
                    text-align: center;
                    position: absolute;
                    transform: translate(-60%, -50%);
                    top: 50%;
                    left: 50%;
                    line-height: .6; //font-family: Meiryo, Yu Gothic, Yu Gothic, 'Hiragino Kaku Gothic Pro',  Osaka, 'MS P Gothic', 'MS PGothic', sans-serif;
                    font-size: 1rem;
                    @media screen and (max-width: 768px){
                        @include fs(20/2);
                        @include alh(34/2);
                        transform: translate(-53%, -49%);
                        top: 38%;
                        left: 50%;
                    }
                }

            }
        }
    }
    #back-top {
        background: white;
        overflow: hidden;
        z-index: 999; //display: none;
        cursor: pointer;
        position: fixed;
        bottom: 27%;
        right: 17%;
        text-align: center;
        font-size: 1.8rem;
        text-decoration: none; //padding: 26px 20px 20px 20px;
        padding: 35px 0px 0px 20px;
        &:hover {
            background: rgba(255, 255, 255, 0);
        }
        img {
            width: 94%;
            transform: translate(-12%, -41%);
        }
    }
}

//Responsive//
@media screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    .web{
        display: none;
    }
    .mob{
        display: inline;
    }
    body {
        font-family: 'Hiragino Kaku Gothic Pro' Hiragino, Meiryo, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
        border-top: 5px solid #0f5c9b;
        
        #back-top {
            background: white;
            overflow: hidden;
            z-index: -999; //display: none;
            cursor: pointer;
            position: fixed;
            bottom: 27%;
            right: 17%;
            text-align: center;
            font-size: 1.8rem;
            text-decoration: none; //padding: 26px 20px 20px 20px;
            padding: 35px 0px 0px 20px;
            &:hover {
                background: rgba(255, 255, 255, 0);
            }
            img {
                width: 94%;
                transform: translate(-12%, -41%);
            }
        } //font-family:Hiragino;
        header {
            .navbar-header {
                margin-bottom: 0;
                .hd_styleLeft {
                    height: 60px;
                    padding: 0 10px 0 10px;
                    margin-bottom: 0;
                    .logo-itnetwork {
                        padding: 10px;
                        width: 153px;
                        height: 40px;
                        .img-responsive {
                            width: 100%;
                            content: url("../img/m-it_network.png");
                        }
                    }
                    .contact {
                        display: none;
                    }
                }
            }
            .nav_inner {
                display: none;
            }
            .content_menu {
                /*Make dropdown links appear inline*/
                ul {
                    z-index: 999; //position: absolute;
                    display: none;
                }
                /*Create vertical spacing*/
                li {
                    background: $color-line-top;
                }
                /*Make all menu links full width*/
                ul li,
                li a {
                    width: 93%;
                    margin: 0 auto;
                    img {
                        width: 6px;
                    }
                }
                /*Display 'show menu' link*/
            }
            .show-menu {
                display: block;
                position: absolute;
                top: 13px;
                right: 10px;
            }
        }
        main {
            // .mainimage {
            //     content: '';
            //     background: url("../img/Mainimage_mobile.png") center center no-repeat;
            //     background-size:cover; 
            //     width: 100%;
                
                
            // }
            .contents {
                //@include main_contents_mobile(white, 100%);
                .news {
                    display: none; // margin: 0 20px 0 20px;
                }
                .news_mobile {
                    display: block;
                    @include main_contents_mobile(white);
                    padding: 20px 0 30px 0;
                    height: 320px;
                    .rows {
                        //width: 95%;
                        position: static;
                        border: 1px solid #cecece;
                        margin: 0px 17px 0px 17px;
                        //transform: translate(2.5%, 0%);
                        .items {
                            .items_inner {
                                .list_news {
                                    text-align: center;
                                    padding-top: 20px;
                                    width: 76px;
                                    height: 34px;
                                    margin: 0 auto;
                                    img {
                                        width: 100%;
                                    }
                                }
                                .list_news_button {
                                    margin: 19px auto 20px auto;

                                    width: 130px;
                                    height: 30px;
                                    img {
                                        width: 100%;
                                    }
                                }
                                .text {
                                    // font-family: Hiragino;
                                    @include fs(28/2);
                                    @include alh(44.8/2);
                                    ul {
                                        //width: 85%;
                                        list-style-type: none;
                                        padding: 0;
                                        margin: 15px;
                                        li {
                                            border-top: 1px solid #cccccc;
                                            border-top-style: dotted;
                                            list-style-image: none;
                                            list-style-type: none;
                                            padding: 8px 0px 7px 3px;
                                            .date {
                                                color: #0e5b9a;
                                            }
                                            a{
                                                color: black;
                                                text-decoration: none;
                                                border-bottom: 1px solid;
                                            }
                                        }
                                        .item-last {
                                            border-bottom: 1px solid #cccccc;
                                            border-bottom-style: dotted;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .construction {
                    position: unset;
                    min-width: unset;
                    height: unset;
                    .wrapper{
                        margin: 0px 17px 0px 17px;
                        padding: 15px 0px  15px 0px;
                    }
                    .rows {
                        position: static;
                        transform: none;
                        display: block;
                        height: auto;
                        width: 100%;
                        .textarea {
                            @include fs(28/2);
                            @include alh(44.8/2);
                            margin-top: 15px;
                            margin-left: 0;
                            margin-bottom: 19px;
                            p{
                                margin: 0;
                            }
                        }
                        .icons {
                            margin: 0;
                            .item {
                                position: relative;
                                width: 110px;
                                height: 113px;
                                .item_chil {
                                    width: 100%;
                                }
                            }
                            .Apartment {
                                padding: 0px 5px 0px 5px;
                            }
                        }
                        .readTextArea {
                            width: 185px;
                            height: 34px;
                            margin: 0 auto;
                            padding-top: 19px;
                            img {
                                width: 100%;
                                content: url("../img/m-CONSTRUCTION_.jpg");
                            }
                        }
                    }
                }
                .security {
                    min-width: unset;
                    width: unset;
                    .rows {
                        height: 100%;
                        flex-direction: column-reverse;
                        .items {
                            width: unset;
                            height: unset;
                        }
                        .icons {
                            margin-top: 0;
                            margin-bottom: 0;
                            .wraper{
                                max-width: 370px;
                                width: 100%;
                                position: relative;
                                margin: 0 auto;
                                .icon-human {
                                    width: 228px;
                                    height: 178px;
                                    .human {
                                        content: url("../img/m-icon13.jpg");
                                        position: unset;
                                        z-index: unset;
                                        top: unset;
                                        right: unset;
                                        width: 100%;
                                    }
                                }
                                .alsok-icon {
                                    width: 68px;
                                    height: 80px;
                                    position: absolute;
                                    z-index: 2;
                                    bottom: 26px;
                                    left: 215px;
                                    .icon {
                                        content: url("../img/m-icon2.jpg");
                                        bottom: 17%;
                                        right: 11%;
                                        width: 100%;
                                        position: static;
                                    }
                                }
                            }
                        }
                        .paragraph {
                            .content {
                                text-align: center;
                                width: 90%;
                                //margin: 0px 33px 0px 33px;
                                margin: 0 auto;
                                .text {
                                    color: #535353;
                                    @include fs(28/2);
                                    @include alh(44.8/2);
                                    padding-top: 20px;
                                    p{
                                        margin: 0;
                                    }
                                }
                                .ALSOK {
                                    width: 286px;
                                    height: 43.5px;
                                    margin: 25px auto 0px auto;
                                    img {
                                        content: url("../img/ALSOK_mobile.png");
                                        width: 100%;
                                    }
                                }
                                .button {
                                    width: 275px;
                                    height: 40px;
                                    margin: 20px auto 0px auto;
                                    .pc{
                                        display: none;
                                    }
                                    .sp{
                                        display: block;
                                    }
                                    a {
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        footer {
            .ft_style {
                min-width: unset;
                width: 100%;
                height: 350px;
                .rows {
                    .background {
                        background-image: url(../img/ft_background_mobile.png);
                        width: 100%;
                        background-size: 100% 100%;
                        opacity: .3;
                        position: absolute;
                        top: 0;
                    }
                    .wraper{
                        padding: 15px 0 15px 0;
                        margin: 0px 17px 0px 17px;
                        position: relative;
                        z-index: 2;
                    }
                    .object {
                        position: static;
                        transform: none;
                        margin: 0 auto;
                        width: 286px;
                        height: auto;
                        margin-top: 23px;
                        img {
                            width: 100%;
                            content: url("../img/m-object1.jpg");
                        }
                    }
                    .paragraph {
                        position: static;
                        transform: none;
                        //margin: 0 16px 0px 18px;
                        p{
                            margin: 13px 0 -11px 0;
                            @include fs(28/2);
                            @include alh(39/2);
                           // margin: 0;
                        }
                    }
                    .contact {
                        flex-direction: column;
                        margin-top: 35px;
                        position: static;
                        transform: none;
                        .ft_number {
                            transform: none;
                            .ft_number_phone {
                                width: 200px;
                                //height: 30 px;
                                margin: 0 auto;
                                img {
                                    content: url("../img/m-ft_phone.png");
                                    width: 100%;
                                }
                            }
                            .white_t{
                                @include fs(20/2);
                                @include alh(24/2);
                            }
                        }
                        .ft_letter {
                            margin: 0 auto;
                            transform: none;
                            margin-top: 15px;
                            max-width: 250px;
                            width: 100%;
                            a{
                                position: relative;
                                p{
                                    @include fs(26/2);
                                    @include alh(31.2/2);
                                    padding-left: 19px;
                                    span{
                                        position: absolute;
                                        left: 23px;
                                        top: -2px;
                                    }
                                }

                            }
                        }
                    }
                }
            }
            .ft_menu {
                min-width: unset;
                width: 100%;
                height: 100px;
                .rows {
                    .f_row {
                        justify-content: center;
                        flex-wrap: wrap;
                        .item {
                            @include fs(20/2);
                            width: auto;
                            text-align: center;
                            padding: 0px 16px 0px 16px;
                            margin-top: 2px;
                            border-left: 1px solid #222222;
                        }
                    }
                    .s_row {
                        justify-content: center;
                        flex-wrap: wrap;
                        .item {
                            @include fs(20/2);
                            width: auto;
                            text-align: center;
                            margin-top: 3px;
                            padding: 0px 25px 0px 25px;
                            border-left: none;
                            border-right: 1px solid #222222;
                            
                            &-f{
                                border-left: 1px solid #222222;
                            }
                        }
                        
                    }
                }
                flex-wrap: wrap;
            }
            .fi_it {
                min-width: unset;
                width: 100%;
                
                // top: 40%;
                // left: 52%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        header {
            .content_menu {
                display: none;
            }
        }
    }
}

#back-top {
    display: none;
    z-index: -1;
    right: unset;
}