/*------------------------------------------------------------
footer
------------------------------------------------------------*/

footer{
	width: 100%;
	height: 514px;
	overflow: hidden;
	// min-width: $baseWidth;
	// height: 514px;
	// background-color: #000;
	// background-image: url('../img/index/ft.jpg');
	// background-position: center;
	// background-size: cover;
	.ft-image{
		@include center;
		
	}
}

/* Sitemap
------------------------------------------------------------*/
.c-footSitemap{
	border-top: 1px solid #CCC;
    background: #000;
	padding: 45px 0;
    

	//-------------------------------------------------------
	&__inner{
	    @include containerWidth;
		display: flex;
	    justify-content: space-between;
    }
	
	//-------------------------------------------------------
	&__block{
	   
	}

	//-------------------------------------------------------
	p{
		font-weight: bold;
		font-size: 15px;
		color: #fff;
	}

	//-------------------------------------------------------
	ul{
		font-size: 12px;
	}

	//-------------------------------------------------------
	li{
		margin-top: 6px;
	}

	//-------------------------------------------------------
	a{
		text-decoration: none;
		color: #fff;
	}
}


/* Copyright
------------------------------------------------------------*/
.c-footCopy{
	// padding: 20px 0;
	// border-top: 1px solid #CCC;
	// p{
	// 	text-align: center;
	// 	font-size: 1.2rem;
	// 	line-height: 1;
	// }

}