/*------------------------------------------------------------
header
------------------------------------------------------------*/

/* PC
------------------------------------------------------------*/
.c-headPC{
	border-bottom: 1px solid #CCC;

	//-------------------------------------------------------
	&__inner{
		height: 80px;
		@include center;
		display: flex;
        justify-content: space-between;
        align-items: center;
	}

	//-------------------------------------------------------
	h1{
		
	}

	//-------------------------------------------------------
	ul{
		display: inline-flex;
	}

	//-------------------------------------------------------
	li{
		margin-left: 20px;
		a{
			text-decoration: none;
			font-size: 1.6rem;
			color: $color-text;
		}
	}
	
}

/* 
------------------------------------------------------------*/
.c-gnavi{
	//border-bottom: 1px solid #CCC;

	//-------------------------------------------------------
	ul{
		//@include center;
		@include containerWidth;
		display: flex;
        justify-content: space-between;
		border-left: 1px solid $color-gray;
	}

	//-------------------------------------------------------
	li{
		width: 25%;
		border-right: 1px solid $color-gray;
	}

	//-------------------------------------------------------
	a{
		display: flex;
		text-decoration: none;
		height: 40px;
		font-size: 16px;
		align-items: center;
		font-weight: bold;
        //background: #EFEFEF;
        justify-content: center;
        color: $color-text;
	}
}


/* SP
------------------------------------------------------------*/
// .c-headSP{
// 	border-bottom: 1px solid #CCC;
// 	background: #FFF;
// 	height: 60px;
// 	padding-left: 10px;
// 	position: fixed;
// 	width: 100%;
// 	top: 0;
// 	padding-top: 10px;

// 	//-------------------------------------------------------
// 	&__inner{
// 	    position: relative;
// 		display: flex;
// 	    justify-content: space-between;
// 	    align-items: center;
// 	}
// }

// /* 
// ------------------------------------------------------------*/
// .c-menuSP {
// 	$root:&;
// 	width: 30px;
// 	height: 30px;
// 	top: 11px;
// 	right: 10px;
// 	cursor: pointer;
// 	position: absolute;

// 	//-------------------------------------------------------
// 	&__1,
// 	&__2,
// 	&__3{
// 		width: 100%;
// 		height: 5px;
// 		background: #000;
// 		margin: 6px auto;
// 		backface-visibility: hidden;
// 	}

// 	//-------------------------------------------------------
// 	&.is-open {
// 		#{$root}__1 {
// 			transform:rotate(45deg) translate(7px, 7px);
// 		}

// 		#{$root}__2 {
// 			opacity: 0;
// 		}

// 		#{$root}__3 {
// 			transform:rotate(-45deg) translate(8px, -8px);
// 		}
// 	}
	
// }


// /* 
// ------------------------------------------------------------*/
// .c-menulistSP {
// 	position: absolute;
// 	top: 60px;
// 	left: 0;
// 	width: 100%;
// 	display: none;

// 	//-------------------------------------------------------
// 	ul{
// 		background: #FFF;
// 	}

// 	//-------------------------------------------------------
// 	li{
// 		border-bottom:1px solid #CCC;
// 	}

// 	//-------------------------------------------------------
// 	a{
// 		text-decoration: none;
// 		display: block;
// 		color: #333;
// 		padding: 10px 10px;
// 	}
// }


