/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
	// font-size: 1.4rem;
    line-height: 1.6;
	//min-width: 1920px;
	background-image: url('../img/bg_page.jpg');
    
}


/*
------------------------------------------------------------*/
.l-content{
	@include center;
	display: flex;
    justify-content: space-between;
    
}

/*
------------------------------------------------------------*/
.l-main{
	width: 800px;
	margin-top: 50px;
    
}

/*
------------------------------------------------------------*/
.l-side{
	width: 220px;
	margin-top: 50px;
   
}

/*
------------------------------------------------------------*/
// #container {
//     margin: 0 auto;
// 	min-width: 1920px;
// 	text-align: left;
	
// }


