@charset "UTF-8";
//
//  mixin,extendで使用する
//  using mixin and extend
//

// 文字サイズ
// font size
@mixin fs($fontSize, $baseFontSize:10){
	font-size: #{$fontSize / $baseFontSize}rem;
}


@mixin sh ($height){
	height: #{$height/2}px;
}
@mixin sw ($width){
	width: #{$width/2}px;
}



@mixin sw-p($p, $baseSize:640){
	width: #{($p*100%)/$baseSize};
}
@mixin sh-p($p, $baseSize:640){
	height: #{($p*100%)/$baseSize};
}


/*
	set left, right, top, bottom with %
*/
@mixin top-p($p, $baseSize){
	top: #{($p*100%)/$baseSize};
}
@mixin left-p($p, $baseSize){
	left: #{($p*100%)/$baseSize};
}
@mixin right-p($p, $baseSize){
	right: #{($p*100%)/$baseSize};
}
@mixin bottom-p($p, $baseSize){
	bottom: #{($p*100%)/$baseSize};
}


/*
	set margin with %
*/
@mixin margin-left-p($p, $baseSize:640){
	margin-left: #{($p*100%)/$baseSize};
}
@mixin margin-right-p($p, $baseSize:640){
	margin-right: #{($p*100%)/$baseSize};
}
@mixin margin-top-p($p, $baseSize:640){
	margin-top: #{($p*100%)/$baseSize};
}
@mixin margin-bottom-p($p, $baseSize:640){
	margin-bottom: #{($p*100%)/$baseSize};
}
@mixin negative-margin-top-p($p, $baseSize:640){
	margin-top: -#{($p*100%)/$baseSize};
}

/*
	set padding with %
*/
@mixin padding-left-p($p, $baseSize:640){
	padding-left: #{($p*100%)/$baseSize};
}
@mixin padding-right-p($p, $baseSize:640){
	padding-right: #{($p*100%)/$baseSize};
}
@mixin padding-top-p($p, $baseSize:640){
	padding-top: #{($p*100%)/$baseSize};
}
@mixin padding-bottom-p($p, $baseSize:640){
	padding-bottom: #{($p*100%)/$baseSize};
}


// example:
// @include fs(15);
// @include fs(20, 13);
// ※第二引数のサイズをベースとして20pxになるよう計算された値が出力される

//%にしたい場合は、
//@mixin fs($fontSize, $baseFontSize:10){
//font-size: percentage($fontSize / $baseFontSize);
//}
//に変更

// clearfix（float解除）
%cf {
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
// example:
// @extend %cf;

// clearfix（float解除）
@mixin cf{
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}



// example:
// @extend cf;