@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/

body {
	@media screen and (min-width: 768px){
		// min-width: 800px;
		/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
		min-width: 1920px;
		line-height: 1.5;
		text-align: center;
	}
	
	@media screen and (max-width: 768px){
		width: 100%;
	}
}

#container {
	@media screen and (min-width: 768px){
	margin: 0 auto;
	min-width: 1920px;
	// background-color: #fff;
	text-align: left;
	}
	@media screen and (max-width: 768px){
		width: 100%;
	}
}

.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}

/*------------------------------------------------------------
	background
------------------------------------------------------------*/
.background-color-us{
	background-color: #fff;
}



/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}
@media screen and (max-width: 768px){
	.sp{
		display: block;
	}
	.pc{
		display: none;
	}
}
@media screen and (min-width: 768px){
	.sp{
		display: none;
	}
	.pc{
		display: block;
	}
}
.wrapper{
	max-width: 1920px;
	//width: 1920px;
	width: 100%;
	margin: 0 auto;
}
.wrapper-inner{
	max-width: 1440px;
	
	width: 100%;
	margin: 0 auto;
}

