@media screen and (min-width: 768px) {
    img {
        width: 100%;
    }
    /*--------------------------------------------------------

                           Shincorp MV 
    
    --------------------------------------------------------*/
    /*#region shincorp mv*/
    .shincorp-mv {
        height: 800px;
        position: relative;
        overflow: hidden;
        .background {
            height: 100%;
            background-image: url("../img/pc/bg.jpg");
            background-position: center;
            background-size: cover;
            img {
                display: none;
            }
        }
        .wrap-shincorp-block-2 {
            // width: 880px;
            position: absolute;
            top: -85px;
            left: -70px;
        }
        .wrap-shincorp-block-3 {
            width: 930px;
            height: 350px;
            position: absolute;
            bottom: 222px;
            left: 863px;
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                           Shincorp Campaign 
    
    --------------------------------------------------------*/
    /*#region Shincorp Campaign */
    .shincorp-campaign-pc {
        //width: 586px;
        height: 800px;
        position: relative; //background: #0000;
        background-image: url("../img/sp/bg_p.jpg"); // filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sp/bg_p.jpg', sizingMethod='scale');
        // -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sp/bg_p.jpg', sizingMethod='scale')";
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        .alert-campaign {
            width: 586px;
            height: 920px;
            position: absolute;
            top: -200px;
            left: 0;
        }
        .menu-campaign {
            font-size: 18px;
            text-align: right;
            background-color: #fff;
            height: 100px;
            display: flex;
            align-items: center;
            .content-menu {
                .item {
                    position: relative;
                    display: inline;
                    padding-right: 60px;
                    font-weight: 500;
                    a {
                        color: #000;
                        text-decoration: none;
                        &:link {
                            color: #000;
                        }
                        &:visited {
                            color: #000;
                        }
                    }
                    &::before {
                        content: "";
                        display: block;
                        background: url(../img/pc/icon-menu.png);
                        width: 15px;
                        height: 9px;
                        position: absolute;
                        left: -25px;
                        top: 7px;
                    }
                }
            }
        }
        .shincorp-reservation {
            position: relative;
            z-index: 2;
            margin-top: 60px; // .reservation-banner {}
            .reservation-btn {
                margin-top: 25px;
                width: 474px;
                height: 77px;
            }
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                           Shincorp FFE 
    
    --------------------------------------------------------*/
    /*#region Shincorp FFE */
    .shincorp-ffe-pc {
        .ffe-title {
            width: 380px;
            margin: 0 auto;
            padding-top: 124px;
        }
        .period-limited {
            margin-top: 50px;
            font-size: 20px;
            font-weight: 500; // text-align: center;
            background-color: #10222b;
            color: #fff;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .period-limited-chil {
            padding-bottom: 40px;
            .period-limited-table {
                border-collapse: collapse;
                td {
                    width: 50%;
                }
                tr {
                    height: 120px;
                    border: 1px solid #c8c8c8;
                }
                .btn-experience {
                    width: 192px;
                    position: relative;
                    display: inline-block;
                    margin-left: 189px;
                    &::before {
                        content: "体験レッスン";
                        display: block;
                        font-size: 21px;
                        color: #fff;
                        position: absolute;
                        top: 20px;
                        left: 24px;
                    }
                }
                .btn-free-practice {
                    width: 192px;
                    position: relative;
                    display: inline-block;
                    margin-left: 42px; //margin-left: 180px;
                    &::before {
                        content: "フリー練習";
                        display: block;
                        font-size: 21px;
                        color: #fff;
                        position: absolute;
                        top: 20px;
                        left: 24px;
                    }
                }
                .price {
                    width: 292px;
                    display: inline-block;
                }
            }
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                           Shincorp Regular fee
    
    --------------------------------------------------------*/
    /*#region Shincorp Regular fee*/
    .shincorp-regular-fee-pc {
        padding-bottom: 130px;
        .regular-title {
            //margin-top: 50px;
            font-size: 20px;
            font-weight: 500; // text-align: center;
            background-color: #10222b;
            color: #fff;
            height: 50px; // display: flex;
            h2 {
                transform: translateY(15px)
            }
        }
        .regular-table {
            text-align: center;
            font-size: 15px;
            border-collapse: collapse;
            td {
                border: 1px solid #c8c8c8;
            }
            .header {
                background: #dddddd;
            }
            tr:nth-child(even) {
                background-color: #f8f8f8;
            }
            .content-row {
                td:nth-child(2) {
                    border-left: 0px !important; //background: red;
                }
            }
            .col-1 {
                text-align: left;
                font-weight: bold;
                line-height: 24px;
            }
            .col-2,
            .col-3,
            .col-4,
            .col-5 {
                width: 280px;
                height: 50px;
                font-weight: bold;
                &--pink {
                    color: #ff1e5b;
                }
            }
            .tab {
                color: #3c3c3c;
                display: table-cell;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .text {
                width: 228px;
                display: table-cell;
                padding-left: 35px;
                vertical-align: middle;
            }
            strike {
                text-decoration: none;
                position: relative;
                display: inline-block;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-top: 2px solid red;
                    height: 45%;
                    height: calc(50% - 1px);
                    width: 100%;
                    transform: rotateZ(-4deg);
                }
            }
            .color-text {
                color: #ff1e5b;
            }
        }
        .regular-button {
            padding-top: 20px;
            display: flex;
            align-items: center;
            .text {
                font-size: 15px;
                font-weight: bold;
                padding-right: 30px;
                padding-left: 10px;
            }
            .button {
                display: inline-block;
            }
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                           Shincorp reservation
    
    --------------------------------------------------------*/
    /*#region reservation*/
    .shincorp-reservation-pc {
        position: relative;
        height: 745px;
        .reservation-text {
            width: 769px;
            margin: 0 auto;
            position: relative;
            z-index: 2;
            padding-top: 170px;
        }
        .reservation-btn {
            position: relative;
            z-index: 3; //width: fit-content;
            display: table;
            margin: 0 auto; //padding-top: 5px;
        }
        .reservation-here,
        .reservation-phone {
            display: inline-block;
            width: 420px;
            text-align: center;
            padding: 20px;
        }
        .reservation-phone {
            &::after {
                content: '';
                background-image: url(../img/pc/time.png);
                width: 277px;
                height: 50px;
                display: block;
                margin: 15px auto 0 auto;
                background-repeat: no-repeat;
                padding-top: 15px;
            }
        }
        .reservation-bg {
            position: absolute;
            top: 0;
            z-index: 0;
            background-color: #fff
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                           Shincorp INSTRUCTOR
    
    --------------------------------------------------------*/
    /*#region INSTRUCTOR*/
    .shincorp-instructor-pc {
        .instructor-title {
            position: relative;
            width: 735px;
            margin: 0 auto;
        }
        .instructor-content {
            //display: table-row;
            padding: 30px;
            width: 936px; //height: 285px;
            margin: 0 auto;
            display: flex;
            border: 1px solid #c8c8c8;
            margin-top: 50px; //margin-bottom: 100px;
            .i-content-img {
                width: 272px;
                display: table-cell;
                margin-right: 30px;
            }
            .i-content-info {
                display: table-cell;
                .info-name {
                    font-size: 18px;
                    margin-top: 10px;
                }
                .info-ex {
                    font-size: 15px;
                    margin-top: 20px;
                }
                .info-detail {
                    width: 636px;
                    margin-top: 20px;
                }
            }
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                           Shincorp shop
    
    --------------------------------------------------------*/
    /*#region shop*/
    .shincorp-shop-pc {
        .shincorp-shop-title {
            width: 609px;
            margin: 0 auto;
        }
        .shop-imageList {
            // display: table;
            // margin:  0 auto;
            padding: 50px 0 130px 0;
            .thumnail {
                display: inline-block;
                width: 270px;
                padding-right: 19px;
                &--last {
                    padding-right: 0px;
                }
            }
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                           Shincorp access map
    
    --------------------------------------------------------*/
    /*#region  access-map*/
    .shincorp-access-map-pc {
        padding-bottom: 120px;
        .access-map-google {
            float: left;
            .access-map-title {
                font-size: 56px;
            }
            .google-map {
                width: 1100px;
                height: 480px;
            }
        }
        .access-map-info {
            float: right;
            padding-top: 11px;
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                            Footer map
                            ft-infomation=260
                            ft-arrows = 409
    --------------------------------------------------------*/
    /*#region shop*/
    .ft-infomation {
        background-color: #eeeeee;
        text-align: center;
        padding: 80px 0px 75px 0px;
        .i-title {
            font-size: 64px;
        }
    }
    .i-notice {
        font-size: 32px;
    }
    .i-content {
        font-size: 15px;
    }
    .ft-arrows {
        background-color: #33c49d; // @include fs(24/2);
        color: #fff;
        text-align: center;
        .ft-arrows-logo {
            width: 490px;
            margin: 0 auto;
            padding: 44px 0px 48px 0px;
        }
        .ft-arrows-text {
            margin: 0 auto;
            padding-bottom: 50px;
        }
    }
    .ft-copyright {
        background-color: #3c3c3c;
        height: 40px;
        color: #fff;
        text-align: center;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*#endregion*/
}