


@media screen and (max-width: 768px) {
    /*#region general*/
    body {
        background-image: url("../img/sp/bg_p.jpg"); // filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sp/bg_p.jpg', sizingMethod='scale');
        // -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sp/bg_p.jpg', sizingMethod='scale')";
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    #container {
        overflow: hidden;
    }
    .hide-colection {
        display: none !important;
    }
    .hide-table {
        padding: 0px !important;
        height: 0px !important;
        display: none !important;
    }
    img {
        width: 100%;
    }
    /*#endregion*/
    /*--------------------------------------------------------

                           Shincorp MV 
    
    --------------------------------------------------------*/
    /*#region MV*/
    .shincorp-mv {
        .wrap-shincorp-block {
            position: absolute;
            top: 0;
            width: 100%;
        }
        .shincorp-block-1 {
            width: 100%;
            .block-1-img {
                width: 100%;
            }
        }
        .shincorp-block-2 {
            @include sh-p(620,
            961);
            .wrap-img {
                @include sw-p(560);
                margin: 65% auto 0px auto;
            }
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                          Shincorp Campaign
    
    --------------------------------------------------------*/
    /* #region  Shincorp Campaign*/
    .shincorp-campaign {
        @include negative-margin-top-p(65,
        961);
        .alert-campaign {
            width: 100%;
        }
        .shincorp-reservation {
            position: relative;
            .reservation-bg {}
            .reservation-btn {
                position: absolute;
                bottom: 8.6%;
                width: 100%;
                left: 6.25%;
                .wrap-img {
                    @include sw-p(560);
                }
            }
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                            Price list
    
    --------------------------------------------------------*/
    /*#region Pricelist*/
    .shincorp-ffe {
        width: 100%; //height: 300px;
        .icon-ffe {
            @include sw-p(379);
            @include padding-top-p(60,
            380);
            @include padding-bottom-p(35,
            380);
            margin: 0 auto;
        }
        .btn-period-limited {
            @include padding-bottom-p(20,
            380);
            .wrap-img {
                @include sw-p(640);
            }
        }
        .group-btn-ffe {
            @include sw-p(580);
            margin-left: auto;
            margin-right: auto;
        }
        .btn-experience-lesson,
        .btn-free-practice {
            @include sw-p(280,
            580);
        }
        .group-price {
            @include sw-p(580);
            margin-left: auto;
            margin-right: auto;
            @include padding-bottom-p(35,
            320);
        }
        .price {
            @include sw-p(191);
        }
        .price-experience {
            float: left;
            margin-top: 10px; //@include margin-top-p(27,235);
            @include margin-left-p(40,
            580);
        }
        .price-free {
            float: right;
            margin-top: 10px; //@include margin-top-p(27,235);
            @include margin-right-p(40,
            580);
        }
        .btn-experience-lesson {
            float: left; //@include margin-right-p(30);
        }
        .btn-free-practice {
            float: right; //@include margin-left-p(30);
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                            Regular fee
    
    --------------------------------------------------------*/
    /*#region Regular fee*/
    .shincorp-regular-fee {
        -moz-transition: height 1s;
        -ms-transition: height 1s;
        -o-transition: height 1s;
        -webkit-transition: height 1s;
        transition: height 1s;
        position: relative;
        padding-bottom: 24px;
        .table-row {
            position: relative;
        }
        .icon-row {
            position: absolute;
            @include sw-p(40);
            height: 2px;
            top: 50%;
            right: 10%;
        }
        .icon-row-add {
            position: absolute;
            @include sw-p(40);
            top: 35%;
            right: 10%;
        } // 1460
        .fee-table-content {
            padding-top: 15px;
            padding-bottom: 15px;
        //height: 100%;
        }
        .table-fee {
            @include fs(24/2);
            @include sw-p(580);
            display: table;
            margin: 0 auto;
            border-collapse: collapse;
            overflow: hidden;
            td {
                border: 1px solid #c8c8c8;
                height: 45px;
            }
            tr{
                //height: 90px;
            }
            .fee-colume-1 {
                @include sw-p(260,
                580);
                @include padding-left-p(30,
                260);
            }
            .fee-colume-2 {
                @include sw-p(320,
                580);
                @include padding-left-p(30,
                320);
            }
            strike {
                text-decoration: none;
                position: relative;
                display: inline-block;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-top: 2px solid red;
                    height: 45%;
                    height: calc(50% - 1px);
                    width: 100%;
                    transform: rotateZ(-4deg);
                }
            }
            .color-text{
                color: #ff1e5b;
            }
        }
        .bnt-lesson,
        .btn-discount {
            @include sw-p(560); //margin: 15px auto 15px auto;
            margin-left: auto;
            margin-right: auto;
            @include margin-top-p(3,
            303);
            @include margin-bottom-p(20,
            303);
        }
        .hour,
        .free-practice {
            @include sw-p(500);
            margin-left: auto;
            margin-right: auto; //margin: 0 auto;
            @include margin-top-p(10,
            303);
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                            reservation height=717
    
    --------------------------------------------------------*/
    /*#region reservation*/
    .shincorp-reservation {
        @include padding-top-p(30,
        717);
        .reservation-background {
            position: relative;
            .group-btn-reservation {
                position: absolute;
                @include bottom-p(265,
                1040);
                @include right-p(38,
                640);
                @include sw-p(560);
                .reservation-phone {
                    @include margin-top-p(10,
                    220);
                }
            }
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                            instructor height=781
    
    --------------------------------------------------------*/
    /*#region instructor*/
    .shincorp-instructor {
        @include padding-top-p(100,
        781);
        .wrap-img {
            @include sw-p(560);
            margin: 0 auto;
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                            shop height=715
    
    --------------------------------------------------------*/
    /*#region shop*/
    .shincorp-shop {
        @include padding-top-p(140,
        715);
        .shincorp-shop-title {
            margin: 0 auto;
            @include sw-p(573);
        }
        .shop-imageList {
            margin: 0 auto;
            @include sw-p(573);
            @include margin-top-p(50,
            715)
        }
        .imageList-cell {
            @include sw-p(272,
            573);
            @include padding-top-p(5,
            284);
            @include padding-right-p(5,
            284);
            @include padding-bottom-p(5,
            284);
            @include padding-left-p(5,
            284);
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                            Access map
                            shincorp-access-map=887
    
    --------------------------------------------------------*/
    /*#region shop*/
    .shincorp-access-map {
        .access-map-title {
            font-size: 5.6rem;
            text-align: center;
            @include padding-top-p(100,887);
            @include padding-bottom-p(50,887);
        }
        .access-map-google {
            @include sw-p(560);
            margin: 0 auto;
        }
        .google-map {
            width: 100%;
            height: 240px;
        }
        .access-map-info {
            @include sw-p(560);
            margin: 0 auto;
            @include padding-bottom-p(140,887);
        }
    }
    /*#endregion*/
    /*--------------------------------------------------------

                            Footer map
                            ft-infomation=260
                            ft-arrows = 409
    --------------------------------------------------------*/
    /*#region shop*/
    .ft-infomation {
        background-color: #eeeeee;
        text-align: center;
        @include padding-top-p(27,
        260);
        @include padding-bottom-p(47,
        260);
        .i-title {
            @include fs(70);
        }
    }
    .i-notice {
        @include fs(32);
    }
    .i-content {
        @include fs(24);
    }
    .ft-arrows-pc{

    }
    .ft-arrows {
        background-color: #33c49d;
        @include fs(24/2);
        color: #fff;
        text-align: center;
        .ft-arrows-logo {
            @include sw-p(480);
            margin: 0 auto;
            @include padding-top-p(40,
            409);
            @include padding-bottom-p(30,
            409);
        }
        .ft-arrows-text {
            @include sw-p(550);
            margin: 0 auto;
            @include padding-bottom-p(60,
            409);
        }
    }
    .ft-copyright {
        background-color: #3c3c3c;
        color: #fff;
        //text-align: center;
        @include fs(20/2);
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*#endregion*/
}