@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

$v_arr:200;
//margin (top, right, bottom, left) with value (xxx).px
@for $i from 1 through $v_arr {
    .p-space1-#{$i} {
        margin-top: #{$i}px;
    }
}
@for $i from 2 through $v_arr {
    .p-space2-#{$i} {
        margin-right: #{$i}px;
    }
}
@for $i from 3 through $v_arr {
    .p-space3-#{$i} {
        margin-bottom: #{$i}px;
    }
}
@for $i from 4 through $v_arr {
    .p-space4-#{$i} {
        margin-left: #{$i}px;
    }
} 

//padding (top, right, bottom, left) with value (xxx).px
@for $i from 1 through $v_arr {
    .p-space1-p-#{$i} {
        padding-top: #{$i}px;
    }
}
@for $i from 2 through $v_arr {
    .p-space2-p-#{$i} {
        padding-right: #{$i}px;
    }
}
@for $i from 3 through $v_arr {
    .p-space3-p-#{$i} {
        padding-bottom: #{$i}px;
    }
}
@for $i from 4 through $v_arr {
    .p-space4-p-#{$i} {
        padding-left: #{$i}px;
    }
} 


