@charset "UTF-8";
@import "_chill_common";
$color-text: #025995;
.visual {
    position: relative;
    .bg {
        top: 0;
        right: 0;
        display: flex;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
}

/*-----------------------------------------------------------------------------------------
    Start page index.html
-----------------------------------------------------------------------------------------*/

#container-index {
    .visual {
        height: 876px;
        .bg {
            background-image: url("/assets/img/index/bg.jpg");
            display: block !important;
            .bg-text {
                position: absolute;
                top: 207px !important;
                right: 216px !important;
            }
        }
    }
    .container {
        .block-news {
            display: flex;
            background-color: #e7f5ff;
            height: 200px;
            #wraper {
                display: flex;
                align-items: center;
            }
            .content {
                float: left;
                .bnt-news {
                    //content: url('/assets/img/index/icon-1.png');
                    position: relative;
                    z-index: 2;
                    background-color: #015294;
                    border: 2px solid #015294;
                    color: #fff;
                    line-height: 50px;
                    transition: all 0.5s;
                    font-size: 17px;
                    width: 175px;
                    height: 45px;
                    border-radius: 5px;
                    background-image: url('/assets/img/index/icon-1.png');
                    background-size: 75px 12px;
                    background-repeat: no-repeat;
                    background-position: center;
                    &:hover {
                        background-image: url('/assets/img/index/icon-2.png');
                        background-size: 75px 12px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: #fff;
                        border-color: #015294;
                        color: #015294;
                    }
                }
                .article {
                    font-size: 13px;
                    text-align: left;
                    padding-top: 38px;
                    padding-left: 69px;
                    .item {
                        display: flex;
                        padding: 0 0 35px 0px;
                    }
                    .item-title {
                        padding-left: 61px;
                    }
                }
            }
        }
        .c-information {
            overflow: hidden;
            .content {
                text-align: left;
                width: 1520px; // &--left{
                //     width: 1520px;
                // }
                // &--right{
                //     width: 750px;
                // }
                .content-info {
                    .info-article {
                        font-size: 14px;
                        width: 471px;
                        padding-top: 21px;
                        h3 {
                            line-height: 20px;
                        }
                    }
                    .info-button {
                        //padding-top: 70px;
                        position: absolute;
                        bottom: 0;
                    }
                    .button-detail {
                        position: relative;
                        z-index: 2;
                        background-color: #0291aa;
                        border: 2px solid #0291aa;
                        color: #fff;
                        line-height: 50px;
                        transition: all 0.5s;
                        font-size: 17px;
                        width: 470px;
                        height: 50px;
                        border-radius: 5px;
                        background-image: url('/assets/img/index/btn-detail.png');
                        background-size: 195px 15px;
                        background-repeat: no-repeat;
                        background-position: center;
                        &:hover {
                            background-image: url('/assets/img/index/btn-detail-h.png');
                            background-size: 195px 15px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-color: #fff;
                            border-color: #0291aa;
                            color: #0291aa;
                        }
                    }
                    &--left {
                        .content-info-inner {
                            padding-right: 70px;
                            height: 353px;
                            position: relative;
                        }
                    }
                    &--right {
                        .content-info-inner {
                            padding-left: 70px;
                            height: 353px;
                            position: relative;
                        }
                    }
                }
            }
        }
        .information-1 {
            padding: 50px 0px 80px 0px;
        }
        .information-2 {
            padding: 80px 0px 80px 0px;
        }
        .information-3 {
            padding: 80px 0px 80px 0px;
        }
    }
}

/*-----------------------------------------------------------------------------------------
    End page index.html
-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------
    Start page news.html
-----------------------------------------------------------------------------------------*/

#container-news {
    .visual {
        height: 400px;
        width: 100%;
        .bg {
            background-image: url("/assets/img/news/bg.jpg");
            justify-content: center;
            align-items: center;
            .bg-text {
                margin-top: 125px;
            }
        }
    }
    .c-news {
        text-align: left;
        height: 415px;
        .blocl-title {
            .b-title {
                font-size: 20px;
                color: #025995;
                &::after {
                    content: '';
                    border-bottom: 1px solid #025995;
                    width: 100%;
                    display: block;
                }
            }
            .b-date {
                font-size: 14px;
                line-height: 20px;
                color: #009fbb;
                .wraper {
                    height: 50px;
                    padding: 10px 0 0 0;
                    .date-text {
                        padding: 0px 0 0 13px;
                    }
                }
            }
        }
        .block-content {
            .content-text {
                width: 600px;
                float: left;
                font-size: 14px;
                &--noImg {
                    width: 100% !important;
                }
                p {
                    line-height: 20px;
                    margin-bottom: 20px;
                }
            }
            .content-photo {
                width: 430px;
                height: 300px;
                float: right;
                overflow: hidden;
                -webkit-transition: .5s;
                transition: .5s;
                &:hover {
                    -webkit-box-shadow: 0 15px 35px #777;
                    -moz-box-shadow: 0 15px 35px #777;
                    box-shadow: 0 15px 35px #777;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                .wraper-img {
                    width: 430px;
                    height: 300px;
                    overflow: hidden;
                    float: right;
                }
            }
        }
        &--gray {
            background: #f7f7f7;
        }
        &--white {
            background: #fff;
        }
        &--1 {
            padding: 117px 0px 35px 0px;
        }
        &--2 {
            padding: 57px 0px 35px 0px;
        }
        &--3 {
            padding: 57px 0px 48px 0px;
        }
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #000000d9;
    }
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        height: auto;
        width: 400px;
    }
    .mySlides {
        height: 100%;
        ;
    }
    /* The Close Button */
    .close {
        color: white;
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 50px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }
}

/*-----------------------------------------------------------------------------------------
    End page news.html
-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------
    Start page company.html
-----------------------------------------------------------------------------------------*/

#container-company {
    .visual {
        height: 400px;
        width: 100%;
        .bg {
            background-image: url("/assets/img/company/bg.jpg");
            justify-content: center;
            align-items: center;
            .bg-text {
                margin-top: 125px;
            }
        }
    }
    .container {
        //min-height: 1500px;
    }
    .c-company {
        text-align: left;
        padding: 80px 0px 80px 0px;
        &--white {
            background-color: #fff;
        }
        &--gray {
            background-color: #f7f7f7;
        }
        &--1 {}
        &--2 {}
        &--3 {}
        &--4 {}
    } //greeting css
    .greeting {
        .greeting-title {
            margin-bottom: 28px;
        }
        .greeting-article {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 52px;
            .wraper-article {
                .article {
                    padding-bottom: 19px;
                    &--last {
                        padding-bottom: 0px;
                    }
                }
            }
        }
        .greeting-signatures {
            text-align: right;
            margin-bottom: 35px;
        }
        .greeting-image {
            width: 100%;
            height: 218px;
            img {
                height: 100%;
            }
        }
    }
    .profile {
        .profile-title {
            margin-bottom: 35px;
            margin-top: -5px;
        }
        .profile-table {
            font-size: 14px;
            line-height: 60px;
            .table-info {
                width: 100%;
                border-collapse: collapse;
                td {
                    padding: 25px 0px 25px 0px;
                }
                .col-1 {
                    width: 180px;
                    border-bottom: 1px solid #d4d4d4;
                    background-color: #e7f5ff;
                    padding-left: 40px; //vertical-align: text-top;
                    //background-color: aqua;
                    &--first {
                        border-top: 1px solid #d4d4d4;
                    }
                }
                .col-2 {
                    border-bottom: 1px solid #d4d4d4;
                    background-color: #fff;
                    padding-left: 40px;
                    &--first {
                        border-top: 1px solid #d4d4d4;
                    }
                }
            }
        }
    }
    .staff-introduction {
        //height: 530px;
        font-size: 14px; //line-height: 60px;
        .staff-title {
            margin-bottom: 28px;
        }
        .staff-gallery {
            height: 455px;
        }
        .item {
            float: left; //padding-bottom: 50px;
            padding-right: 28px;
            .item-photo {
                width: 239px;
                height: 167px;
                padding: 4px;
                border: 1px solid #aaa8a9;
                -webkit-transition: .5s;
                transition: .5s;
                &:hover {
                    -webkit-box-shadow: 0 15px 35px #777;
                    -moz-box-shadow: 0 15px 35px #777;
                    box-shadow: 0 15px 35px #777;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
            }
            .item-title {
                text-align: center;
            }
            &--last {
                padding-right: 0px;
                padding-bottom: 50px; //padding-top: 8px;
            }
        }
    }
    .access-map {
        .map-title {
            margin-bottom: 35px;
        }
        .map-content {
            width: 1085px;
            height: 460px;
            border: 1px solid #d4d4d4;
        }
    }
}

/*-----------------------------------------------------------------------------------------
    End page company.html
-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------
    Start page company.html
-----------------------------------------------------------------------------------------*/

#container-business {
    .visual {
        height: 400px;
        width: 100%;
        .bg {
            background-image: url("/assets/img/business/bg.jpg");
            justify-content: center;
            align-items: center;
            .bg-text {
                margin-top: 125px;
            }
        }
    }
    .container {}
    .c-business {}
    .block-1 {
        width: 100%;
        ;
        vertical-align: text-top;
    }
    .block-2 {
        width: 100%;
        text-align: right;
        .wraper-img {
            width: 430px;
            height: 300px;
            overflow: hidden;
            float: right;
            margin-right: 15px;
            -webkit-transition: .5s;
            transition: .5s;
            &:hover {
                -webkit-box-shadow: 0 15px 35px #777;
                -moz-box-shadow: 0 15px 35px #777;
                box-shadow: 0 15px 35px #777;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }
    }
    .business-content {
        text-align: left;
        table-layout: fixed;
        width: 100%;
        .business-title {
            margin-bottom: 20px;
            .icon {
                font-size: 28px;
                color: #009fbb;
            }
            .title {
                font-size: 20px;
                color: #025995;
            }
        }
        .business-article {
            font-size: 14px;
            line-height: 20px;
            .text {
                padding-bottom: 25px;
                &--last {
                    padding-bottom: 0px;
                }
            }
        }
    }
    .business-wraper {
        padding: 25px;
        border: 1px solid #009fbb;
    }
}

/*-----------------------------------------------------------------------------------------
    End page company.html
-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------
    Start page case.html
-----------------------------------------------------------------------------------------*/

#container-case {
    .visual {
        height: 400px;
        width: 100%;
        .bg {
            background-image: url("/assets/img/case/bg.jpg");
            justify-content: center;
            align-items: center;
            .bg-text {
                margin-top: 125px;
            }
        }
    }
    .container {
        min-height: 1000px;
    }
    .group-button {
        .info-button {
            .button-detail {
                position: relative;
                z-index: 2;
                background-color: #0291aa;
                border: 2px solid #0291aa;
                color: #fff;
                line-height: 50px;
                transition: all 0.5s;
                font-size: 17px;
                width: 260px;
                height: 50px;
                border-radius: 5px;
                background-repeat: no-repeat;
                background-position: center;
                &:hover {
                    background-color: #016f82;
                    border: 2px solid #016f82;
                }
            }
            .detail-1 {
                background-image: url('/assets/img/case/btn_1.png');
            }
            .detail-2 {
                background-image: url('/assets/img/case/btn_2.png');
            }
            .detail-3 {
                background-image: url('/assets/img/case/btn_3.png');
            }
            .detail-1-click {
                background-image: url('/assets/img/case/btn_1_h.png');
            }
            .detail-2-click {
                background-image: url('/assets/img/case/btn_2_h.png');
            }
            .detail-3-click {
                background-image: url('/assets/img/case/btn_3_h.png');
            }
            .button-detail-click {
                position: relative;
                z-index: 2;
                background-color: #fff;
                border: 2px solid #0291aa;
                transition: all 0.5s;
                width: 260px;
                height: 50px;
                border-radius: 5px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .group-button-text {
            font-size: 23px;
            color: $color-text;
            &::after {
                content: '';
                border-bottom: 1px solid #015294;
                display: block;
            }
        }
    }
    .c-case {
        text-align: left;
        .case-title {
            font-size: 20px;
            background-color: #e1f0fa;
            color: $color-text;
            padding: 13px 0px 13px 20px;
            margin-bottom: 30px;
        }
        .case-table {
            table-layout: fixed;
            width: 100%;
            overflow: hidden;
        }
        .case-table-col-img {
            width: 430px;
            height: 350px;
            .case-table-photo {
                width: 430px;
                height: 300px;
                overflow: hidden;
                -webkit-transition: .5s;
                transition: .5s;
                &:hover {
                    -webkit-box-shadow: 6px 8px 15px 0px #777;
                    -moz-box-shadow: 6px 8px 15px 0px #777;
                    box-shadow: 6px 8px 15px 0px #777;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
            }
        }
        .case-table-col-1 {
            vertical-align: top;
        }
        .case-table-col-2 {
            vertical-align: top;
            height: 100%;
            .table-information {
                font-size: 13px;
                margin-left: 50px;
                border-collapse: collapse;
                width: 100%;
                tr {
                    height: 50px;
                }
                .information-col-1 {
                    border-bottom: 1px solid #d8d7d7;
                    width: 160px;
                    p {
                        padding-left: 20px;
                    }
                    &--first {
                        border-top: 1px solid #d8d7d7;
                    }
                }
                .information-col-2 {
                    border-bottom: 1px solid #d8d7d7;
                    &--first {
                        border-top: 1px solid #d8d7d7;
                    }
                }
            }
        }
    }
}

/*-----------------------------------------------------------------------------------------
    End page case.html
-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------
    Start page recruit.html
-----------------------------------------------------------------------------------------*/

#container-recruit{
    .visual {
        height: 400px;
        width: 100%;
        .bg {
            background-image: url("/assets/img/recruit/bg.jpg");
            justify-content: center;
            align-items: center;
            .bg-text {
                margin-top: 125px;
            }
        }
    }
    .container{
        min-height: 1000px;
    }
    .c-article{
        text-align: left;
        font-size: 14px;
        .wrap , .article-img{
            display: table-cell;
        }
        .wrap{
            width: 670px;
            vertical-align: top;
        }
        .article-img{
            text-align: right;
            width: 415px;
            
            .wrap-img{
                margin-top: 20px;
                margin-right: 0;
                margin-left: auto;
                width: 355px;
                height: 240px;
            }
        }
    }
    .c-gfa{
        text-align: left;
        font-size: 14px;
        line-height: 60px;
        background-color: #f7f7f7;
        .gfa-title {
            padding-top: 75px;
            margin-bottom: 27px;
        }
        .gfa-content{
            padding-bottom: 80px;
        }
        .table-info {
            width: 100%;
           
            border-collapse: collapse;
            td {
                padding: 25px 0px 25px 0px;
            }
            .col-1 {
                width: 218px;
                border-bottom: 1px solid #d4d4d4;
                background-color: #e7f5ff;
                padding-left: 60px; //vertical-align: text-top;
                //background-color: aqua;
                &--first {
                    border-top: 1px solid #d4d4d4;
                }
            }
            .col-2 {
                border-bottom: 1px solid #d4d4d4;
                background-color: #fff;
                padding-left: 40px;
                &--first {
                    border-top: 1px solid #d4d4d4;
                }
            }
        }
    }
    .c-banner{
        .banner-content{
            position: relative;
        }
        .banner-button{
            position: absolute;
            bottom: 33px;
            left: 46px;
            bottom: 40px;
            left: 40px;
        }
    }
    .button-detail{
        position: relative;
        z-index: 2;
        background-color: #0291aa;
        border: 2px solid #0291aa;
        color: #fff;
        line-height: 50px;
        transition: all 0.5s;
        font-size: 17px;
        width: 470px;
        height: 50px;
        border-radius: 5px;
        background-image: url('/assets/img/recruit/icon_mail.png');
        background-repeat: no-repeat; 
        background-position: center;
        &:hover {
            background-image: url('/assets/img/recruit/icon_mail_h.png');
           
            background-repeat: no-repeat; 
            background-position: center;
            background-color: #fff;
            border-color: #0291aa;
            color: #0291aa;
        }
    }
}

/*-----------------------------------------------------------------------------------------
    End page recruit.html
-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------
    Start page contact.html
-----------------------------------------------------------------------------------------*/

#container-contact{
    .visual {
        height: 400px;
        width: 100%;
        .bg {
            background-image: url("/assets/img/contact/bg.jpg");
            justify-content: center;
            align-items: center;
            .bg-text {
                margin-top: 125px;
            }
        }
    }
    
    .container {
        min-height: 1000px;
    }
    
    .contact-us {
        text-align: left;
        font-size: 14px;
        .contact-us-title {
            margin-bottom: 25px;
        }
    }
    
    .contact-form {
        text-align: left;
        font-size: 14px;
    }
    
    .contactForm {
        background-color: #f7f7f7;
        padding: 80px 0 80px 0;
        .contact-form-title {
            margin-bottom: 45px;
        }
        .contact-table {
            table-layout: fixed;
            width: 100%; //overflow: hidden;
            .label {
                width: 160px;
                color: #0361a7;
            }
            .label-state {
                width: 75px;
            }
            .input_form {
                width: 100%;
                .wrap {
                    height: 53px;
                    display: flex;
                    align-items: center;
                }
            }
            .content-label {
                width: 28px;
                padding: 5px;
                text-align: center;
                color: #fff;
                &--green {
                    background-color: #0362a8;
                }
                &--gray {
                    background-color: #8c8b8b;
                }
            }
        }
    }
    
    .submit-form {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 125px;
        padding-left: 40px;
        .btn-submit-form {
            background-color: #0291aa;
            border: 2px solid #0291aa;
            color: #fff;
            line-height: 50px;
            transition: all 0.5s;
            width: 310px;
            height: 50px;
            border-radius: 4px;
            background-image: url('/assets/img/index/btn-detail.png');
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
                background-color: #00798e;
                border-color: #00798e;
            }
        }
    }
    
    input[type=text],
    select {
        padding: 9px 18px;
        margin: 2px 0;
        display: inline-block;
        border: 1px solid #eaeaea;
        box-sizing: border-box;
        height: 53px;
    }
    
    textarea {
        padding: 9px 18px;
        margin: 2px 0;
        display: inline-block;
        border: 1px solid #eaeaea;
        box-sizing: border-box;
        height: 150px;
        resize: none;
    }
    .c-w-100-p{
        width: 100%;
    }
    .c-w-130{
        width: 130px;
    }
    .c-w-180{
        width: 180px;
    }
}

/*-----------------------------------------------------------------------------------------
    End page contact.html
-----------------------------------------------------------------------------------------*/