//margin top with value (xxx).px
@for $i from 1 through 200 {
	.p-space1-#{$i} {
		margin-top: #{$i}px;
	}
  }
//margin bottom with value (xxx).px
@for $i from 1 through 200 {
	.p-space2-#{$i} {
		margin-bottom: #{$i}px;
	}
  }

//margin left with value (xxx).px
  @for $i from 1 through 200 {
	.p-space3-#{$i} {
		margin-left: #{$i}px;
	}
  }
  //margin right with value (xxx).px
  @for $i from 1 through 200 {
	.p-space4-#{$i} {
		margin-right: #{$i}px;
	}
  }

.bg-color{
	&--gray{
		background: #f5f5f5;
	}
	&--white{
		background: white;
	}
}


