@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.f-left{
	float: left;
}
.f-right{
	float: right;
}
.m-left{
	margin-left: 220px;
}