@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
@import "common";
@import "chill_page";
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/

header {
    .headerInner {
        height: 120px;
        height: 120px;
        position: fixed;
        background: #fff;
        z-index: 999;
        width: 100%;
    }
    .contact {
        background: #015294;
    }
    .content {
        height: 47px;
        .header-text {
            color: #fff;
            @include fs(12);
            @include alh(21);
            margin-top: 19px;
        }
        .tel {
            padding-right: 21px;
        }
        .header-button {
            padding-top: 3px;
        }
        .contact {
            color: #fff;
            @include fs(14);
            @include alh(25.42);
            background: #009fbb;
            display: inline-block;
            padding: 4px 32px 0px 4px;
            border-radius: 5px;
            width: 155px;
            position: relative;
            text-decoration: none;
            margin-top: 4px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: .5s;
            transition: .5s;
            &::after {
                content: '';
                display: block;
                position: absolute;
                background-image: url('../img/icon_mail.png');
                background-position: center center;
                background-repeat: no-repeat;
                height: 20px;
                width: 20px;
                right: 24px;
                top: 7px;
            }
            &:hover {
                background-color: #03ccef; //background: linear-gradient(to right, #009fbb ,#03ccef);
                // -webkit-box-sizing: border-box;
                // -moz-box-sizing: border-box;
                // box-sizing: border-box;
                // -webkit-transition:  .5s;
                transition: .5s;
            }
        }
    }
    .nav {
        width: 100%;
        .nav-inner {}
        .nav-logo {
            float: left;
            margin-top: 6px;
            img {
                width: 297px;
                height: 62px;
            }
        }
        .nav-menu {
            //width: 750px;
            margin-top: 22px;
            display: inline-block;
            float: right;
            .item {
                display: inline-block;
                height: 30px;
                border-left: 1px solid;
                opacity: .7;
                transition: all 0.2s;
                &--l {
                    border-right: 1px solid;
                }
              
                img{
                    width: 100%;
                }
                .item-chil {
                    display: table;
                    height: 35px;
                    position: relative;
                    z-index: 2;
                    transition: all 0.1s;
                    &::after {
                        content: "";
                        display: block;
                        width: 0%;
                    }
                    &:hover {
                        border-bottom: 4px solid #009fbb;
                    }
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .menu_active{
       
        opacity: 1 !important;
   
        .item-chil {
            border-bottom: 4px solid #009fbb;
        }
    }
}

footer {
    .bg-footer {
        height: 108px;
        width: 100%;
        background-image: url(/assets/img/index/footer-bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .fGroup {
        height: 170px;
        background: #003c7f;
        display: flex;
        align-items: center;
       
        .fGroup-inner {
            height: 90px;
            position: relative;
        } //space 60px
        .fGroup-logo {
            width: 408px;
            height: 100%;
            margin-right: 17px;
            .fGroup-logo-text {
                font-size: 12px;
                line-height: 18px;
                text-align: left;
                color: #fff;
            }
        }
        .fGroup-contact {
            width: 320px;
            height: 100%;
            border-left: 1px solid #809ebf;
            text-align: left;
            padding-left: 26px;
            color: #fff;
            font-size: 12px;
            line-height: 18px;
        }
        .fGroup-email {
            position:absolute;
            bottom: 0;
            right: 0;
            .table-fGroup-email {
                height: 40px;
                font-size: 12px;
                margin-bottom: 6px;
                .color {
                    color: #3b75b5;
                }
            }
            width: 330px;
            height: 100%;
            text-align: left;
            color: #fff;
            .col-1 {
                width: 170px;
            }
            .col-2 {
                width: 100px;
            }
            .footer-button {
                .contact {
                    background: white;
                    height: 45px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    position: relative;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-transition: .5s;
                    transition: .5s;
                    text-decoration: none;
                    padding-right: 20px;
                    color: #003b6b;
                    &:link{
                        color: #003b6b;
                    }&:visited{
                        color: #003b6b;
                    }
                    &:active{
                        color: #003b6b;
                    }
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        background-image: url('/assets/img/icon_mail_ft.png');
                        background-position: center center;
                        background-repeat: no-repeat;
                        height: 22px;
                        width: 22px;
                        right: 40px;
                        top: 10px;
                    }
                    &:hover {
                        background: #6cace0;
                    }
                }
            }
        }
    }
    .copyright {
        height: 50px;
        background: #002f64;
        text-align: left;
        font-size: 12px;
        line-height: 30px;
        color: #608fbf;
        display: flex;
        align-items: center;
    }
}