@charset "UTF-8";
body header .navbar-header, body main .contents .news .rows, body main .contents .construction .rows, body main .contents .security .rows, body footer .ft_style .rows, body footer .ft_menu .rows, body footer .fi_it .rows {
  width: 950px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    body header .navbar-header, body main .contents .news .rows, body main .contents .construction .rows, body main .contents .security .rows, body footer .ft_style .rows, body footer .ft_menu .rows, body footer .fi_it .rows {
      width: 100%;
      margin: 0 auto; } }

body main .contents .news .rows, body footer .ft_menu .rows {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%; }

.clear {
  clear: both; }

.web {
  display: block; }

.mob {
  display: none; }

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ .content_menu #menu {
  display: block; }

.image_button_menu {
  content: url("../img/bt_menu.png");
  width: 100%;
  display: block; }

.image_button_menu_a {
  width: 100%;
  display: block; }

input[type=checkbox] {
  display: none;
  -webkit-appearance: none; }

body {
  border-top: 2px solid #0f5c9b;
  margin: 0;
  padding: 0;
  font-family: Meiryo, µ╕╕πé┤πé╖πââπé»Σ╜ô, 'Yu Gothic', YuGothic, 'πâÆπâ⌐πé«πâÄΦºÆπé┤πé╖πââπé» Pro', 'Hiragino Kaku Gothic Pro', πâíπéñπâ¬πé¬, Osaka, '∩╝¡∩╝│ ∩╝░πé┤πé╖πââπé»', 'MS PGothic', sans-serif;
  background: #fff; }
  body .img-responsive {
    display: block;
    height: auto; }
  body .header {
    background: #0f5c9b;
    height: 4px;
    margin-bottom: 13px;
    display: none; }
  body header {
    /*Hide checkbox*/
    /*Style 'show menu' label button and hide it by default*/ }
    body header .navbar-header .hd_styleLeft {
      margin-bottom: 20px;
      height: 70px;
      padding-top: 19px;
      padding-left: 8px; }
      body header .navbar-header .hd_styleLeft .logo-itnetwork {
        float: left; }
      body header .navbar-header .hd_styleLeft .contact {
        float: right;
        cursor: pointer;
        display: flex;
        margin-top: 19px;
        margin-right: 30px; }
        body header .navbar-header .hd_styleLeft .contact .number_phone a {
          text-decoration: none; }
          body header .navbar-header .hd_styleLeft .contact .number_phone a p {
            margin: 0; }
          body header .navbar-header .hd_styleLeft .contact .number_phone a .text {
            margin-top: 4px;
            font-size: 0.63rem;
            color: black; }
        body header .navbar-header .hd_styleLeft .contact .number_phone {
          transform: translate(18px, 0px); }
        body header .navbar-header .hd_styleLeft .contact .email {
          background: #ffed4d;
          padding: 13px 21px 0px 23px;
          margin-left: 5px;
          transform: translate(30px, -4px); }
          body header .navbar-header .hd_styleLeft .contact .email a {
            text-decoration: none;
            font-size: 0.875rem;
            color: #fd7e00; }
          body header .navbar-header .hd_styleLeft .contact .email:hover {
            cursor: pointer;
            filter: brightness(125%); }
    body header .nav_menu {
      color: white;
      display: flex;
      flex-direction: row;
      padding: 9px 0px 0px 0px; }
      body header .nav_menu .item {
        text-align: center;
        padding: 0px 0px 0px 0px;
        height: 57px;
        border-bottom: 4px solid; }
        body header .nav_menu .item:hover {
          border-bottom: 4px solid #dddddd; }
        body header .nav_menu .item .item-chil {
          border-left: 1px solid #dddddd;
          height: 40px; }
      body header .nav_menu .item-last {
        flex-basis: 100%;
        padding: 0px 2px 0px 0px; }
        body header .nav_menu .item-last .item-chil {
          border-right: 1px solid #dddddd;
          height: 40px; }
    body header .show-menu {
      text-align: center;
      display: none; }
      body header .show-menu img {
        width: 40px; }
    body header .content_menu {
      /*Strip the ul of padding and list styling*/
      width: 100%; }
      body header .content_menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        height: 500px;
        background: #0f5c9b;
        width: 100%; }
        body header .content_menu ul li .begin {
          display: block;
          min-width: 140px;
          height: 50px;
          line-height: 25px;
          color: white;
          font-size: 0.9375rem;
          text-decoration: none;
          position: relative;
          display: flex;
          align-items: center; }
          body header .content_menu ul li .begin .menu-a {
            width: 5%; }
          body header .content_menu ul li .begin:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0%;
            width: 100%;
            border-top: 1px solid #fff;
            border-top-style: dotted; }
        body header .content_menu ul li .end p {
          margin: 0; }
        body header .content_menu ul li .end:after {
          content: '';
          position: absolute;
          bottom: 0px;
          left: 0%;
          width: 100%;
          border-bottom: 1px solid #fff;
          border-bottom-style: dotted;
          height: 55px; }
        body header .content_menu ul li .menu-top {
          margin-top: 5%; }
  body main .mainimage .web {
    height: 420px;
    background-image: url("../img/Mainimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  body main .contents .news {
    position: relative;
    background: white;
    height: 320px;
    min-width: 950px; }
    body main .contents .news .rows {
      border: 1px solid #dddddd;
      background: white;
      height: 161px;
      transform: translate(0, -51%); }
      body main .contents .news .rows .items .items_inner {
        color: black;
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 59px;
        top: 85px;
        transform: translate(0, -50%); }
        body main .contents .news .rows .items .items_inner ul {
          margin-top: 3px;
          padding-left: 39px;
          line-height: 1.9; }
          body main .contents .news .rows .items .items_inner ul li {
            font-size: 1rem;
            font-family: Meiryo;
            list-style-image: none;
            list-style-type: none; }
            body main .contents .news .rows .items .items_inner ul li .date {
              color: #0e5b9a; }
  body main .contents .news_mobile {
    display: none; }
  body main .contents .construction {
    position: relative;
    background: #eeeeee;
    height: 570px;
    min-width: 950px; }
    body main .contents .construction .rows {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translate(0, -58%);
      height: 395px;
      display: flex;
      flex-direction: column; }
      body main .contents .construction .rows .readTextArea {
        text-align: center; }
      body main .contents .construction .rows .textarea {
        text-align: center;
        line-height: .4rem;
        margin-top: 24px;
        margin-left: 12px;
        color: #555555;
        font-size: 1rem; }
      body main .contents .construction .rows .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px; }
        body main .contents .construction .rows .icons .item {
          width: 220px; }
      body main .contents .construction .rows .Apartment {
        padding: 0px 110px 0px 105px; }
  body main .contents .security {
    min-width: 950px;
    background: white; }
    body main .contents .security .rows {
      background: white;
      height: 404px;
      display: flex;
      flex-direction: row; }
      body main .contents .security .rows .items {
        width: 492px;
        height: 387px; }
      body main .contents .security .rows .icons {
        position: relative; }
        body main .contents .security .rows .icons .human {
          position: absolute;
          z-index: 1;
          top: 17px;
          right: 40px; }
        body main .contents .security .rows .icons .alsok-icon {
          width: 138px;
          height: 161px; }
          body main .contents .security .rows .icons .alsok-icon .icon {
            position: absolute;
            z-index: 2;
            bottom: 58px;
            right: 27px; }
      body main .contents .security .rows .paragraph .content {
        margin-top: 76px;
        margin-left: 37px; }
        body main .contents .security .rows .paragraph .content .ALSOK img {
          width: 68%; }
        body main .contents .security .rows .paragraph .content .text {
          line-height: 0.3;
          padding-top: 6.5px;
          font-size: 1rem;
          color: #5c5c5c; }
        body main .contents .security .rows .paragraph .content .button {
          margin-top: 64px; }
          body main .contents .security .rows .paragraph .content .button .sp {
            display: none; }
          body main .contents .security .rows .paragraph .content .button .pc {
            display: block; }
          body main .contents .security .rows .paragraph .content .button img {
            width: 80%; }
  body footer .ft_style {
    position: relative;
    background: #fff;
    height: 360px;
    min-width: 950px;
    background: #0f5c9b; }
    body footer .ft_style .rows .wraper {
      position: relative;
      z-index: 2; }
    body footer .ft_style .rows .background {
      background-image: url(../img/ft_background.png);
      width: 950px;
      height: 360px;
      background-size: 100% 100%;
      opacity: .3; }
    body footer .ft_style .rows .object {
      text-align: center;
      position: absolute;
      transform: translate(-49%, -50%);
      top: 96px;
      left: 50%; }
    body footer .ft_style .rows .paragraph {
      text-align: center;
      position: absolute;
      transform: translate(-49%, -50%);
      top: 183px;
      left: 50%;
      line-height: .6;
      font-family: "Meiryo", Yu Gothic, Yu Gothic, 'Hiragino Kaku Gothic Pro', Osaka, 'MS P Gothic', 'MS PGothic', sans-serif;
      font-size: 1rem; }
      body footer .ft_style .rows .paragraph .white_t {
        color: white; }
      body footer .ft_style .rows .paragraph .yellow_t {
        color: #ffff4c; }
    body footer .ft_style .rows .contact {
      display: flex;
      text-align: center;
      position: absolute;
      transform: translate(-53%, -50%);
      top: 277px;
      left: 50%; }
      body footer .ft_style .rows .contact .ft_number {
        transform: translate(7%, 0%); }
        body footer .ft_style .rows .contact .ft_number p {
          margin: 0; }
        body footer .ft_style .rows .contact .ft_number .white_t {
          font-size: .7rem;
          color: white; }
      body footer .ft_style .rows .contact .ft_letter {
        background: #ffed4d;
        width: 297px;
        transform: translate(27%, 0%); }
        body footer .ft_style .rows .contact .ft_letter a {
          color: #fd7e00;
          text-decoration: none; }
          body footer .ft_style .rows .contact .ft_letter a p {
            margin: 15px;
            font-size: .9rem; }
          body footer .ft_style .rows .contact .ft_letter a:hover {
            cursor: pointer;
            filter: brightness(125%); }
  body footer .ft_menu {
    position: relative;
    background: #cccccc;
    height: 120px;
    min-width: 950px; }
    body footer .ft_menu .rows {
      transform: translate(0, -53%);
      font-weight: bold;
      opacity: .7; }
      body footer .ft_menu .rows .f_row {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        body footer .ft_menu .rows .f_row .item {
          width: auto;
          text-align: center;
          padding: 0px 25px 0px 25px;
          border-left: 1px solid #222222; }
          body footer .ft_menu .rows .f_row .item a {
            color: #222222;
            font-size: 0.79rem;
            text-decoration: none; }
        body footer .ft_menu .rows .f_row .item-last {
          border-right: 1px solid #222222; }
      body footer .ft_menu .rows .s_row {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        body footer .ft_menu .rows .s_row .item {
          width: auto;
          text-align: center;
          margin-top: 5px;
          padding: 0px 25px 0px 25px;
          border-left: 1px solid #222222; }
          body footer .ft_menu .rows .s_row .item a {
            color: #222222;
            font-size: 0.79rem;
            text-decoration: none; }
        body footer .ft_menu .rows .s_row .item-last {
          border-right: 1px solid #222222; }
  body footer .fi_it {
    position: relative;
    background: white;
    height: 50px;
    min-width: 950px; }
    body footer .fi_it .rows .it_net {
      text-align: center;
      position: absolute;
      transform: translate(-60%, -50%);
      top: 50%;
      left: 50%;
      line-height: .6;
      font-size: 1rem; }
      @media screen and (max-width: 768px) {
        body footer .fi_it .rows .it_net {
          font-size: 1rem;
          line-height: 1.7rem;
          transform: translate(-53%, -49%);
          top: 38%;
          left: 50%; } }
  body #back-top {
    background: white;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    position: fixed;
    bottom: 27%;
    right: 17%;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 35px 0px 0px 20px; }
    body #back-top:hover {
      background: rgba(255, 255, 255, 0); }
    body #back-top img {
      width: 94%;
      transform: translate(-12%, -41%); }

@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%; }

  .web {
    display: none; }

  .mob {
    display: inline; }

  body {
    font-family: 'Hiragino Kaku Gothic Pro' Hiragino, Meiryo, µ╕╕πé┤πé╖πââπé»Σ╜ô, 'Yu Gothic', YuGothic, 'πâÆπâ⌐πé«πâÄΦºÆπé┤πé╖πââπé» Pro', πâíπéñπâ¬πé¬, Osaka, '∩╝¡∩╝│ ∩╝░πé┤πé╖πââπé»', 'MS PGothic', sans-serif;
    border-top: 5px solid #0f5c9b; }
    body #back-top {
      background: white;
      overflow: hidden;
      z-index: -999;
      cursor: pointer;
      position: fixed;
      bottom: 27%;
      right: 17%;
      text-align: center;
      font-size: 1.8rem;
      text-decoration: none;
      padding: 35px 0px 0px 20px; }
      body #back-top:hover {
        background: rgba(255, 255, 255, 0); }
      body #back-top img {
        width: 94%;
        transform: translate(-12%, -41%); }
    body header .navbar-header {
      margin-bottom: 0; }
      body header .navbar-header .hd_styleLeft {
        height: 60px;
        padding: 0 10px 0 10px;
        margin-bottom: 0; }
        body header .navbar-header .hd_styleLeft .logo-itnetwork {
          padding: 10px;
          width: 153px;
          height: 40px; }
          body header .navbar-header .hd_styleLeft .logo-itnetwork .img-responsive {
            width: 100%;
            content: url("../img/m-it_network.png"); }
        body header .navbar-header .hd_styleLeft .contact {
          display: none; }
    body header .nav_inner {
      display: none; }
    body header .content_menu {
      /*Make dropdown links appear inline*/
      /*Create vertical spacing*/
      /*Make all menu links full width*/
      /*Display 'show menu' link*/ }
      body header .content_menu ul {
        z-index: 999;
        display: none; }
      body header .content_menu li {
        background: #0f5c9b; }
      body header .content_menu ul li,
      body header .content_menu li a {
        width: 93%;
        margin: 0 auto; }
        body header .content_menu ul li img,
        body header .content_menu li a img {
          width: 6px; }
    body header .show-menu {
      display: block;
      position: absolute;
      top: 13px;
      right: 10px; }
    body main .contents .news {
      display: none; }
    body main .contents .news_mobile {
      display: block;
      position: unset;
      background: white;
      min-width: 100%;
      padding: 20px 0 30px 0;
      height: 320px; }
      body main .contents .news_mobile .rows {
        position: static;
        border: 1px solid #cecece;
        margin: 0px 17px 0px 17px; }
        body main .contents .news_mobile .rows .items .items_inner .list_news {
          text-align: center;
          padding-top: 20px;
          width: 76px;
          height: 34px;
          margin: 0 auto; }
          body main .contents .news_mobile .rows .items .items_inner .list_news img {
            width: 100%; }
        body main .contents .news_mobile .rows .items .items_inner .list_news_button {
          margin: 19px auto 20px auto;
          width: 130px;
          height: 30px; }
          body main .contents .news_mobile .rows .items .items_inner .list_news_button img {
            width: 100%; }
        body main .contents .news_mobile .rows .items .items_inner .text {
          font-size: 1.4rem;
          line-height: 2.24rem; }
          body main .contents .news_mobile .rows .items .items_inner .text ul {
            list-style-type: none;
            padding: 0;
            margin: 15px; }
            body main .contents .news_mobile .rows .items .items_inner .text ul li {
              border-top: 1px solid #cccccc;
              border-top-style: dotted;
              list-style-image: none;
              list-style-type: none;
              padding: 8px 0px 7px 3px; }
              body main .contents .news_mobile .rows .items .items_inner .text ul li .date {
                color: #0e5b9a; }
              body main .contents .news_mobile .rows .items .items_inner .text ul li a {
                color: black;
                text-decoration: none;
                border-bottom: 1px solid; }
            body main .contents .news_mobile .rows .items .items_inner .text ul .item-last {
              border-bottom: 1px solid #cccccc;
              border-bottom-style: dotted; }
    body main .contents .construction {
      position: unset;
      min-width: unset;
      height: unset; }
      body main .contents .construction .wrapper {
        margin: 0px 17px 0px 17px;
        padding: 15px 0px  15px 0px; }
      body main .contents .construction .rows {
        position: static;
        transform: none;
        display: block;
        height: auto;
        width: 100%; }
        body main .contents .construction .rows .textarea {
          font-size: 1.4rem;
          line-height: 2.24rem;
          margin-top: 15px;
          margin-left: 0;
          margin-bottom: 19px; }
          body main .contents .construction .rows .textarea p {
            margin: 0; }
        body main .contents .construction .rows .icons {
          margin: 0; }
          body main .contents .construction .rows .icons .item {
            position: relative;
            width: 110px;
            height: 113px; }
            body main .contents .construction .rows .icons .item .item_chil {
              width: 100%; }
          body main .contents .construction .rows .icons .Apartment {
            padding: 0px 5px 0px 5px; }
        body main .contents .construction .rows .readTextArea {
          width: 185px;
          height: 34px;
          margin: 0 auto;
          padding-top: 19px; }
          body main .contents .construction .rows .readTextArea img {
            width: 100%;
            content: url("../img/m-CONSTRUCTION_.jpg"); }
    body main .contents .security {
      min-width: unset;
      width: unset; }
      body main .contents .security .rows {
        height: 100%;
        flex-direction: column-reverse; }
        body main .contents .security .rows .items {
          width: unset;
          height: unset; }
        body main .contents .security .rows .icons {
          margin-top: 0;
          margin-bottom: 0; }
          body main .contents .security .rows .icons .wraper {
            max-width: 370px;
            width: 100%;
            position: relative;
            margin: 0 auto; }
            body main .contents .security .rows .icons .wraper .icon-human {
              width: 228px;
              height: 178px; }
              body main .contents .security .rows .icons .wraper .icon-human .human {
                content: url("../img/m-icon13.jpg");
                position: unset;
                z-index: unset;
                top: unset;
                right: unset;
                width: 100%; }
            body main .contents .security .rows .icons .wraper .alsok-icon {
              width: 68px;
              height: 80px;
              position: absolute;
              z-index: 2;
              bottom: 26px;
              left: 215px; }
              body main .contents .security .rows .icons .wraper .alsok-icon .icon {
                content: url("../img/m-icon2.jpg");
                bottom: 17%;
                right: 11%;
                width: 100%;
                position: static; }
        body main .contents .security .rows .paragraph .content {
          text-align: center;
          width: 90%;
          margin: 0 auto; }
          body main .contents .security .rows .paragraph .content .text {
            color: #535353;
            font-size: 1.4rem;
            line-height: 2.24rem;
            padding-top: 20px; }
            body main .contents .security .rows .paragraph .content .text p {
              margin: 0; }
          body main .contents .security .rows .paragraph .content .ALSOK {
            width: 286px;
            height: 43.5px;
            margin: 25px auto 0px auto; }
            body main .contents .security .rows .paragraph .content .ALSOK img {
              content: url("../img/ALSOK_mobile.png");
              width: 100%; }
          body main .contents .security .rows .paragraph .content .button {
            width: 275px;
            height: 40px;
            margin: 20px auto 0px auto; }
            body main .contents .security .rows .paragraph .content .button .pc {
              display: none; }
            body main .contents .security .rows .paragraph .content .button .sp {
              display: block; }
            body main .contents .security .rows .paragraph .content .button a img {
              width: 100%; }
    body footer .ft_style {
      min-width: unset;
      width: 100%;
      height: 350px; }
      body footer .ft_style .rows .background {
        background-image: url(../img/ft_background_mobile.png);
        width: 100%;
        background-size: 100% 100%;
        opacity: .3;
        position: absolute;
        top: 0; }
      body footer .ft_style .rows .wraper {
        padding: 15px 0 15px 0;
        margin: 0px 17px 0px 17px;
        position: relative;
        z-index: 2; }
      body footer .ft_style .rows .object {
        position: static;
        transform: none;
        margin: 0 auto;
        width: 286px;
        height: auto;
        margin-top: 23px; }
        body footer .ft_style .rows .object img {
          width: 100%;
          content: url("../img/m-object1.jpg"); }
      body footer .ft_style .rows .paragraph {
        position: static;
        transform: none; }
        body footer .ft_style .rows .paragraph p {
          margin: 13px 0 -11px 0;
          font-size: 1.4rem;
          line-height: 1.95rem; }
      body footer .ft_style .rows .contact {
        flex-direction: column;
        margin-top: 35px;
        position: static;
        transform: none; }
        body footer .ft_style .rows .contact .ft_number {
          transform: none; }
          body footer .ft_style .rows .contact .ft_number .ft_number_phone {
            width: 200px;
            margin: 0 auto; }
            body footer .ft_style .rows .contact .ft_number .ft_number_phone img {
              content: url("../img/m-ft_phone.png");
              width: 100%; }
          body footer .ft_style .rows .contact .ft_number .white_t {
            font-size: 1rem;
            line-height: 1.2rem; }
        body footer .ft_style .rows .contact .ft_letter {
          margin: 0 auto;
          transform: none;
          margin-top: 15px;
          max-width: 250px;
          width: 100%; }
          body footer .ft_style .rows .contact .ft_letter a {
            position: relative; }
            body footer .ft_style .rows .contact .ft_letter a p {
              font-size: 1.3rem;
              line-height: 1.56rem;
              padding-left: 19px; }
              body footer .ft_style .rows .contact .ft_letter a p span {
                position: absolute;
                left: 23px;
                top: -2px; }
    body footer .ft_menu {
      min-width: unset;
      width: 100%;
      height: 100px;
      flex-wrap: wrap; }
      body footer .ft_menu .rows .f_row {
        justify-content: center;
        flex-wrap: wrap; }
        body footer .ft_menu .rows .f_row .item {
          font-size: 1rem;
          width: auto;
          text-align: center;
          padding: 0px 16px 0px 16px;
          margin-top: 2px;
          border-left: 1px solid #222222; }
      body footer .ft_menu .rows .s_row {
        justify-content: center;
        flex-wrap: wrap; }
        body footer .ft_menu .rows .s_row .item {
          font-size: 1rem;
          width: auto;
          text-align: center;
          margin-top: 3px;
          padding: 0px 25px 0px 25px;
          border-left: none;
          border-right: 1px solid #222222; }
          body footer .ft_menu .rows .s_row .item-f {
            border-left: 1px solid #222222; }
    body footer .fi_it {
      min-width: unset;
      width: 100%; } }
@media screen and (min-width: 768px) {
  body header .content_menu {
    display: none; } }
#back-top {
  display: none;
  z-index: -1;
  right: unset; }

/*# sourceMappingURL=style.css.map */
