<div class="headerInner">
        <div class="contact">
            <div class="c-wraper">
                <div class="content">
                    <div class="header-text afleft">
                        <h1>総和建設は、東京都・神奈川県を中心に型枠工事を展開する建設会社です。</h1>
                    </div>
                    <div class="header-button afright ">
                        <a href="contact.html" class="contact">お問い合わせ</a>
                    </div>
                    <div class="tel afright ">
                        <img src="assets/img/tel-header.jpg" alt="046-280-6667">
                    </div>
                </div>
            </div>
        </div>

        <div class="nav">
            <div class="c-wraper" class="nav-inner">
                <div class="nav-logo ">
                    <img src="assets/img/logo-sowa.jpg" alt="">
                </div>
                <div class="nav-menu">
                    <ul class="list-menu">
                        <li id="m_index" class="item">
                            <a  class="item-chil " href=".">
                                <img src="assets/img/home.jpg" alt="ホーム - Home">
                            </a>
                        </li>
                        <li id="m_news" class="item item--m">
                            <a  class="item-chil" href="news.html">
                                <img src="assets/img/news.jpg" alt="新着情報・お知らせ - News">
                            </a>
                        </li>
                        <li id="m_company" class="item item--s">
                            <a  class="item-chil" href="company.html">
                                <img src="assets/img/company.jpg" alt="会社案内 -  Company">
                            </a>
                        </li>
                        <li id="m_business" class="item item--s">
                            <a  class="item-chil" href="business.html">
                                <img src="assets/img/business.jpg" alt="業務内容 - business">
                            </a>
                        </li>
                        <li id="m_case" class="item item--s">
                            <a  class="item-chil" href="case.html" >
                                <img src="assets/img/case.jpg" alt="施工事例 - Case">
                            </a>
                        </li>
                        <li id="m_recruit" class="item  item--l item--s">
                            <a  class="item-chil item-chil--l" href="recruit.html">
                                <img src="assets/img/index/recruit.jpg" alt="求人情報 - Recruit">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>